@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Expert.Solution.Models.Ado.ExpertDatabases db = new Expert.Solution.Models.Ado.ExpertDatabases();
    /*
    var urun = db.IkUrunler.ToList();
    var beden = db.IkUrunlerBeden.ToList();

    var sizes = new SelectList(db.IkUrunlerBeden, "id", "bedenAdi");
    */
    int s = 0;
}

@*
    <div class="row">
        <div class="col-4">
            <input value="col-4" class="form-input"/>
        </div>

        <div class="col-8">

            <input value="col-8" class="form-input" />
        </div>

    </div>
*@
<style>
    .accordion-button {
        border-bottom-width: 1px !important;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

        .accordion-button:focus {
            box-shadow: none !important;
        }

    .scrollbar-primary::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #4285F4;
    }
</style>
<div class="container-full" style="min-height:100%;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">I.K. Ürünler</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Forms</li>
                            <li class="breadcrumb-item active" aria-current="page">HR Products</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    @*
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    *@


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <h4 class="box-title text-info mb-0">Products</h4>
                        <div class="text-end">
                            <div class="row">
                                <div class="col-8">
                                    <input id="search-product" class="form-control" placeholder="Search" />

                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-primary">Add New</a>
                                </div>
                            </div>
                        </div>
                        <hr class="my-15">
                        <div class="row">


                            <div class="accordion scrollbar-primary" id="accordionPanels" style="height: 500px; overflow-y: scroll;">
                                @*
                                    @foreach (var item in Model)
                                    {
                                        s++;
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading-@s">
                                                <button class="accordion-button waves-effect waves-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@s" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                    @item.Name
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapse-@s" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@s">
                                                <div class="accordion-body">
                                                    @foreach (var sizeItem in item.ProductSize)
                                                    {
                                                        <ul class="todo-list ui-sortable">
                                                            <li class="p-10">
                                                                <!-- todo text -->
                                                                <span class="text-line">@sizeItem.Name</span>
                                                                <!-- Emphasis label -->
                                                                <small class="badge bg-@(sizeItem.Stock < 5 ? "danger" : "success" ) text-end"> @sizeItem.Stock</small>
                                                                <!-- General tools such as edit or delete-->
                                                                <div class="tools">
                                                                    <a onclick="ikBedenGüncelle(@sizeItem.Id)" href="#"><i class="fa fa-edit"></i></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                *@
                            </div>



                            @*
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    @foreach (var item in Model)
                                    {
                                        s++;
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading-@s">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@s" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                    Accordion Item #1
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapse-@s" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@s">
                                                <div class="accordion-body">
                                                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            *@





                            @*
                                <div class="tab-content">
                                    <div id="navpills-1" class="tab-pane active">
                                        <!-- Categroy 1 -->
                                        <div class=" tab-pane animation-fade active" id="category-1" role="tabpanel">
                                            <div class="panel-group panel-group-simple panel-group-continuous" id="accordion2" aria-multiselectable="true" role="tablist">
                                                <!-- Question 1 -->
                                                @foreach (var item in Model)
                                                {
                                                    <div class="panel">
                                                        <div class="panel-heading" id="question-@item.Id" role="tab">
                                                            <a class="panel-title collapsed" aria-controls="answer-@item.Id" aria-expanded="false" data-bs-toggle="collapse" href="#answer-@item.Id" data-parent="#accordion2">
                                                                @item.Name
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="answer-@item.Id" aria-labelledby="question-@item.Id" role="tabpanel" data-bs-parent="#category-@item.Id" style="">
                                                            <div class="panel-body">
                                                                @foreach (var sizeItem in item.ProductSize)
                                                                {
                                                                    <ul class="todo-list ui-sortable">
                                                                        <li class="p-10">
                                                                            <!-- todo text -->
                                                                            <span class="text-line">@sizeItem.Name</span>
                                                                            <!-- Emphasis label -->
                                                                            <small class="badge bg-@(sizeItem.Stock < 5 ? "danger" : "success" ) text-end"> @sizeItem.Stock</small>
                                                                            <!-- General tools such as edit or delete-->
                                                                            <div class="tools">
                                                                                <a onclick="ikBedenGüncelle(@sizeItem.Id)" href="#"><i class="fa fa-edit"></i></a>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- End Categroy 1 -->
                                    </div>
                                </div>
                            *@


                        </div>
                        <hr class="my-15">
                        <div class="row">
                            <div id="prod_result">

                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->
            </div>

            <div id="editsizemodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editsizemodal" aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="editsizemodal">Update Size</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="~/Staff/IkSizeUpdate" method="post">
                                <input type="hidden" name="id" id="id" />
                                <input type="hidden" name="ikUrunlerId" class="form-control" id="ikUrunlerId">
                                <div class="form-group">

                                    <label class="col-md-12 form-label">Beden Adı</label>
                                    <div class="col-md-12">
                                        <input type="text" name="bedenAdi" class="form-control" placeholder="Beden Adı" id="bedenAdi">
                                    </div>

                                    <label class="col-md-12 form-label">Stok</label>
                                    <div class="col-md-12">
                                        <input type="number" name="stok" class="form-control" placeholder="Stok" id="stok">
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-success float-end">Update</button>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Add Product</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <label class="col-md-12 form-label">Category</label>
                                <div class="col-12">
                                    <div class="form-group">
                                        <select id="categoryOptions" class="form-select" name="ProductCategoryId" required>
                                        </select>
                                    </div>
                                </div>
                                @*
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label">Base Unit</label>
                                        <select class="form-select" id="unit">
                                            <option value="1">Adet</option>
                                            <option value="2">Metre</option>
                                            <option value="3">Beden</option>
                                        </select>
                                    </div>
                                </div>
                                *@
                                <div class="col-12">
                                    <div class="col-12">
                                        <label class="form-label">Product Name</label>
                                        <input type="text" class="form-control" placeholder="Product Name" name="Name" value="" id="prod_name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="exitModal">Cancel</button>
                                <button type="button" class="btn btn-success float-end" id="add_prod">Add</button>
                            </div>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="col-lg-8 col-12">
                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <h4 class="box-title text-info mb-0"> Add New Product Size</h4>
                        <hr class="my-15">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Product</label>
                                    <select class="form-select" id="onlyProds">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Size</label>
                                    <input type="text" class="form-control" placeholder="Product Size" id="size">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Stock</label>
                                    <input type="number" class="form-control" placeholder="Stock" id="stock">
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-end">

                        <button type="button" class="btn btn-primary" id="addSize">
                            <i class="ti-save-alt"></i> Save
                        </button>
                    </div>
                </div>


            </div>


        </div>

        <!-- /.row -->

    </section>
    <!-- /.content -->

</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            var typingTimer;                //timer identifier
            var doneTypingInterval = 500;  //time in ms, 0,5 seconds for example

            $('input[id=search-product]').on('input', function (ev) {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
                console.log("interval done.");

            });
            function doneTyping() {
                onLoad();
                //const _search = ev.target.value;
                const _search = $('#search-product').val();
                if (_search.length > 0) {
                    $.ajax({
                        url: '/api/product/search/' + _search,
                        type: 'GET',
                        dataType: 'json',
                        async: true,
                        success: function (res) {
                            $('#accordionPanels').html('');
                            console.log(res);
                            $.each(res, function (key, value) {
                                var pSizehtml = ``;
                                $.each(value.productSize, function (key, value_size) {
                                    var badgeState = ``;
                                    if (value_size.stock < 5)
                                        badgeState = 'bg-danger'
                                    else
                                        badgeState = 'bg-success'
                                    pSizehtml += `  <ul class='todo-list ui-sortable'>
                                                <li class='p-10'>
                                                    <!-- todo text -->
                                                    <span class='text-line'>`+ value_size.name + `</span>
                                                    <!-- Emphasis label -->
                                                    <small class='badge `+ badgeState + ` text-end'>` + value_size.stock + `</small>
                                                    <!-- General tools such as edit or delete-->
                                                    <div class='tools'>
                                                        <a onclick='ikBedenGüncelle(`+ value_size.id + `)' href='#'><i class='fa fa-edit'></i></a>
                                                    </div>
                                                </li>
                                            </ul>`
                                });

                                $('#accordionPanels').append(`
<div class='accordion-item'>
                                <h2 class='accordion-header' id='panelsStayOpen-heading-`+ key + `'>
                                    <button class='accordion-button waves-effect waves-dark collapsed' type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapse-`+ key + `' aria-expanded='false' aria-controls='panelsStayOpen-collapse-` + key + `'>
                                        `+ value.name + `
                                    </button>
                                </h2>
                                <div id='panelsStayOpen-collapse-`+ key + `' class='accordion-collapse collapse' aria-labelledby='panelsStayOpen-heading-` + key + `'>
                                    <div class='accordion-body'>
`+ pSizehtml + `
                                    </div>
                                </div>
</div>


                                                            `);
                            });

                            if (res.length == 0)
                                //console.log("No Results");
                                $('#accordionPanels').html('<div class="d-flex align-items-center justify-content-center mb-4" style="height: 479px;"><h3>No Results.</h></div>');

                            $('#prod_result').html(`<h6>Quantity of result: ` + res.length + `</h6>`)
                        }
                    });

                }
                else {
                    getAll();
                }
            }

            getAll();
            getOnlyProd();
            getCategory();

            $("#add_prod").click(function () {
                const data = $('#add_prod_form').serialize();
                console.log(data);
                addProd(data);
            });
            $("#addSize").click(function () {
                addSize();
            });


        });
        function onLoad() {
            var spinner = `
                        <div class="d-flex align-items-center justify-content-center mb-4" style="height: 479px;">
                          <button class='btn btn-primary' type='button' disabled>
                            <span class='spinner-grow spinner-grow-sm' role='status' aria-hidden='true'></span>
                            Loading...
                          </button>
                        </div>

`;
            $('#accordionPanels').html(spinner);
        }
        function getAll() {
            onLoad();
            $.ajax({
                url: '/api/product/getAll/',
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    $('#accordionPanels').html('');
                    $.each(res, function (key, value) {
                        var pSizehtml = ``;
                        $.each(value.productSize, function (key, value_size) {
                            var badgeState = ``;
                            if (value_size.stock < 5)
                                badgeState = 'bg-danger'
                            else
                                badgeState = 'bg-success'
                            pSizehtml += `  <ul class='todo-list ui-sortable'>
                                                <li class='p-10'>
                                                    <!-- todo text -->
                                                    <span class='text-line'>`+ value_size.name + `</span>
                                                    <!-- Emphasis label -->
                                                    <small class='badge `+ badgeState + ` text-end'>` + value_size.stock + `</small>
                                                    <!-- General tools such as edit or delete-->
                                                    <div class='tools'>
                                                        <a onclick='ikBedenGüncelle(`+ value_size.id + `)' href='#'><i class='fa fa-edit'></i></a>
                                                    </div>
                                                </li>
                                            </ul>`
                        });

                        $('#accordionPanels').append(`
<div class='accordion-item'>
                                <h2 class='accordion-header' id='panelsStayOpen-heading-`+ key + `'>
                                    <button class='accordion-button waves-effect waves-dark collapsed' type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapse-`+ key + `' aria-expanded='false' aria-controls='panelsStayOpen-collapse-` + key + `'>
                                        <div class="row"><div class="col-11">`+ value.name + `</div> <a href="#remove" class="hidden-href col-1" style="float: right;" onclick="removeProd(` + value.id +`);"><i class="mdi mdi-delete" style="font-size: 1.5em "></i></a></div>
                                    </button>
                                </h2>
                                <div id='panelsStayOpen-collapse-`+ key + `' class='accordion-collapse collapse' aria-labelledby='panelsStayOpen-heading-` + key + `'>
                                    <div class='accordion-body'>
`+ pSizehtml + `
                                    </div>
                                </div>
    
</div>


                                                            `);
                    });

                    $('#prod_result').html(`<h6>Quantity of result: ` + res.length + `</h6>`)
                }
            });
        }
        function addProd(data) {

            const prod_name = $('#prod_name').val();
            const prod_cat = $('#categoryOptions').val();
            //const unit = $('#unit').val();
            //console.log("unit: "+unit);
            /*console.log('{"id":' + prod_cat + ',' +'"name":'+'"'+ prod_name+'"'+'}');*/
            $.ajax({
                type: "POST",
                url: "/api/product/add-prod",
                data: {
                    prod: {
                        productCategoryId: prod_cat,
                        name: prod_name
                        //unitId: unit
                    }
                },
                success: function (response) {
                    console.log(response);
                    $('#exitModal').trigger('click');
                    getOnlyProd();
                    getAll();
                },
                failure: function (response) {
                    console.log("Kayıt başarısız! - Failure response");
                    $(':a').prop('disabled', true);
                    $(':button').prop('disabled', true);
                },
                error: function (response) {
                    console.log("Kayıt başarısız! - Error response");
                }
            });
        }
        function getCategory() {
            $.ajax({
                url: '/api/product/getCategory/',
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    $.each(res, function (key, item) {
                        $('#categoryOptions').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                }
            });
        }
        function getOnlyProd() {
            $.ajax({
                url: '/api/product/getOnlyProd/',
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    $("#onlyProds").empty();
                    $.each(res, function (key, item) {
                        $('#onlyProds').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                }
            });
        }
        function addSize() {
            const productId = $('#onlyProds').val();
            const size = $('#size').val();
            const stock = $('#stock').val();

            $.ajax({
                type: "POST",
                url: "/api/product/add-size",
                data: {
                    prodSize: {
                        productId: productId,
                        name: size,
                        stock: stock
                    }
                },
                success: function (response) {
                    console.log(response);
                    getAll();
                },
                failure: function (response) {
                    console.log("Kayıt başarısız! - Failure response");
                    $(':a').prop('disabled', true);
                    $(':button').prop('disabled', true);
                },
                error: function (response) {
                    console.log("Kayıt başarısız! - Error response");
                }
            });
        }
        function removeProd(id) {
            console.log("remove: " + id);
        }
    </script>
}

