
@{
    ViewData["Title"] = "AddVacationDays";
}
@model Opus.Models.ViewModels.VacationVM
<h1>AddVacationDays</h1>

<div class="container-full">

    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Identifications</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item active"><a href="#">Vacations</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="col-12">
            <div class="box">

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="p-15">
                        <form method="post" asp-area="HR" asp-action="AddVacationDaysPost" asp-controller="Home">

                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Starting Date: </h5>
                                </div>
                                <div class="col-10">
                                    <input class="form-control input-col" type="date" asp-for="Beginning" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                                </div>
                            </div>

                            <div class="row pb-15">
                                <div class="col-2">
                                    <h5 class="my-10">End Date: </h5>
                                </div>
                                <div class="col-10">
                                    <input class="form-control input-col" type="date" asp-for="Ending" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                                </div>
                            </div>

                            <div class="row pb-20">
                                <div class="col-2">
                                    <h5 class="my-10">Description: </h5>
                                </div>
                                <div class="col-10">
                                    <textarea class="form-control input-col" placeholder="Description" asp-for="Description" required></textarea>
                                </div>
                            </div>

                            <div class="row pt-50 pb-20">
                                <div class="col-12">
                                    <div style="float:right;">
                                        <button class="btn btn-primary input-col" type="submit">Add</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <!--Definition List Section-->
                        <section>
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-striped dataTables" width="100%" id="deflist_table">
                                    <thead>
                                        <tr class="text-start">
                                            <th>Description</th>
                                            <th>Starting Date</th>
                                            <th>End Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.EnumerableVacationDates)
                                        {
                                            <tr>
                                                <td>@item.Description</td>
                                                <td>@item.Beginning</td>
                                                <td>@item.Ending</td>
                                                <td class="text-center"><a onclick="func('@item.Id')" class="fa-exp-font"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </section>
                        <!--Definition List Sectio-->

                    </div>

                </div>

            </div>

        </div>
    </section>


</div>