
@{
    ViewData["Title"] = "Add Staff";
}
@model Opus.Models.ViewModels.StaffVM
<style>
    .select2-container--default .select2-selection--single {
        min-width: 220px;
        max-width: 576px;
        width: auto;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    .jq-toast-single{
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
        }
    .theme-primary .border-critical {
        border-color: #c80000 !important;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />

<div class="container-full">
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Horizontal Timeline</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">UI</li>
                            <li class="breadcrumb-item active" aria-current="page">Horizontal Timeline</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Step wizard with validation</h4>
                        <h6 class="box-subtitle">You can us the validation like what we did</h6>
                    </div>

                    <div class="box-body wizard-content">
                        <form id="myform" action="/staff/add" class="validation-wizard" enctype="multipart/form-data" method="post">
                            <h6>Info's</h6>

                            <section>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> Personel Hakkında</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="hidden" name="image" id="image" />
                                                        <div class="media">
                                                            <img class="img-bordered-sm rounded-circle" width="150" id="profilepic" style="display:none">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="label_email control-label" for="prof_image">Image : </label>
                                                            <input class="form-control" id="file" accept="image/*" type="file" asp-for="Files.ImageFile">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Name <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Name" asp-for="FirstName" value="Ahmet">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Surname <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Surname" asp-for="LastName" value="Karaca">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">GSM <span class="danger">*</span></label>
                                                            <input type="text" class="form-control" data-inputmask="'mask':[ '(999) 999-9999']" data-mask="" asp-for="MobileNumber" value="5356541452">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Create Stamp Number?  <span class="danger">*</span></label>
                                                            <select class="form-select " asp-for="AddStamp">
                                                                <option value="">Select</option>
                                                                <option value="False" selected="selected">No</option>
                                                                <option value="True">Yes</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="box-title text-info mb-0 mt-20"><i class="ti-save me-15"></i> Requirements</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Place of Birth  <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Doğum Yeri" asp-for="BirthPlace" value="Üsküdar">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Date of Birth <span class="danger">*</span></label>
                                                            <input type="date" class="form-control" asp-for="DateOfBirth" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Mother Name <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Mother Name" asp-for="MotherName" value="mother-name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Fathers Name <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Fathers Name" asp-for="FatherName" value="father-name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Marital Status <span class="danger">*</span></label>
                                                            <select class="form-select " asp-for="MaritalStatus">
                                                                <option value="" selected="selected">Select</option>
                                                                <option value="1">Married</option>
                                                                <option value="0">Single</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Identity Number <span class="danger">*</span></label>
                                                            <input id="idnum" type="number" class="form-control " placeholder="Kimlik" asp-for="IdentityNumber" value="68465416846" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Number of Children <span class="danger">*</span></label>
                                                    <input type="number" class="form-control " placeholder="Çocuk Sayısı" asp-for="NumberOfChildren" value="1">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">D2 (TN-E) Test Result</label>
                                                            <input type="number" class="form-control" placeholder="D2 Test Sonucu" id="d2-tne" step="1" asp-for="TestD2_TNE" value="2">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">D2 (E) Test Result</label>
                                                            <input type="number" class="form-control" placeholder="MSA Test Sonucu" id="d2-e" step="0.1" asp-for="TestD2_E" value="3">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> About User</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="form-label">IBAN <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="IBAN" data-inputmask="'mask':['TR99 9999 9999 9999 9999 9999 99']" data-mask="" asp-for="IBAN">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Current Salary</label>
                                                            <input type="number" class="form-control" placeholder="Güncel Maaş" value="2800.00" asp-for="CurrentSalary">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <img id="bank_logo" height="100" width="320"/>
                                                        <h6 id="bank_name"></h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Statue</label>
                                                            <select class="form-select" asp-for="WhiteCollarWorker">
                                                                <option value="False">Blue Collar</option>
                                                                <option value="True">White Collar</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Date of Employment <span class="danger">*</span></label>
                                                            <input type="date" class="form-control " asp-for="DateOfEntry" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Education Status</label>
                                                            <select class="form-select" asp-for="EducationalStatus">
                                                                @foreach (var item in Model.EducationalStatusEnumerable)
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                                @*
                                                                <option value="Primary School Graduate">Primary School Graduate</option>
                                                                <option value="High School Graduate">High School Graduate</option>
                                                                <option value="Undergraduate Degree">Undergraduate Degree</option>*@
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Status <span class="danger">*</span></label>
                                                            <select class="form-select" asp-for="Status">
                                                                <option value="1" selected="selected">Active</option>
                                                                <option value="0">Passive</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="box-title text-info mb-0 mt-20"><i class="ti-envelope me-15"></i> Contact Info &amp; Bio</h4>
                                                <hr class="my-15">
                                                <div class="form-group">
                                                    <label class="form-label">Contact Number 2:</label>
                                                    <input type="text" class="form-control" data-inputmask="'mask':[ '(999) 999-9999']" data-mask="" asp-for="PhoneNumber">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Contact Number 3:</label>
                                                    <input type="text" class="form-control" data-inputmask="'mask':[ '(999) 999-9999']" data-mask="" asp-for="PhoneNumberSec">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Blood Group  <span class="danger">*</span></label>
                                                    <select class="form-select " asp-for="BloodTypeId">
                                                        <option value="" selected="selected"></option>
                                                        <option value="0">AB Rh (+)</option>
                                                        <option value="1">A Rh (+)</option>
                                                        <option value="2">B Rh (+)</option>
                                                        <option value="3">0 Rh (+)</option>
                                                        <option value="4">AB Rh (-)</option>
                                                        <option value="5">A Rh (-)</option>
                                                        <option value="6">B Rh (-)</option>
                                                        <option value="7">0 Rh (-)</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Address <span class="danger">*</span></label>
                                                    <textarea rows="4" class="form-control " placeholder="Address" asp-for="StreetAddress"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <h6>Family Details</h6>

                            <section>
                                <div class="box-body py-0">
                                    <div class="table-responsive">
                                        <table class="table no-border" id="tab_equp">
                                            <thead>
                                                <tr class="text-start">
                                                    <th class="pt-10">Yakınlık</th>
                                                    <th class="pt-10">Ad Soyad</th>
                                                    <th class="pt-10">Kimlik No</th>
                                                    <th class="pt-10">Doğum Yeri</th>
                                                    <th class="pt-10">Doğum Tarihi</th>
                                                    <th class="pt-10"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="tdoby_fam">
                                            </tbody>
                                        </table>


                                    </div>
                                </div>

                                <div class="border-top">
                                    <div class="row mt-4 mb-4">
                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <select class="form-select" id="familyMembersFamilyRelationshipId" name="FamilyMembers.FamilyRelationshipId">
                                                    <option value="" selected="selected">Yakınlık</option>
                                                    <option value="1">Eş</option>
                                                    <option value="2">Çocuk</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input type="text" id="familyMembersFullName" placeholder='Ad Soyad' class="form-control" />

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input type="number" id="familyMembersIdentityNumber" placeholder='Kimlik Numarası' class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input type="text" id="familyMembersBirthPlace" placeholder='Doğum Yeri' class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input type="date" class="form-control" id="familyMembersDateOfBirth" />
                                            </div>
                                        </div>
                                    </div>
                                    <button id="add_Family_row" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>Add to list</button>
                                </div>
                            </section>

                            <h6>Equipment</h6>

                            <section>
                                <div class="box-body py-0">
                                    <div class="table-responsive">
                                        <table class="table no-border" id="tab_equp">
                                            <thead>
                                                <tr class="text-start">
                                                    <th class="pt-10">Products</th>
                                                    <th class="pt-10">Quantity</th>
                                                    <th class="pt-10">Delivery Date</th>
                                                    <th class="pt-10">Return Date</th>
                                                    <th class="pt-10"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="tdoby_equ">
                                            </tbody>
                                        </table>


                                    </div>
                                </div>

                                <div class="border-top">
                                    <div class="row mt-4 mb-4">
                                        <div class="col">
                                            <div class="rounded text-center" style="z-index:9999;" id="selectElem_Equ">

                                                <select class="form-control select2" id="select_equ" style="min-width:250px;">
                                                    <option value="-1" selected="selected" hidden>Select Product</option>
                                                    @foreach (var item in Model.Products)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input id="equQua" type="number" class="form-control" />

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input id="equDelivery" type="date" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input id="equReturn" type="date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <button id="add_Equipment_row" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>Add to list</button>
                                </div>
                            </section>

                            <h6>Documents</h6>

                            <section>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> Kişisel Belgeler</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="form-label">Kimlik *</label>
                                                            <input asp-for="Files.Identity" type="file" placeholder="Debit Form" class="input_email form-control" >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Kan Grubu</label>
                                                            <input asp-for="Files.BloodType" type="file" placeholder="Debit Form" class="input_email form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Sağlık Raporu *</label>
                                                            <input asp-for="Files.HealthReport" type="file" placeholder="Debit Form" class="form-control" >


                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Ehliyet</label>
                                                            <input asp-for="Files.DrivingLicence" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Askerlik Durum Belgesi</label>
                                                            <input asp-for="Files.MilitaryStatus" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">İkametgah</label>
                                                            <input asp-for="Files.PlaceResidence" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">Diploma</label>
                                                            <input asp-for="Files.Diploma" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Tetanoz Aşısı</label>
                                                            <input asp-for="Files.TetanusVaccine" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">KVKK İş Sözleşmesi Ek Metin</label>
                                                            <input asp-for="Files.KVKKLaborAgreement" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">KVKK Taahhüt Tutanağı</label>
                                                            <input asp-for="Files.KVKKCommitmentReport" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">İSG Talimatı ve Taahhüt Formu *</label>
                                                            <input asp-for="Files.OHSInstructionCommitmentForm" type="file" placeholder="Debit Form" class="input_email form-control" >

                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">İç Yönetmelik</label>
                                                            <input asp-for="Files.InternalRegulation" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> Resmi Belgeler</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">Sigorta Girişi *</label>
                                                            <input asp-for="Files.Insurance" type="file" placeholder="Debit Form" class="form-control" >

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Adli Sicil *</label>
                                                            <input asp-for="Files.CriminalReport" type="file" placeholder="Debit Form" class="input_email form-control" >

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">İş Sözleşmesi</label>
                                                            <input asp-for="Files.BusinessArrangement" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Agi Formu</label>
                                                            <input asp-for="Files.AgiForm" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">Fazla Mesai</label>
                                                            <input asp-for="Files.Overtime" type="file" placeholder="Debit Form" class="input_email form-control">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">İş Güvenliği</label>
                                                            <input asp-for="Files.WorkSafety" type="file" placeholder="Debit Form" class="form-control ">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">Zimmet Formu *</label>
                                                            <input asp-for="Files.CommitmentForm" type="file" placeholder="Debit Form" class="input_email form-control" >

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">D2 Testi *</label>
                                                            <input asp-for="Files.D2Test" type="file" placeholder="Debit Form" class="input_email form-control" >

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    @*
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Msa Testi <span class="danger">*</span></label>
                                                            <input asp-for="Files.MSATest" type="file" placeholder="Debit Form" class="input_email form-control">
                                                        </div>
                                                    </div>*@
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Görev Tanımı</label>
                                                            <input asp-for="Files.TaskDefinition" type="file" placeholder="Debit Form" class="input_email form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="~/js/ajax-requests.js"></script>
    <script>
        $(document).ready(function () {/*
                    $(':a').prop('disabled', true);
                    $(':button').prop('disabled', true);
                    console.log("add Script has been load");
                    $('.selectpicker').selectpicker();
                    */
            $("#idnum").on('input', function () {
                var idval = $("#idnum").val();
                var _leng = $('#idnum').val().length;
                console.log("identity has been Change Length: " + idval);
                if (_leng > 10) {
                    authIdNum(idval);
                }
            });


            $('#d2-tne').change(function(val){
                console.log("TNE Value: " + val.currentTarget.value);
                if (val.currentTarget.value > 85) {
                    $('#d2-tne').addClass("bb-5 border-info");
                    $('#d2-tne').removeClass("border-critical");
                    //$('#d2-tne').removeClass("border-warning");
                }/*
                else if (val.currentTarget.value < 70) {
                    $('#d2-tne').addClass("bb-5 border-warning");
                    $('#d2-tne').removeClass("border-critical");
                    $('#d2-tne').removeClass("border-info");
                }*/
                else {
                    $('#d2-tne').addClass("bb-5 border-critical");
                    //$('#d2-tne').removeClass("border-warning");
                    $('#d2-tne').removeClass("border-info");
                }
            });
            $('#d2-e').change(function (val) {
                console.log("E Value: " + val.currentTarget.value);
                if (val.currentTarget.value < 5) {
                    $('#d2-e').addClass("bb-5 border-info");
                    $('#d2-e').removeClass("border-critical");
                    //$('#d2-e').removeClass("border-warning");
                }/*
                else if (val.currentTarget.value < 70) {
                    $('#d2-e').addClass("bb-5 border-warning");
                    $('#d2-e').removeClass("border-critical");
                    $('#d2-e').removeClass("border-info");
                }*/
                else {
                    $('#d2-e').addClass("bb-5 border-critical");
                    //$('#d2-e').removeClass("border-warning");
                    $('#d2-e').removeClass("border-info");
                }
            });
            $('input[id=IBAN]').change(function (ev) {
                const bankCode = ev.target.value.substring(8, 11).replace(/\s/g, '');
                const iban = ev.target.value;
                console.log(bankCode);
                if (iban.length > 31) {
                    $.ajax({
                        url: '/api/getbank/' + bankCode + '/' + iban,
                        type: 'GET',
                        dataType: 'json',
                        success: function (res) {
                            //console.log(JSON.stringify(res.url));
                            if (res == null) {
                                $('input[id=IBAN]').addClass("bb-3 border-danger");
                                $('input[id=IBAN]').removeClass("border-info");

                                $('#bank_logo').attr('src', '');
                                $('#bank_logo').addClass("d-none");
                                $('#bank_name').addClass("d-none");
                            }
                            else {
                                $('input[id=IBAN]').addClass("bb-3 border-info");
                                $('input[id=IBAN]').removeClass("border-danger");
                                if (res.url == null) {
                                    $('#bank_logo').attr('src', '');
                                    $('#bank_logo').addClass("d-none");
                                    $('#bank_name').removeClass("d-none");
                                    $('#bank_name').html(res.name);
                                } else {
                                    $('#bank_logo').removeClass("d-none");
                                    $('#bank_name').addClass("d-none");
                                    $('#bank_logo').attr('src', res.url);
                                }

                            }
                        }
                    });
                }


            });
            //$('#d2-e').val();


            $('input[id=Files_Identity]').change(function(ev) {
                $('input[id=Files_Identity]').addClass("bb-3 border-info");
                $('input[id=Files_Identity]').removeClass("border-danger");
            });
            $('input[id=Files_HealthReport]').change(function(ev) {
                $('input[id=Files_HealthReport]').addClass("bb-3 border-info");
                $('input[id=Files_HealthReport]').removeClass("border-danger");
            });
            $('input[id=Files_MilitaryStatus]').change(function(ev) {
                $('input[id=Files_MilitaryStatus]').addClass("bb-3 border-info");
            });
            $('input[id=Files_Diploma]').change(function(ev) {
                $('input[id=Files_Diploma]').addClass("bb-3 border-info");
            });
            $('input[id=Files_KVKKLaborAgreement]').change(function(ev) {
                $('input[id=Files_KVKKLaborAgreement]').addClass("bb-3 border-info");
            });
            $('input[id=Files_OHSInstructionCommitmentForm]').change(function(ev) {
                $('input[id=Files_OHSInstructionCommitmentForm]').addClass("bb-3 border-info");
                $('input[id=Files_OHSInstructionCommitmentForm]').removeClass("border-danger");
            });
            $('input[id=Files_DrivingLicence]').change(function(ev) {
                $('input[id=Files_DrivingLicence]').addClass("bb-3 border-info");
            });
            $('input[id=Files_PlaceResidence]').change(function(ev) {
                $('input[id=Files_PlaceResidence]').addClass("bb-3 border-info");
            });
            $('input[id=Files_TetanusVaccine]').change(function(ev) {
                $('input[id=Files_TetanusVaccine]').addClass("bb-3 border-info");
            });
            $('input[id=Files_KVKKCommitmentReport]').change(function(ev) {
                $('input[id=Files_KVKKCommitmentReport]').addClass("bb-3 border-info");
            });
            $('input[id=Files_InternalRegulation]').change(function(ev) {
                $('input[id=Files_InternalRegulation]').addClass("bb-3 border-info");
            });
            $('input[id=Files_Insurance]').change(function(ev) {
                $('input[id=Files_Insurance]').addClass("bb-3 border-info");
                $('input[id=Files_Insurance]').removeClass("border-danger");
            });
            $('input[id=Files_BusinessArrangement]').change(function(ev) {
                $('input[id=Files_BusinessArrangement]').addClass("bb-3 border-info");
            });
            $('input[id=Files_BloodType]').change(function(ev) {
                $('input[id=Files_BloodType]').addClass("bb-3 border-info");
            });
            $('input[id=Files_Overtime]').change(function(ev) {
                $('input[id=Files_Overtime]').addClass("bb-3 border-info");
            });
            $('input[id=Files_CommitmentForm]').change(function(ev) {
                $('input[id=Files_CommitmentForm]').addClass("bb-3 border-info");
                $('input[id=Files_CommitmentForm]').removeClass("border-danger");
            });
            $('input[id=Files_MSATest]').change(function(ev) {
                $('input[id=Files_MSATest]').addClass("bb-3 border-info");
                $('input[id=Files_MSATest]').removeClass("border-danger");
            });
            $('input[id=Files_CriminalReport]').change(function(ev) {
                $('input[id=Files_CriminalReport]').addClass("bb-3 border-info");
                $('input[id=Files_CriminalReport]').removeClass("border-danger");
            });
            $('input[id=Files_AgiForm]').change(function(ev) {
                $('input[id=Files_AgiForm]').addClass("bb-3 border-info");
            });
            $('input[id=Files_WorkSafety]').change(function(ev) {
                $('input[id=Files_WorkSafety]').addClass("bb-3 border-info");
            });
            $('input[id=Files_D2Test]').change(function(ev) {
                $('input[id=Files_D2Test]').addClass("bb-3 border-info");
            });
            $('input[id=Files_TaskDefinition]').change(function(ev) {
                $('input[id=Files_TaskDefinition]').addClass("bb-3 border-info");
                $('input[id=Files_TaskDefinition]').removeClass("border-danger");
            });

        });
    </script>


}

