
@{
    ViewData["Title"] = "Edit";
}
@model Opus.Models.ViewModels.StaffVM
<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />

<!-- /.col -->
<div class="col-12">
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">Edit Staff</h4>
            @*<h6 class="box-subtitle">Use default tab with class <code>nav-tabs &amp; nav-fill </code></h6>*@
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            @*<form action="/staff/updating" method="post">*@
            <form asp-action="Update" method="post" id="myform">
                <input type="text" value="@Model.Guid" asp-for="Guid" class="d-none" hidden />
                <input type="text" value="@Model.Id" asp-for="Id" class="d-none" hidden />
                <input type="text" value="@Model.ImageFile" asp-for="ImageFile" class="d-none" hidden />
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#infoTab" role="tab"><span><i class="ion-home"></i></span> <span class="hidden-xs-down ms-15">1 Info's</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#familyTab" role="tab"><span><i class="ion-person"></i></span> <span class="hidden-xs-down ms-15">2 Family Details</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#equipmentTab" role="tab"><span><i class="ion-email"></i></span> <span class="hidden-xs-down ms-15">3 Equipment</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#documentsTab" role="tab"><span><i class="ion-settings"></i></span> <span class="hidden-xs-down ms-15">4 Documents</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#trainingTab" role="tab"><span><i class="ion-person"></i></span> <span class="hidden-xs-down ms-15">5 Training</span></a> </li>
                    <li class="nav-item"> <a class="nav-link disabled" data-bs-toggle="tab" href="#salaryTab" role="tab"><span><i class="ion-camera"></i></span> <span class="hidden-xs-down ms-15">6 Salary</span></a> </li>
                    <li class="nav-item"> <a class="nav-link disabled" data-bs-toggle="tab" href="#timeKeepingTab" role="tab"><span><i class="ion-camera"></i></span> <span class="hidden-xs-down ms-15">7 Time Keeping</span></a> </li>
                    <li class="nav-item"> <a class="nav-link disabled" data-bs-toggle="tab" href="#minuteDofTab" role="tab"><span><i class="ion-camera"></i></span> <span class="hidden-xs-down ms-15">8 Minute-Dof</span></a> </li>
                    <li class="nav-item"> <a class="nav-link disabled" data-bs-toggle="tab" href="#leavesTab" role="tab"><span><i class="ion-camera"></i></span> <span class="hidden-xs-down ms-15">9 Leaves</span></a> </li>
                </ul>
                <!-- Tab panes -->

                <div class="tab-content tabcontent-border">
                    <!--1 Info's-->
                    <div class="tab-pane active" id="infoTab" role="tabpanel">
                        <div class="p-15">

                            <section>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> Personel Hakkında</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="media">
                                                            <img class="img-bordered-sm rounded-circle" width="150" id="profilepic" src="/assets/personels/@Model.Guid/img/@Model.ImageFile">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="label_email control-label" for="prof_image">Image : </label>
                                                            <input class="form-control" id="file" accept="image/*" type="file">
                                                            <input type="hidden" name="image" id="image" />
                                                            <div class="media">
                                                                <img class="img-bordered-sm rounded-circle" width="150" id="profilepic" style="display:none">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Name <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Name" asp-for="FirstName" value="@Model.FirstName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Surname <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Surname" asp-for="LastName" value="@Model.LastName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">GSM <span class="danger">*</span></label>
                                                            <input data-rule-minlength="2" type="text" class="form-control" data-inputmask="'mask':[ '(999) 999-9999']" data-mask="" asp-for="MobileNumber" value="@Model.MobileNumber">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Create Stamp Number?  <span class="danger">*</span></label>
                                                            <input class="form-control" disabled value="No" />
                                                            @*

                                                                <select class="form-select" asp-for="AddStamp" disabled>
                                                                    <option value="">Select</option>
                                                                    @if (Model.AddStamp)
                                                                    {
                                                                        <option value="False" disabled>No</option>
                                                                        <option value="True" selected="selected" disabled>Yes</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="False" selected="selected" disabled>No</option>
                                                                        <option value="True" disabled>Yes</option>
                                                                    }

                                                                </select>
                                                            *@
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="box-title text-info mb-0 mt-20"><i class="ti-save me-15"></i> Requirements</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Place of Birth  <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Doğum Yeri" asp-for="BirthPlace" value="@Model.BirthPlace">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Date of Birth <span class="danger">*</span></label>
                                                            <input type="date" class="form-control required" asp-for="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Mother Name <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Mother Name" asp-for="MotherName" value="@Model.MotherName">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Fathers Name <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="Fathers Name" asp-for="FatherName" value="@Model.FatherName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Marital Status <span class="danger">*</span></label>
                                                            <select class="form-select " asp-for="MaritalStatus">
                                                                @if (Model.MaritalStatus == 1)
                                                                {
                                                                    <option value="1" selected="selected">Married</option>
                                                                    <option value="0">Single</option>
                                                                }
                                                                else if (Model.MaritalStatus == 0)
                                                                {
                                                                    <option value="1">Married</option>
                                                                    <option value="0" selected="selected">Single</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Identity Number <span class="danger">*</span></label>
                                                            <input id="idnum" type="number" class="form-control " placeholder="Kimlik" asp-for="IdentityNumber" value="@Model.IdentityNumber" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Number of Children <span class="danger">*</span></label>
                                                    <input type="number" class="form-control " placeholder="Çocuk Sayısı" asp-for="NumberOfChildren" value="@Model.NumberOfChildren">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">D2 (TNE) Test Result</label>
                                                            <input type="number" class="form-control" placeholder="D2 (TNE) Test Result" asp-for="TestD2_TNE" value="@Model.TestD2_TNE">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">D2 (E) Test Result</label>
                                                            <input type="number" class="form-control" placeholder="D2 (E) Test Result" asp-for="TestD2_E_STR" value="@Model.TestD2_E.ToString().Replace(',','.')" step="0.1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> About User</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="form-label">IBAN <span class="danger">*</span></label>
                                                            <input type="text" class="form-control " placeholder="IBAN" data-inputmask="'mask':['TR99 9999 9999 9999 9999 9999 99']" data-mask="" asp-for="IBAN" value="@Model.IBAN" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Current Salary</label>
                                                            <input type="number" class="form-control" placeholder="Güncel Maaş" value="@Model.CurrentSalary" asp-for="CurrentSalary" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <img id="bank_logo" height="100" width="320" />
                                                        <h6 id="bank_name"></h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Statue</label>
                                                            <select class="form-select" asp-for="WhiteCollarWorker">
                                                                @if (Model.WhiteCollarWorker)
                                                                {
                                                                    <option value="False">Blue Collar</option>
                                                                    <option value="True" selected="selected">White Collar</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="False" selected="selected">Blue Collar</option>
                                                                    <option value="True">White Collar</option>
                                                                }

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Date of Employment <span class="danger">*</span></label>
                                                            <input type="date" class="form-control " asp-for="DateOfEntry" value="@Model.DateOfEntry.ToString("yyyy-MM-dd")">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Education Status</label>
                                                            <select class="form-select" asp-for="EducationalStatus">
                                                                @if (Model.EducationalStatus == "Primary School Graduate")
                                                                {
                                                                    <option value="Primary School Graduate" selected="selected">Primary School Graduate</option>
                                                                    <option value="High School Graduate">High School Graduate</option>
                                                                    <option value="Undergraduate Degree">Undergraduate Degree</option>
                                                                }
                                                                else if (Model.EducationalStatus == "High School Graduate")
                                                                {
                                                                    <option value="Primary School Graduate">Primary School Graduate</option>
                                                                    <option value="High School Graduate" selected="selected">High School Graduate</option>
                                                                    <option value="Undergraduate Degree">Undergraduate Degree</option>
                                                                }
                                                                else if (Model.EducationalStatus == "Undergraduate Degree")
                                                                {
                                                                    <option value="Primary School Graduate">Primary School Graduate</option>
                                                                    <option value="High School Graduate">High School Graduate</option>
                                                                    <option value="Undergraduate Degree" selected="selected">Undergraduate Degree</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Status <span class="danger">*</span></label>
                                                            <select class="form-select" asp-for="Status">
                                                                <option value="1" selected="selected">Active</option>
                                                                <option value="0">Passive</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="box-title text-info mb-0 mt-20"><i class="ti-envelope me-15"></i> Contact Info &amp; Bio</h4>
                                                <hr class="my-15">
                                                <div class="form-group">
                                                    <label class="form-label">Contact Number 2:</label>
                                                    <input type="text" class="form-control" data-inputmask="'mask':[ '(999) 999-9999']" data-mask="" asp-for="PhoneNumber">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Contact Number 3:</label>
                                                    <input type="text" class="form-control" data-inputmask="'mask':[ '(999) 999-9999']" data-mask="" asp-for="PhoneNumberSec">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Blood Group  <span class="danger">*</span></label>
                                                    <select class="form-select " asp-for="BloodTypeId" id="bloodtype">
                                                        <option value="" selected="selected"></option>
                                                        <option value="0">AB Rh (+)</option>
                                                        <option value="1">A Rh (+)</option>
                                                        <option value="2">B Rh (+)</option>
                                                        <option value="3">0 Rh (+)</option>
                                                        <option value="4">AB Rh (-)</option>
                                                        <option value="5">A Rh (-)</option>
                                                        <option value="6">B Rh (-)</option>
                                                        <option value="7">0 Rh (-)</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Address <span class="danger">*</span></label>
                                                    <textarea rows="4" class="form-control " placeholder="Address" asp-for="StreetAddress">@Model.StreetAddress</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>

                    <!--2 Family Details-->
                    <div class="tab-pane" id="familyTab" role="tabpanel">
                        <div class="p-15">

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-bordered table-separated">
                                        <thead>
                                            <tr>
                                                <th class="pt-10">Yakınlık</th>
                                                <th class="pt-10">Ad Soyad</th>
                                                <th class="pt-10">Kimlik No</th>
                                                <th class="pt-10">Doğum Yeri</th>
                                                <th class="pt-10">Doğum Tarihi</th>
                                                <th class="pt-10"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="">
                                            @foreach (var item in Model.FamilyMembersEnumerable)
                                            {
                                                <tr id="fam-tr-@item.Id">
                                                    <td>
                                                        @item.FamilyRelationship.Name@*
                                                            if (item.FamilyRelationship.Id == 1)
                                                            {
                                                                <select class="form-select" id="familyMembersFamilyRelationshipId" name="FamilyMembers.FamilyRelationshipId">
                                                                    <option value="1" selected="selected">Eş</option>
                                                                    <option value="2">Çocuk</option>
                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                <select class="form-select" id="familyMembersFamilyRelationshipId" name="FamilyMembers.FamilyRelationshipId">
                                                                    <option value="1">Eş</option>
                                                                    <option value="2" selected="selected">Çocuk</option>
                                                                </select>
                                                            }

                                                        *@
                                                    </td>
                                                    <td>@item.FullName</td>
                                                    <td>@item.IdentityNumber</td>
                                                    <td>@item.BirthPlace</td>
                                                    <td>@item.DateOfBirth.ToString("dd.MM.yyyy")</td>
                                                    <td id="remove_@item.Id"><a href="#remove" class="hidden-href" onClick="removeMember(@item.Id);"><i class="mdi mdi-delete" style="font-size: 1.1em "></i> Remove</a></td>
                                                </tr>
                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="pt-10">Yakınlık</th>
                                                <th class="pt-10">Ad Soyad</th>
                                                <th class="pt-10">Kimlik No</th>
                                                <th class="pt-10">Doğum Yeri</th>
                                                <th class="pt-10">Doğum Tarihi</th>
                                                <th class="pt-10"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>



                            <section>
                                <div class="box-body py-0">
                                    <div class="table-responsive">
                                        <table class="table no-border" id="tab_equp">
                                            <thead>
                                                <tr class="text-start">
                                                    <th class="pt-10">Yakınlık</th>
                                                    <th class="pt-10">Ad Soyad</th>
                                                    <th class="pt-10">Kimlik No</th>
                                                    <th class="pt-10">Doğum Yeri</th>
                                                    <th class="pt-10">Doğum Tarihi</th>
                                                    <th class="pt-10"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="tdoby_fam">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="border-top">
                                    <div class="row mt-4 mb-4">
                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <select class="form-select" id="familyMembersFamilyRelationshipId">
                                                    <option value="-1" selected="selected">Yakınlık</option>
                                                    <option value="1">Eş</option>
                                                    <option value="2">Çocuk</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input type="text" id="familyMembersFullName" placeholder='Ad Soyad' class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input type="number" id="familyMembersIdentityNumber" placeholder='Kimlik Numarası' class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input type="text" id="familyMembersBirthPlace" placeholder='Doğum Yeri' class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input type="date" class="form-control" id="familyMembersDateOfBirth" />
                                            </div>
                                        </div>
                                    </div>
                                    <button id="add_Family_row" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>Add to list</button>
                                </div>
                            </section>

                        </div>
                    </div>

                    <!--3 Equipment-->
                    <div class="tab-pane" id="equipmentTab" role="tabpanel">
                        <div class="p-15">

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="" class="table table-bordered table-separated">
                                        <thead>
                                            <tr>
                                                <th class="pt-10">Products</th>
                                                <th class="pt-10">Quantity</th>
                                                <th class="pt-10">Delivery Date</th>
                                                <th class="pt-10">Return Date</th>
                                                <th class="pt-10"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="">
                                            @foreach (var item in Model.StaffEquipmentEnumerable)
                                            {
                                                <tr id="eq-tr-@item.Id">
                                                    <td>
                                                        @item.Product.Name
                                                    </td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.DeliveryDate.ToString("dd.MM.yyyy")</td>
                                                    @if (item.ReturnDate > DateTime.Parse("01.01.2010"))
                                                    {
                                                        <td>@item.ReturnDate.ToString("dd.MM.yyyy")</td>
                                                    }
                                                    else
                                                    {
                                                        <td>None</td>
                                                    }
                                                    <td id="remove_@item.Id"><a href="#remove" class="hidden-href" onClick="removeEq(@item.Id);"><i class="mdi mdi-delete" style="font-size: 1.1em "></i> Remove</a></td>
                                                </tr>
                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="pt-10">Products</th>
                                                <th class="pt-10">Quantity</th>
                                                <th class="pt-10">Delivery Date</th>
                                                <th class="pt-10">Return Date</th>
                                                <th class="pt-10"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>


                            <section>
                                <div class="box-body py-0">
                                    <div class="table-responsive">
                                        <table class="table no-border" id="tab_equp">
                                            <thead>
                                                <tr class="text-start">
                                                    <th class="pt-10">Products</th>
                                                    <th class="pt-10">Quantity</th>
                                                    <th class="pt-10">Delivery Date</th>
                                                    <th class="pt-10">Return Date</th>
                                                    <th class="pt-10"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="tdoby_equ">
                                            </tbody>
                                        </table>


                                    </div>
                                </div>

                                <div class="border-top">
                                    <div class="row mt-4 mb-4">
                                        <div class="col">
                                            <div class="rounded text-center" style="z-index:9999;" id="selectElem_Equ">

                                                <select class="form-control select2" id="select_equ" style="min-width:250px;">
                                                    <option value="-1" selected="selected" hidden>Select Product</option>
                                                    @foreach (var item in Model.Products)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input id="equQua" type="number" class="form-control" />

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input id="equDelivery" type="date" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="bg-lightest rounded text-center">
                                                <input id="equReturn" type="date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <button id="add_Equipment_row" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>Add to list</button>
                                </div>
                            </section>

                        </div>
                    </div>

                    <!--4 Documents-->
                    <div class="tab-pane" id="documentsTab" role="tabpanel">
                        <div class="p-15">

                            <section>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> Kişisel Belgeler</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="form-label">Kimlik</label>
                                                            @if (Model.DocumentRead.Identity == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.Identity" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                        @*<a class="primary" onclick='window.open("/assets/personels/@Model.Guid/doc/@Model.DocumentRead.Identity");return false;' style='cursor: pointer;' target='_blank' oncontextmenu="return false" download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>*@
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Kan Grubu</label>
                                                            @if (Model.DocumentRead.BloodType == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.BloodType" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Sağlık Raporu <span class="danger">*</span></label>
                                                            @if (Model.DocumentRead.HealthReport == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.HealthReport" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Ehliyet</label>
                                                            @if (Model.DocumentRead.DrivingLicence == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.DrivingLicence" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Askerlik Durum Belgesi</label>
                                                            @if (Model.DocumentRead.MilitaryStatus == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.MilitaryStatus" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">İkametgah</label>
                                                            @if (Model.DocumentRead.PlaceResidence == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.PlaceResidence" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Diploma</label>
                                                            @if (Model.DocumentRead.Diploma == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.Diploma" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Tetanoz Aşısı</label>
                                                            @if (Model.DocumentRead.TetanusVaccine == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.TetanusVaccine" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">KVKK İş Sözleşmesi Ek Metin</label>
                                                            @if (Model.DocumentRead.KVKKLaborAgreement == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.KVKKLaborAgreement" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">KVKK Taahhüt Tutanağı</label>
                                                            @if (Model.DocumentRead.KVKKCommitmentReport == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.KVKKCommitmentReport" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">İSG Talimatı ve Taahhüt Formu</label>
                                                            @if (Model.DocumentRead.OHSInstructionCommitmentForm == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.OHSInstructionCommitmentForm" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">İç Yönetmelik</label>
                                                            @if (Model.DocumentRead.InternalRegulation == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.InternalRegulation" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> Resmi Belgeler</h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">Sigorta Girişi</label>
                                                            @if (Model.DocumentRead.Insurance == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.Insurance" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Adli Sicil</label>
                                                            @if (Model.DocumentRead.CriminalReport == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.CriminalReport" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">İş Sözleşmesi</label>
                                                            @if (Model.DocumentRead.BusinessArrangement == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.BusinessArrangement" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Agi Formu</label>
                                                            @if (Model.DocumentRead.AgiForm == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.AgiForm" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">Fazla Mesai</label>
                                                            @if (Model.DocumentRead.Overtime == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.Overtime" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">İş Güvenliği</label>
                                                            @if (Model.DocumentRead.WorkSafety == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.WorkSafety" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <label class="form-label">Zimmet Formu</label>
                                                            @if (Model.DocumentRead.CommitmentForm == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.CommitmentForm" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">D2 Testi</label>
                                                            @if (Model.DocumentRead.D2Test == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.D2Test" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Görev Tanımı</label>
                                                            @if (Model.DocumentRead.TaskDefinition == null)
                                                            {
                                                                <input type="file" placeholder="Debit Form" class="form-control">
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <input type="file" placeholder="Debit Form" class="form-control bb-3 border-info">
                                                                    </div>
                                                                    <div class="col-2 d-flex justify-content-center my-auto">
                                                                        <a class="primary" href="/assets/personels/@Model.Guid/doc/@Model.DocumentRead.TaskDefinition" style='cursor: pointer;' download><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>

                    <!--5 Training-->
                    <div class="tab-pane" id="trainingTab" role="tabpanel">
                        <div class="p-15">

                            <h1>5 Training</h1>
                        </div>
                    </div>

                    <!--6 Salary-->
                    <div class="tab-pane" id="salaryTab" role="tabpanel">
                        <div class="p-15">

                            <h1>6 Salary</h1>
                        </div>
                    </div>

                    <!--7 Time Keeping-->
                    <div class="tab-pane" id="timeKeepingTab" role="tabpanel">
                        <div class="p-15">

                            <h1>7 Time Keeping</h1>
                        </div>
                    </div>

                    <!--8 Minute-Dof-->
                    <div class="tab-pane" id="minuteDofTab" role="tabpanel">
                        <div class="p-15">

                            <h1>8 Minute-Dof</h1>
                        </div>
                    </div>

                    <!--9 Leaves-->
                    <div class="tab-pane" id="leavesTab" role="tabpanel">
                        <div class="p-15">

                            <h1>9 Leaves</h1>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-content-end justify-content-end pt-10">
                    <button class="btn btn-primary">
                        Update
                    </button>
                </div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<!-- /.col -->

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    @*<script src="~/lib/vendor_components/datatable/datatables.min.js"></script>
        <script src="~/lib/vendor_components/tiny-editable/mindmup-editabletable.js"></script>*@
    <script src="~/lib/vendor_components/datatable/datatables.min.js"></script>
    <script src="~/js/pages/data-table.js"></script>
    <script src="~/js/pages/editable-tables.js"></script>

    <script>
        function removeMember(memId) {
            $.ajax({
                type: 'GET',
                url: "/api/remove-member/" + memId,
                success: function (data) {

                        $.toast({
                            heading: data.header,
                            text: data.message,
                            icon: data.icon,
                            showHideTransition: data.showHideTransition,
                            loader: false,        // Change it to false to disable loader
                            loaderBg: '#9EC600',  // To change the background
                            position: 'top-right',
                            hideAfter: 7000
                        });

                    $('#fam-tr-' + memId).remove();
                },
            });
        };
        function removeEq(eqId) {
            $.ajax({
                type: 'GET',
                url: "/api/remove-equipment/" + eqId,
                success: function (data) {

                    $.toast({
                        heading: data.header,
                        text: data.message,
                        icon: data.icon,
                        showHideTransition: data.showHideTransition,
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 7000
                    });

                    $('#eq-tr-' + eqId).remove();
                },
            });
        };
        $(document).ready(function () {
            $("#bloodtype select").val("@Model.BloodTypeId").change();

            const ibanStatic = '@Model.IBAN';
            const bankCodeStatic = ibanStatic.substring(8, 11).replace(/\s/g, '');



            $.ajax({
                url: '/api/getbank/' + bankCodeStatic + '/' + ibanStatic,
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    //console.log(JSON.stringify(res.url));
                    if (res == null) {
                        $('input[id=IBAN]').addClass("bb-3 border-danger");
                        $('input[id=IBAN]').removeClass("border-info");

                        $('#bank_logo').attr('src', '');
                        $('#bank_logo').addClass("d-none");
                        $('#bank_name').addClass("d-none");
                    }
                    else {
                        $('input[id=IBAN]').addClass("bb-3 border-info");
                        $('input[id=IBAN]').removeClass("border-danger");
                        if (res.url == null) {
                            $('#bank_logo').attr('src', '');
                            $('#bank_logo').addClass("d-none");
                            $('#bank_name').removeClass("d-none");
                            $('#bank_name').html(res.name);
                        } else {
                            $('#bank_logo').removeClass("d-none");
                            $('#bank_name').addClass("d-none");
                            $('#bank_logo').attr('src', res.url);
                        }

                    }
                }
            });


            $('input[id=IBAN]').change(function (ev) {
                const bankCode = ev.target.value.substring(8, 11).replace(/\s/g, '');
                const iban = ev.target.value;
                console.log(bankCode);
                if (iban.length > 31) {
                    $.ajax({
                        url: '/api/getbank/' + bankCode + '/' + iban,
                        type: 'GET',
                        dataType: 'json',
                        success: function (res) {
                            //console.log(JSON.stringify(res.url));
                            if (res == null) {
                                $('input[id=IBAN]').addClass("bb-3 border-danger");
                                $('input[id=IBAN]').removeClass("border-info");

                                $('#bank_logo').attr('src', '');
                                $('#bank_logo').addClass("d-none");
                                $('#bank_name').addClass("d-none");
                            }
                            else {
                                $('input[id=IBAN]').addClass("bb-3 border-info");
                                $('input[id=IBAN]').removeClass("border-danger");
                                if (res.url == null) {
                                    $('#bank_logo').attr('src', '');
                                    $('#bank_logo').addClass("d-none");
                                    $('#bank_name').removeClass("d-none");
                                    $('#bank_name').html(res.name);
                                } else {
                                    $('#bank_logo').removeClass("d-none");
                                    $('#bank_name').addClass("d-none");
                                    $('#bank_logo').attr('src', res.url);
                                }

                            }
                        }
                    });
                }


            });



            @*$("#familyMembersFamilyRelationshipId select").val("@Model.BloodTypeId").change();*@


        });
    </script>
}