
@{
    ViewData["Title"] = "Index";
}
@model Opus.Models.ViewModels.ReferenceVerif.AllModelsVM
<div class="container-full">
    <div class="content-header">
        <div class="me-auto">
            <h3 class="page-title">Quality Service</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item"><a href="/qs">QS Dashboard</a></li>
                        <li class="breadcrumb-item" aria-current="page">Reference Verification</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="pb-10"></div>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-body">



                        <ul class="nav nav-tabs justify-content-center" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#list" role="tab"><span><i class="ion-home"></i></span><span class="hidden-xs-down ms-15">Reference List</span></a> </li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#custDef" role="tab"><span><i class="ion-home"></i></span><span class="hidden-xs-down ms-15">Customer Definitions</span></a> </li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#add" role="tab"><span><i class="fa fa-building-o"></i></span><span class="hidden-xs-down ms-15">Add Customer</span></a> </li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#addComp" role="tab"><span><i class="fa fa-building-o"></i></span> <span class="hidden-xs-down ms-15">Add Company</span></a> </li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#user" role="tab"><span><i class="ion-person"></i></span><span class="hidden-xs-down ms-15">Add User</span></a> </li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#definitions" role="tab"><span><i class="fa fa-address-book-o"></i></span> <span class="hidden-xs-down ms-15">Reference Definitions</span></a> </li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#logs" role="tab"><span><i class="fa fa-address-book-o"></i></span> <span class="hidden-xs-down ms-15">LOGS</span></a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="list" role="tabpanel">

                                <div class="p-15">
                                    <h4>Add Reference</h4>

                                    <div class="row">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">Customer:</h6>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="rounded">
                                                <select class="form-select select2 input-col" id="customerId" tabindex="5" style="max-width:200px;">
                                                    <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Customers</option>
                                                    @foreach (var item in Model.Customers)
                                                    {
                                                        <option value="@item.Id">@item.Company.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">Company:</h6>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="rounded">
                                                <select class="form-select select2 input-col" id="companyId" tabindex="5" style="max-width:200px;">
                                                    <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Companies</option>
                                                    @foreach (var item in Model.Companies)
                                                    {
                                                        @*<option value="@item.Id">@item.Name</option>*@
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">Company Reference:</h6>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <input class="form-control custom-date" type="text" name="CompanyReference" style="max-width:200px;" placeholder="999999999X" autocomplete="off" value="">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">Customer Reference:</h6>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <input class="form-control custom-date" type="text" name="CustomerReference" style="max-width:200px;" placeholder="9999999999" autocomplete="" value="">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div id="message_refList"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-opus" style="float:right;" id="refAjx">Add reference</button>
                                        </div>

                                    </div>
                                </div>


                                <div class="p-15">
                                    <div class="row">
                                        <div class="col">
                                            <table id="reference_list" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th class="d-none"></th>
                                                        <th>Customer</th>
                                                        <th>Company</th>
                                                        <th>Customer Reference</th>
                                                        <th>Company Reference</th>
                                                        <th>State</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="custDef" role="tabpanel">
                                <div class="p-15">
                                    <form asp-area="QS" asp-controller="RV" asp-action="PostCustomerDef" method="post">
                                        <h4>Add Customer</h4>
                                        <div class="row">
                                            <div class="col-lg-2 col-12">
                                                <h6 class="my-10">Customer:</h6>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <div class="rounded">
                                                    <select class="form-select select2 input-col" tabindex="5" style="max-width:200px;" asp-for="CustomerDefinitions.CustomerId" id="customerid_CustomerDefs">
                                                        <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Companies</option>
                                                        @foreach (var item in Model.Customers)
                                                        {
                                                            <option value="@item.Id">@item.Company.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-12">
                                                <h6 class="my-10">Add Company in Customer:</h6>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <div class="rounded">
                                                    <select class="form-select select2 input-col" tabindex="5" style="max-width:200px;" asp-for="CustomerDefinitions.CompanyId">
                                                        <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Companies</option>

                                                        @foreach (var item in Model.Companies)
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-opus" style="float:right;" type="submit">Add Company in Customer</button>
                                            </div>

                                        </div>
                                    </form>

                                </div>


                                <div class="p-15">
                                    <div class="row">
                                        <div class="col">
                                            <table id="cust_def_list" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th class="d-none"></th>
                                                        <th>Customer</th>
                                                        <th>Company</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane" id="add" role="tabpanel">
                                <div class="p-15">
                                    <form asp-area="QS" asp-controller="RV" asp-action="PostCustomer" method="post">
                                        <h4>Add Customer</h4>
                                        <div class="row">
                                            <div class="col-lg-2 col-12">
                                                <h6 class="my-10">Company:</h6>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <div class="rounded">
                                                    <select class="form-select select2 input-col" id="companyId" tabindex="5" style="max-width:200px;" asp-for="Company.Id">
                                                        <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Companies</option>
                                                        @foreach (var item in Model.Companies)
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-opus" style="float:right;" type="submit">Add Customer</button>
                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="tab-pane" id="addComp" role="tabpanel">
                                <div class="p-15">
                                    <form asp-area="QS" asp-controller="RV" asp-action="PostCompany" method="post">
                                        <h4>Add Company</h4>
                                        <div class="row">
                                            <div class="col-lg-2 col-12">
                                                <h6 class="my-10">Company Name:</h6>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <input class="form-control custom-date" type="text" asp-for="Company.Name" style="max-width:200px;" placeholder="Expert Quality Service" value="">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-opus" style="float:right;" type="submit">Add Company</button>
                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="tab-pane" id="user" role="tabpanel">
                                <div class="p-15">
                                    <h4>Add User</h4>
                                    <div class="row">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">User Name(Login ID):</h6>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <input class="form-control custom-date" type="text" id="userNameId" name="UserName" style="max-width:200px;" placeholder="User Name" value="" maxlength="10">
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">Password:</h6>
                                        </div>
                                        <div class="col-lg-2 col-12">
                                            <input class="form-control custom-date" type="text" name="Password" style="max-width:200px;background-color:#FFFFFF;" readonly maxlength="6">
                                        </div>
                                        <div class="col-lg-4 col-12 my-1">
                                            <button class="btn btn-sm btn-primary" id="generatePass">Generate</button>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">Full Name:</h6>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <input class="form-control custom-date" type="text" name="FullName" style="max-width:200px;" placeholder="Name Surname" value="">
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">Is Active:</h6>
                                        </div>
                                        <div class="col-lg-4 col-12 my-2">
                                            <input type="checkbox" id="active_check" class="filled-in chk-col-success" checked="checked">
                                            <label for="active_check">Active</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-12">
                                            <h6 class="my-10">Is Officer:</h6>
                                        </div>
                                        <div class="col-lg-4 col-12 my-2">
                                            <input type="checkbox" id="admin_check" class="filled-in chk-col-success">
                                            <label for="admin_check" id="adminCheckLabel">User</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div id="message">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-opus" style="float:right;" id="addUser">Add User</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-15">
                                    <div class="row">
                                        <div class="col">
                                            <table id="user_list" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th class="d-none"></th>
                                                        <th>UserName</th>
                                                        <th>FullName</th>
                                                        <th>Active</th>
                                                        <th>User State</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="definitions" class="tab-pane">
                                <div class="p-15">
                                    <h4>Definitions</h4>
                                </div>

                                <div class="p-15">
                                    <div class="row">
                                        <div class="col">
                                            <table id="userlistforDef" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th class="d-none"></th>
                                                        <th>UserName</th>
                                                        <th>FullName</th>
                                                        <th>User State</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="logs" class="tab-pane">
                                <div class="p-15">
                                    <h4>Barcode Scan Logs</h4>
                                </div>

                                <div class="p-15">
                                    <div class="row">
                                        <div class="col">
                                            @*
                                                <table id="logTable" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="d-none"></th>
                                                            <th>UserName</th>
                                                            <th>FullName</th>
                                                            <th>User State</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            *@
                                            <textarea class="form-control" name="comment" id="log-output" style="background-color:transparent; resize:none; min-height:485px; max-height:600px;" disabled="disabled"> - fasdgasdfgdsfhdfghfg &#13;&#10; - asdfgasdgsdfgsdfgdsfg</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function websocketListiner_TEST() {
            //var webSocket = new WebSocket("ws://localhost:5001/ws");
            //webSocket.send("a test data");
            //webSocket.onopen();
            
            let socket = new WebSocket("ws://localhost:5000/send");
            /*
            socket.onopen = function (e) {
                alert("[open] Connection established");
                alert("Sending to server");
                socket.send("My name is John");
            };

            socket.onmessage = function (event) {
                alert(`[message] Data received from server: ${event.data}`);
            };

            socket.onclose = function (event) {
                if (event.wasClean) {
                    alert(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
                } else {
                    // e.g. server process killed or network down
                    // event.code is usually 1006 in this case
                    alert('[close] Connection died');
                }
            };

            socket.onerror = function (error) {
                alert(`[error] ${error.message}`);
            };
            */

        }

        var compId = '00000000-0000-0000-0000-000000000000';
        var custId = '00000000-0000-0000-0000-000000000000';
        var custDefId = '00000000-0000-0000-0000-000000000000';
        var CompanyRef = '';
        var CustomerRef = '';

        var userName = '';
        var password = '';
        var fullName = '';
        var active = true;
        var admin = false;

        function postRefAjax() {
            $('#message').html("");
            $('#message_refList').html("");
            CompanyRef = $('input[name="CompanyReference"]').val();
            CustomerRef = $('input[name="CustomerReference"]').val();

            var json = {
                CompanyReference: CompanyRef,
                CustomerReference: CustomerRef,
                customeryId: compId,
                customerDefinitionsId: compId,
                active: true,
                activeSTR: 'Live'
            };
            console.log(json);
            if (compId === "00000000-0000-0000-0000-000000000000" || custId === "00000000-0000-0000-0000-000000000000") {
                alert("Please select a customer and company");
            }
            else {
                console.log("postRefAjax() event");
                $.ajax({
                    url: "/api/qs/rv/post-ref",
                    data: JSON.stringify(json),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (received) {
                        if (received) {
                            listRef();
                            $('input[name="CompanyReference"]').val("");
                            $('input[name="CustomerReference"]').val("");
                        }
                        else {
                            $('#message_refList').html(`<span class="badge badge-danger">` + refNum + ` number is already added before on this customer.</span`);
                        }
                    }
                });
            }

        }
        function generatePass() {
            $('#message').html("");
            /*
            var json = {
                CompanyReference: refCode,
                CustomerReference: refNum,
                customerId: compId,
                active: true,
                activeSTR: 'Live'
            };*/
            $.ajax({
                url: "/api/qs/rv/generate-pass",
                data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (received) {
                    $('input[name="Password"]').val(received);
                }
            });
        }
        function postUserAjax() {
            $('#message').html("");
            userName = $('input[name="UserName"]').val();
            password = $('input[name="Password"]').val();
            fullName = $('input[name="FullName"]').val();

            var json = {
                fullName: fullName,
                userName: userName,
                password: password,
                admin: admin,
                active: active
            };
            console.log(json);
            if (userName.length < 3) {
                $('#message').html(`<span class="badge badge-danger">UserName field required and at least 3 characters must be entered</span>`);
            }
            else if (password.length < 6) {
                $('#message').html(`<span class="badge badge-danger">Password field required and at least 6 characters must be entered</span>`);
            }
            else if (fullName.length < 5) {
                $('#message').html(`<span class="badge badge-danger">FullName field required and at least 5 characters must be entered</span>`);
            }
            else {
                $.ajax({
                    url: "/api/qs/rv/post-user",
                    data: JSON.stringify(json),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (received) {
                        //listRef();List Users;
                        if (received) {
                            $('input[name="UserName"]').val('');
                            $('input[name="Password"]').val('');
                            $('input[name="FullName"]').val('');
                            $('#active_check').prop('checked', true);
                            $('#admin_check').prop('checked', false);
                            $('label[for="active_check"]').html("Active");
                            $('label[for="admin_check"]').html("User");
                            listUser();
                        }
                        else {
                            $('#message').html(`<span class="badge badge-danger">The user could not be added. This username is already added before.</span>`);
                        }

                    }
                });
            }
            $('#addUser').prop("disabled", false);
        }

        $(document).on('click', '#refAjx', function () {
            postRefAjax();
        });
        $(document).on('click', '#generatePass', function () {
            generatePass();
        });
        $(document.body).on("change", "#customerId", function (e) {
            custId = this.value;
            console.log(compId);
            /*Query in CustomerDefinitions with ajax*/

            //$('#companyId').val(null).trigger('change');
            $("#companyId").empty();
            var _optionemp = new Option("Select Company", "00000000-0000-0000-0000-000000000000", true, true);
            $('#companyId').append(_optionemp).trigger('change');
            $.ajax({
                url: '/api/qs/rv/get-custDef/' + this.value,
                type: "GET",
                dataType: "json",
                success: function (data) {


                    console.log(data);
                    $.each(data, function (i, val) {
                        var _option = new Option(val.company.name, val.id);
                        $('#companyId').append(_option).trigger('change');
                    });
                }
            });

        });
        $(document.body).on("change", "#companyId", function (e) {
            compId = this.value;
        });
        $(document.body).on("change", "#customerid_CustomerDefs", function (e) {
            compId = this.value;
            console.log(compId);
            /*Query in CustomerDefinitions with ajax*/
            listCustDef(this.value);
        });

        $(document.body).on("change", "#userNameId", function (e) {
            $('#message').html("");
        });
        $(document).on('click', '#addUser', function () {
            $('#addUser').prop("disabled", true);
            postUserAjax();
        });
        function listRef() {
            var table = $('#reference_list').DataTable({
                order: [[4, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": '/api/qs/rv/get-verif',
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                    // call your function here
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "customerDefinitions.customer.company.name" },
                    { "data": "customerDefinitions.company.name" },
                    { "data": "companyReference" },
                    { "data": "customerReference" },

                    {
                        "data": "active",
                        render: function (data, type, row) {
                            if (data)
                                return 'Live';
                            else
                                return 'Out of work';
                        }
                    },
                    /*
                    {
                        data: null,
                        render: function (data, type, row) {
                            return '<a class="fa-exp-font"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    },*/

                ]
            });
            $("#categoryId").select2({ width: '200px' });
        }
        function listUser() {
            var tableUser = $('#user_list').DataTable({
                order: [[1, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": '/api/qs/rv/get-userlist',
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "userName" },
                    { "data": "fullName" },
                    {
                        "data": "active",
                        render: function (data, type, row) {
                            if (data)
                                return 'Active';
                            else
                                return 'Deactive';
                        }
                    },
                    {
                        "data": "admin",
                        render: function (data, type, row) {
                            if (data)
                                return 'Officer';
                            else
                                return 'User';
                        }
                    },
                    {
                        "data": "id",
                        render: function (data, type, row) {
                            return '<a class="fa-exp-font" href="/qs/references-verify/edit-user/' + data + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            });
            //$("#categoryId").select2({ width: '200px' });
        }

        function listUserforDef() {
            var userlistforDef = $('#userlistforDef').DataTable({
                order: [[1, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": '/api/qs/rv/get-userlist',
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "userName" },
                    { "data": "fullName" },
                    {
                        "data": "active",
                        render: function (data, type, row) {
                            if (data)
                                return 'Active';
                            else
                                return 'Deactive';
                        }
                    },
                    {
                        "data": "id",
                        render: function (data, type, row) {
                            return '<a class="fa-exp-font" href="/qs/references-verify/reference-definitions/' + data + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            });
            //$("#categoryId").select2({ width: '200px' });
        }
        function listCustDef(cusId) {
            //cust_def_list
            var customerlistforDef = $('#cust_def_list').DataTable({
                order: [[1, 'asc']],
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": false,
                "bPaginate": true,
                "ajax": {
                    "type": "GET",
                    "url": '/api/qs/rv/get-custDef/' + cusId,
                    'dataSrc': '',
                },
                "initComplete": function (settings, json) {
                },
                "columns": [
                    { "data": "id", "className": "d-none" },
                    { "data": "customer.company.name" },
                    { "data": "company.name" },
                ]
            });
            //$("#categoryId").select2({ width: '200px' });
        }
        function disablewhitespaceinusername() {
            var field = document.querySelector('[name="UserName"]');

            field.addEventListener('keypress', function (event) {
                var key = event.keyCode;
                if (key === 32) {
                    event.preventDefault();
                }
            });
        }
        function active_checkBox() {
            $("#active_check").change(function () {
                $('#message').html("");
                if (this.checked) {
                    active = true;
                    $('label[for="active_check"]').html("Active");
                }
                else {
                    active = false;
                    $('label[for="active_check"]').html("Deactive");
                }
            });
        }
        function admin_checkBox() {
            $("#admin_check").change(function () {
                $('#message').html("");
                if (this.checked) {
                    admin = true;
                    $('label[for="admin_check"]').html("Officer");
                }
                else {
                    admin = false;
                    $('label[for="admin_check"]').html("User");
                }
            });
        }
        function getLogs() {
            var logHtml=``;
            //$('#log-output').html();
            $.ajax({
                url: "/api/qs/rv/get-log",
                type: "GET",
                success: function (received) {
                    //console.log(received);
                    $.each(received, function (i, val) {
                        /*
                        let hour = addZero(date.getHours());
                        let minute = addZero(date.getMinutes());
                        let second = addZero(date.getSeconds());*/


                        const date = new Date(val.date);
                        var day = (date.getDate() <= 9 ? "0" + date.getDate() : date.getDate());
                        var month = (date.getMonth() + 1 <= 9 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1));
                        var hour = (date.getHours() + 1 <= 9 ? "0" + (date.getHours() + 1) : (date.getHours() + 1));
                        var minute = (date.getMinutes() + 1 <= 9 ? "0" + (date.getMinutes() + 1) : (date.getMinutes() + 1));
                        var second = (date.getSeconds() + 1 <= 9 ? "0" + (date.getSeconds() + 1) : (date.getSeconds() + 1));
                        var dateString = day + "." + month + "." + date.getFullYear() + " - " + hour + ":" + minute + ":" + second;



                        logHtml += `Date: (` + dateString + `) - UserName: (` + val.userName + `) - Personel: (` + val.fullName + `) - Scanned Barcode: (` + val.barcodeNum +
                            `) - CompanyReference: (` + val.companyReference + `) - CustomerReference: (` + val.customerReference +`) &#13;&#10;`;
                    });
                    $('#log-output').html(logHtml);
                }
            });
        }
        function addZero(i) {
            if (i < 10) { i = "0" + i }
            return i;
        }
        $(document).ready(function () {
            listRef();
            listUser();
            listUserforDef();
            disablewhitespaceinusername();
            active_checkBox();
            admin_checkBox();
            getLogs();
            websocketListiner_TEST();
        });
    </script>
}
