@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Locations</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item"><a href="/training">Training</a></li>
                        <li class="breadcrumb-item" aria-current="page">Add</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Add Training Form</h4>
                </div>
                <div class="box-body">

                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Subject</label>
                        <div class="col-md-10">
                            <input class="form-control datepicker" type="text" name="subject" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Description</label>
                        <div class="col-md-10">
                            <input class="form-control datepicker" type="text" name="description" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Location</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <select class="form-control select2" style="width: 100%;" id="locationselect">
                                    <option selected="selected" value="0" disabled="disabled">Select Location</option>
                                    <option>Arif Yılmaz</option>
                                    <option>Semih İnanç</option>
                                    <option>Sinan Er</option>
                                    <option>Hatice Şahiner</option>
                                    <option>Semali Çelik</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Document</label>
                        <div class=" col-md-10 imageform d-none">
                            <form action="#" class="dropzone text-center" id="image-dropzone">
                                <div class="fallback">
                                    <input class="drop-image" name="document" type="file" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="exp-alert" class="d-none">
                        <div class="form-group row">
                            <div class="col-md-2"></div>
                            <div class=" col-md-10 imageform d-none">
                                <div class="alert alert-danger" id="exp-alert-message">
                                    <p>We have some problem!</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="border-bottom" style="margin-bottom: 20px;"></div>
                    <h4>Staff Training</h4>
                    <p></p>
                    <p></p>


                    <!------Form Details------>




                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Date</label>
                        <div class="col-md-10">
                            <input class="form-control datepicker" type="date" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Trainer</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <select class="form-control select2" style="width: 100%;" id="trainerselect">
                                    <option selected="selected" value="0" disabled="disabled">Select Trainer</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Staff</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <select class="form-control select2" style="width: 100%;" id="staffselect">
                                    <option selected="selected" value="0" disabled="disabled">Select Staff</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary waves-effect waves-dark"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="locationTable" class="table table-hover table-bordered table-striped dataTables">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Trainer</th>
                                            <th>Staff</th>
                                            <th>Reference</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.CountryId</td>
                                                    <td>@item.Active</td>
                                                    <td>@item.ColorHex</td>
                                                </tr>
                                            }*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--<script src="../assets/vendor_components/dropzone/dropzone.js"></script>-->
<script src="~/lib/vendor_components/dropzone/dropzone.js"></script>
@section Scripts{
    <script>
        var getLocationUrl = '/api/hr/get-location';
        var getStaffActiveUrl = '/api/hr/get-staff-active';
        var getTrainerUrl = '/api/hr/get-trainer';
        var maxfilesize = 3;
        Dropzone.autoDiscover = true;

        Dropzone.options.imageDropzone = {
            maxFilesize: maxfilesize,
            maxFiles: 1,
            /*acceptedFiles: ".jpeg,.jpg,.png,.gif",*/
            acceptedMimeTypes: 'image/*',
            init: function () {
                $('#exp-alert').addClass('d-none');
                /*
                this.on("success", function (file) {
                    console.log("init");
                    this.removeAllFiles();
                    this.addFile(file);
                    $('#exp-alert').addClass('d-none');
                    if (file.size < maxfilesize) {
                        //$('#exp-alert').addClass('d-none');
                    }
                });*/
                this.on("maxfilesexceeded", function (file) {
                    this.removeAllFiles();
                    this.addFile(file);
                    $('#exp-alert').addClass('d-none');

                });
                this.on("error", function (file, message) {
                    this.removeAllFiles();
                    $('#exp-alert').addClass('d-none');
                    if (file.size > maxfilesize) {
                        $('#exp-alert').removeClass('d-none');
                        $('#exp-alert-message').html(`<p>Document upload fail! ` + message + `</p>`);
                        //alert("Document upload fail! "+message);
                    }
                });
            },
        };
        $(document).ready(function () {

            $('.dz-message').html("<div style='font-size:small;'><span>Drop image here to upload</span></br><span>or select an image from your local files</span></br><span>or take a photo from your smartphone</span></div>");
            $('.imageform').removeClass('d-none');

            getLocationAjx();
            getStaffAjx();
            getTrainerAjx();
        });
        function getLocationAjx() {
            $('#locationselect').empty().trigger("change");

            var locationSelect = $('#locationselect');
            //staffSelect.val(null).trigger('change');
            var option = new Option('Select Location', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            locationSelect.append(option).trigger('change');

            $.ajax({
                url: getLocationUrl,
                //data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                /*success: function (received) {
                    console.log(received);
                }*/
            }).then(function (data) {
                $.each(data, function (key, value) {
                    // create the option and append to Select2
                    var option = new Option(value.name, value.id, false, false);
                    locationSelect.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    locationSelect.trigger({
                        type: 'select2:select',
                        params: {
                            data: value
                        }
                    });


                });

            });
        }
        function getStaffAjx() {
            $('#staffselect').empty().trigger("change");

            var staffSelect = $('#staffselect');
            //staffSelect.val(null).trigger('change');
            var option = new Option('Select Staff', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            staffSelect.append(option).trigger('change');

            $.ajax({
                url: getStaffActiveUrl,
                //data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
            }).then(function (data) {
                $.each(data, function (key, value) {
                    // create the option and append to Select2
                    var option = new Option(value.firstName + ' ' + value.lastName, value.id, false, false);
                    staffSelect.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    staffSelect.trigger({
                        type: 'select2:select',
                        params: {
                            data: value
                        }
                    });


                });

            });
        }
        function getTrainerAjx() {
            $('#trainerselect').empty().trigger("change");

            var trainerSelect = $('#trainerselect');
            //staffSelect.val(null).trigger('change');
            var option = new Option('Select Trainer', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            trainerSelect.append(option).trigger('change');

            $.ajax({
                url: getTrainerUrl,
                //data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
            }).then(function (data) {
                $.each(data, function (key, value) {
                    var option = new Option(value.fullName, value.id, false, false);
                    trainerSelect.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    trainerSelect.trigger({
                        type: 'select2:select',
                        params: {
                            data: value
                        }
                    });


                });

            });
        }
        async function doAjax() {
            let result;

            try {
                result = await $.ajax({
                    url: ajaxurl,
                    type: 'POST'
                });

                return result;
            } catch (error) {
                console.error(error);
            }
        }
    </script>
}