
@{
    ViewData["Title"] = "TrainingView";
}

@model Opus.Models.ViewModels.TrainingVM

<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Locations</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item"><a href="/training">Training</a></li>
                        <li class="breadcrumb-item" aria-current="page">View</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Add Training Form</h4>
                </div>
                <div class="box-body">
                    <form id="myform" method="post" enctype="multipart/form-data" data-parsley-validate>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Location</label>
                            <div class="col-md-10">
                                <div class="form-group">
                                    @*
                                        <select class="form-control select2" style="width: 100%;" id="locationselect" asp-for="LocationId">
                                            <option selected="selected" value="0" disabled="disabled">Select Location</option>
                                            <option>Arif Yılmaz</option>
                                            <option>Semih İnanç</option>
                                            <option>Sinan Er</option>
                                            <option>Hatice Şahiner</option>
                                            <option>Semali Çelik</option>
                                        </select>*@
                                <input class="form-control datepicker" type="text" autocomplete="off" value="@Model.Location.Name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Subject</label>
                        <div class="col-md-10">
                            <input class="form-control datepicker" type="text" autocomplete="off" value="@Model.Subject">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Description</label>
                        <div class="col-md-10">
                            <input class="form-control datepicker" type="text" autocomplete="off" value="@Model.Description">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Document</label>

                        <img style="max-height:600px;height:auto;width:auto;" src="/assets/training/@Model.Id/@Model.DocumentImgUrl" draggable="false"/>

                        <div class=" col-md-10 imageform d-none">
                            @*<div action="/training/add" class="dropzone text-center" id="image-dropzone">
                                    <div class="fallback">
                                        <input class="drop-image" type="file" name="FormFile" />
                                    </div>
                                </div>*@
                            <div class="input-group">
                                <input class="form-control" type="file" name="FormFile" />
                            </div>
                        </div>
                        @*
                            <div class="col-md-10">
                                <input asp-for="Files.TetanusVaccine" type="file" placeholder="Debit Form" class="input_email form-control">
                                <input class="drop-image" type="file" asp-for="FormFile" />
                            </div>*@
                    </div>

                    <div id="exp-alert" class="d-none">
                        <div class="form-group row">
                            <div class="col-md-2"></div>
                            <div class=" col-md-10 imageform d-none">
                                <div class="alert alert-danger" id="exp-alert-message">
                                    <p>We have some problem!</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="border-bottom" style="margin-bottom: 20px;"></div>
                    <h4>Staff Training</h4>
                    <p></p>
                    <p></p>


                    <!------Form Details------>


                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="locationTable" class="table table-hover table-bordered table-striped dataTables">
                                    <thead>
                                        <tr>
                                            <th class="d-none"></th>
                                            <th>Date</th>
                                            <th>Trainer</th>
                                            <th>Staff</th>
                                            <th>Reference</th>
                                        </tr>
                                    </thead>
                                    <tbody id="locationTbody">

                                        @foreach (var item in Model.Enumerable_StaffTraining)
                                        {
                                            
                                                var fullname = item.Staff.FirstName + " " + item.Staff.LastName; 
                                                
                                            <tr>
                                                <td>@item.Date.ToString("dd.MM.yyyy")</td>
                                                <td>@item.Trainer.FullName</td>
                                                <td>@fullname</td>
                                                <td>@item.References.Reference</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary waves-effect waves-dark" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>

