
@{
    ViewData["Title"] = "TrainingEdit";
}

@model Opus.Models.ViewModels.TrainingVM

<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Locations</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item"><a href="/training">Training</a></li>
                        <li class="breadcrumb-item" aria-current="page">Edit</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Edit Training Form</h4>
                </div>
                <div class="box-body">
                    <form id="training-form" method="post" enctype="multipart/form-data" data-parsley-validate>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Location</label>
                            <div class="col-md-10">
                                <div class="form-group">
                                    @*
                                        <select class="form-control select2" style="width: 100%;" id="locationselect" asp-for="LocationId">
                                            <option selected="selected" value="0" disabled="disabled">Select Location</option>
                                            <option>Arif Yılmaz</option>
                                            <option>Semih İnanç</option>
                                            <option>Sinan Er</option>
                                            <option>Hatice Şahiner</option>
                                            <option>Semali Çelik</option>
                                        </select>*@
                                    <input class="form-control datepicker" type="text" autocomplete="off" value="@Model.Location.Name" readonly="readonly" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Subject</label>
                            <div class="col-md-10">
                                <input class="form-control datepicker" type="text" autocomplete="off" value="@Model.Subject" asp-for="Subject" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Description</label>
                            <div class="col-md-10">
                                <input class="form-control datepicker" type="text" autocomplete="off" value="@Model.Description" asp-for="Description">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Document</label>
                            <div class="input-group">
                                <input class="form-control" type="file" name="FormFile" />
                            </div>
                            <small>(for update)</small>
                            <img style="max-height:600px;height:auto;width:auto;" src="/assets/training/@Model.Id/@Model.DocumentImgUrl" draggable="false" class="mt-10" />

                            <div class=" col-md-10 imageform d-none">
                                @*<div action="/training/add" class="dropzone text-center" id="image-dropzone">
                                        <div class="fallback">
                                            <input class="drop-image" type="file" name="FormFile" />
                                        </div>
                                    </div>*@

                            </div>
                            @*
                                <div class="col-md-10">
                                    <input asp-for="Files.TetanusVaccine" type="file" placeholder="Debit Form" class="input_email form-control">
                                    <input class="drop-image" type="file" asp-for="FormFile" />
                                </div>*@
                        </div>

                        <div id="exp-alert" class="d-none">
                            <div class="form-group row">
                                <div class="col-md-2"></div>
                                <div class=" col-md-10 imageform d-none">
                                    <div class="alert alert-danger" id="exp-alert-message">
                                        <p>We have some problem!</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="border-bottom" style="margin-bottom: 20px;"></div>
                        <h4>Staff Training</h4>
                        <p></p>
                        <p></p>


                        <!------Form Details------>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Date</label>
                            <div class="col-md-10">
                                <input class="form-control datepicker" type="date" id="dateval" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Trainer</label>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" id="trainerselect">
                                        <option selected="selected" value="0" disabled="disabled">Select Trainer</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Staff</label>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" id="staffselect">
                                        <option selected="selected" value="0" disabled="disabled">Select Staff</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Reference</label>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" id="referenceselect">
                                        <option selected="selected" value="0" disabled="disabled">Select Reference</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-primary waves-effect waves-dark" style="float:right" id="addDetailRow"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="locationTable" class="table table-hover table-bordered table-striped dataTables">
                                        <thead>
                                            <tr>
                                                <th class="d-none"></th>
                                                <th>Date</th>
                                                <th>Trainer</th>
                                                <th>Staff</th>
                                                <th>Reference</th>
                                            </tr>
                                        </thead>
                                        <tbody id="locationTbody">
                                            @{ int i = 0;}
                                            @foreach (var item in Model.Enumerable_StaffTraining)
                                            {

                                                var fullname = item.Staff.FirstName + " " + item.Staff.LastName;



                                                <tr data-id="@i">
                                                    <td data-name="seq" class="fitwidth d-none">
                                                        <input type="text" class="box-shadow-none seq-training d-none" value="@i" title="1" readonly="readonly">
                                                        <input type="text" class="box-shadow-none id-training d-none" value="@item.Id" title="@item.Id" readonly="readonly" name="Enumerable_StaffTraining[@i].Id" />
                                                        <span class="seq-training-spn">@i</span>
                                                    </td>

                                                    <td data-name="date" class="fitwidth">
                                                        <input type="text" class="box-shadow-none date-training d-none" value="@item.Date.ToString("dd.MM.yyyy")" title="@item.Date.ToString("dd.MM.yyyy")" readonly="readonly" name="Enumerable_StaffTraining[@i].Date">
                                                        <span title="">@item.Date.ToString("dd.MM.yyyy")</span>
                                                    </td>

                                                    <td data-name="trainer" class="fitwidth">
                                                        <input type="text" class="box-shadow-none trainer-training d-none" value="@item.Trainer.FullName" title="@item.Trainer.FullName" readonly="readonly">
                                                        <input type="text" class="trainerid-training d-none" value="@item.Trainer.Id" title="fcd3d20b-8bd1-4fe1-93c8-08da8cea0649" readonly="readonly" name="Enumerable_StaffTraining[@i].TrainerId">
                                                        <span title="">@item.Trainer.FullName</span>
                                                    </td>

                                                    <td data-name="staff" class="fitwidth">
                                                        <input type="text" class="box-shadow-none staff-training d-none" value="@fullname" title="@fullname" readonly="readonly">
                                                        <input type="text" class="staffid-training d-none" value="@item.Staff.Id" title="@item.Staff.Id" readonly="readonly" name="Enumerable_StaffTraining[@i].StaffId">
                                                        <span title="">@fullname</span>
                                                    </td>

                                                    <td data-name="reference">
                                                        <input type="text" class="box-shadow-none reference-training d-none" value="reference" title="reference" readonly="readonly">
                                                        <input type="text" class="referenceid-training d-none" value="@item.References.Id" title="reference" readonly="readonly" name="Enumerable_StaffTraining[@i].ReferencesId">
                                                        <span title="">@item.References.Reference</span>
                                                    </td>
                                                    <td data-name="del"><a id="delCont" name="delTrainingColumn" class="fa-exp-font"><i class="fa fa-trash fa-3" aria-hidden="true"></i><span class="d-none">@item.Id</span></a></td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="updatetraining" class="btn btn-primary waves-effect waves-dark" type="submit">Update</button>
                                </div>
                            </div>
                        </div>

                        <table id="delsection" class="table table-hover table-bordered table-striped dataTables d-none" hidden>
                            <thead>
                                <tr>
                                    <th>id</th>
                                </tr>
                            </thead>
                            <tbody id="delsectionTbody">
                            </tbody>
                        </table>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/lib/vendor_components/dropzone/dropzone.js"></script>
    <script>
        const guidNULL = '00000000-0000-0000-0000-000000000000';
        var getLocationUrl = '/api/hr/get-location';
        var getStaffActiveUrl = '/api/hr/get-staff-active';
        var getTrainerUrl = '/api/hr/get-trainer';
        var getReferenceByRef = '/api/hr/get-reference-locid/';
        var maxfilesize = 3;

        var seq = 0;
        var Delseq = 0;

        var trainerid = '';
        var trainer_name = '';

        var staffid = 0;
        var staff_name = '';

        var referenceid = '';
        var reference_name = '';


        Dropzone.autoDiscover = true;

        Dropzone.options.imageDropzone = {
            maxFilesize: maxfilesize,
            maxFiles: 1,
            /*acceptedFiles: ".jpeg,.jpg,.png,.gif",*/
            acceptedMimeTypes: 'image/*',
            init: function () {
                $('#exp-alert').addClass('d-none');
                /*
                this.on("success", function (file) {
                    console.log("init");
                    this.removeAllFiles();
                    this.addFile(file);
                    $('#exp-alert').addClass('d-none');
                    if (file.size < maxfilesize) {
                        //$('#exp-alert').addClass('d-none');
                    }
                });*/
                this.on("maxfilesexceeded", function (file) {
                    this.removeAllFiles();
                    this.addFile(file);
                    $('#exp-alert').addClass('d-none');

                });
                this.on("error", function (file, message) {
                    this.removeAllFiles();
                    $('#exp-alert').addClass('d-none');
                    if (file.size > maxfilesize) {
                        $('#exp-alert').removeClass('d-none');
                        $('#exp-alert-message').html(`<p>Document upload fail! ` + message + `</p>`);
                        //alert("Document upload fail! "+message);
                    }
                });
            },
        };
        $(document).ready(function () {
            trainerid = guidNULL;
            referenceid = guidNULL;
            $('.dz-message').html("<div style='font-size:small;'><span>Drop image here to upload</span></br><span>or select an image from your local files</span></br><span>or take a photo from your smartphone</span></div>");
            $('.imageform').removeClass('d-none');

            getLocationAjx();
            getStaffAjx();
            getTrainerAjx();
            getReferenceByLocation('@Model.Location.Id');

            $(document.body).on("change", "#locationselect", function () {
                getReferenceByLocation(this.value);
            });
            $(document.body).on("change", "#trainerselect", function (e) {
                console.log(this.value);
                trainerid = this.value;
                if ($('#trainerselect').find(':selected')[0].innerText != null || $('#trainerselect').find(':selected')[0].innerText != '')
                trainer_name = $('#trainerselect').find(':selected')[0].innerText;
                $('#addDetailRow').prop('disabled', false);
                console.log(trainer_name);
            });
            $(document.body).on("change", "#staffselect", function () {
                console.log(this.value);
                staffid = this.value;
                if ($('#staffselect').find(':selected')[0].innerText != null || $('#staffselect').find(':selected')[0].innerText != '')
                    staff_name = $('#staffselect').find(':selected')[0].innerText;
                $('#add_buyingDetail_row').prop('disabled', false);
                console.log(staff_name);
            });
            $("#referenceselect").on("select2:select", function (e) {
                referenceid = $(e.currentTarget).val();
                reference_name = $('#referenceselect').find(':selected')[0].innerText;
            });

            $("input[name='delTrainingColumn']").on("click", function () {
                console.clear();
                console.log(e);
            });
        });
        function getLocationAjx() {
            $('#locationselect').empty().trigger("change");

            var locationSelect = $('#locationselect');
            //staffSelect.val(null).trigger('change');
            var option = new Option('Select Location', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            locationSelect.append(option).trigger('change');

            $.ajax({
                url: getLocationUrl,
                //data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                /*success: function (received) {
                    console.log(received);
                }*/
            }).then(function (data) {
                $.each(data, function (key, value) {
                    // create the option and append to Select2
                    var option = new Option(value.name, value.id, false, false);
                    locationSelect.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    locationSelect.trigger({
                        type: 'select2:select',
                        params: {
                            data: value
                        }
                    });


                });

            });
        }
        function getStaffAjx() {
            $('#staffselect').empty().trigger("change");

            var staffSelect = $('#staffselect');
            //staffSelect.val(null).trigger('change');
            var option = new Option('Select Staff', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            staffSelect.append(option).trigger('change');

            $.ajax({
                url: getStaffActiveUrl,
                //data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
            }).then(function (data) {
                $.each(data, function (key, value) {
                    // create the option and append to Select2
                    var option = new Option(value.firstName + ' ' + value.lastName, value.id, false, false);
                    staffSelect.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    staffSelect.trigger({
                        type: 'select2:select',
                        params: {
                            data: value
                        }
                    });


                });

            });
        }
        function getTrainerAjx() {
            $('#trainerselect').empty().trigger("change");

            var trainerSelect = $('#trainerselect');
            //staffSelect.val(null).trigger('change');
            var option = new Option('Select Trainer', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            trainerSelect.append(option).trigger('change');

            $.ajax({
                url: getTrainerUrl,
                //data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
            }).then(function (data) {
                $.each(data, function (key, value) {
                    var option = new Option(value.fullName, value.id, false, false);
                    trainerSelect.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    trainerSelect.trigger({
                        type: 'select2:select',
                        params: {
                            data: value
                        }
                    });


                });

            });
        }
        function getReferenceByLocation(locationid) {
            $('#referenceselect').empty().trigger("change");
            var referenceselect = $('#referenceselect');
            //staffSelect.val(null).trigger('change');
            var option = new Option('Select Reference', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            referenceselect.append(option).trigger('change');
            console.clear();
            $.ajax({
                url: getReferenceByRef+locationid,
                //data: JSON.stringify("vasd7564as52d9c7s"),
                type: "POST",
                contentType: "application/json; charset=utf-8",
            }).then(function (data) {
                $.each(data, function (key, value) {
                    var option = new Option(value.reference, value.id, false, false);
                    referenceselect.append(option).trigger('change');
                    // manually trigger the `select2:select` event
                    referenceselect.trigger({
                        type: 'select2:select',
                        params: {
                            data: value
                        }
                    });


                });

            });

        }
        async function doAjax() {
            let result;

            try {
                result = await $.ajax({
                    url: ajaxurl,
                    type: 'POST'
                });

                return result;
            } catch (error) {
                console.error(error);
            }
        }


        async function disable_button() {

            result = await $('#addDetailRow').prop('disabled', true);
            return result;
        }



        $("#addDetailRow").on("click", function () {
            $('#addDetailRow').prop('disabled', true);
            //disable_button();

            //var date_val = $("#dateval").val();
            var date = new Date($('#dateval').val());
            var dayStr = '';
            var monthStr = '';
            var yearStr = '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (day < 10)
                dayStr = '0' + day;
            else
                dayStr = '' + day;

            if (month < 10)
                monthStr = '0' + month;
            else
                monthStr = ''+month;



            var date_val = [dayStr, monthStr, year].join('.');
            //alert([day, month, year].join('/'));

            var subject = $("input[name=subject]").val();
            var description = $("input[name=description]").val();


            /*
            var idVal = $("#identification").val();
            var docNo = $("#PurchaseInvoice_DocNo").val();
            if (docNo == null || docNo == '') {
                checkDocNum();
            }
            if (idVal == null) {
                checkId();
            }
            else {

                $('#buying-submit').prop('disabled', true);
                $('#addDetailRow').prop('disabled', true);
                const selectedText = $("#departmantid option:selected").text();
                const selectedValue = $("#departmantid option:selected").val();

                if (selectedValue == -1) {
                    $.toast({
                        heading: 'Required family member selection',
                        text: 'Please select a family member.',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (piece == "" || piece == null || piece == 0) {
                    $.toast({
                        heading: 'Required Piece Field',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (unit_price == "" || unit_price == null || unit_price == 0) {
                    $.toast({
                        heading: 'Required unit price field',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (vat == "" || vat == null || vat < 1) {
                    $.toast({
                        heading: 'Required select vat field',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (categoryId == "00000000-0000-0000-0000-000000000000" || categoryId == null) {
                    $.toast({
                        heading: 'Required Category',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (subCategoryId == "00000000-0000-0000-0000-000000000000" || subCategoryId == null) {
                    $.toast({
                        heading: 'Required SubCategory',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (tagId == "00000000-0000-0000-0000-000000000000" || tagId == null) {
                    $.toast({
                        heading: 'Required Tag',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else {


                    if (vat == 1)
                        vatRate = "%0"
                    if (vat == 1.01)
                        vatRate = "%1";
                    if (vat == 1.08)
                        vatRate = "%8";
                    if (vat == 1.18)
                        vatRate = "%18";

                    console.log("%1: "+vat_1);
                    console.log("%8: " + vat_8);
                    console.log("%18: " + vat_18);

                    if (discount == 1)
                        discountrate = "%0";
                    if (discount == 1.08)
                        discountrate = "%8";
                    if (discount == 1.1)
                        discountrate = "%10";
                    if (discount == 1.18)
                        discountrate = "%18";


                    //var selectedElementTxt = `<input type="text" class="form-control" value="` + selectedText + `" title="` + selectedText + `" readonly="readonly" />`;
                    //var selectedElementVal = `<input type="text" class="form-control departmantid d-none" value="` + selectedValue + `" hidden/>`;



                }

            }
            */
            if (date_val == "" || date_val == null) {
                $.toast({
                    heading: 'Required date field',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
                setTimeout(function () {
                    //getSumVals();

                    $('#addDetailRow').prop('disabled', false);
                }, 500);
            }
            else if (trainerid == guidNULL || trainerid == null || trainerid=='0') {
                $.toast({
                    heading: 'Required trainer field',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
                setTimeout(function () {
                    //getSumVals();

                    $('#addDetailRow').prop('disabled', false);
                }, 500);
            }
            else if (staffid == 0 || staffid == null) {
                $.toast({
                    heading: 'Required Staff field',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
                setTimeout(function () {
                    //getSumVals();

                    $('#addDetailRow').prop('disabled', false);
                }, 500);
            }

            else {
                seq++;
                var tbody_location_item = `
                                                    <tr data-id="`+ seq + `">
                                                        <td data-name="seq" class="fitwidth d-none">
                                                                <input type="text" class="box-shadow-none seq-training d-none" value="`+ seq + `" title="` + seq + `" readonly="readonly"/>
                                                                <span class="seq-training-spn">`+ seq + `</span>

                                                        </td>
                                                        <td data-name="date" class="fitwidth">
                                                                <input type="text" class="box-shadow-none date-training d-none" value="`+ date_val + `" title="` + date_val + `" readonly="readonly"/>
                                                                <span title="">`+ date_val + `</span>
                                                        </td>
                                                        <td data-name="trainer" class="fitwidth">
                                                                <input type="text" class="box-shadow-none trainer-training d-none" value="`+ trainer_name + `" title="` + trainer_name + `" readonly="readonly"/>
                                                                <input type="text" class="trainerid-training d-none" value="`+ trainerid + `" title="` + trainerid + `" readonly="readonly"/>
                                                                <span title="">`+ trainer_name + `</span>
                                                        </td>
                                                        <td data-name="staff" class="fitwidth">
                                                                <input type="text" class="box-shadow-none staff-training d-none" value="`+ staff_name + `" title="` + staff_name + `" readonly="readonly"/>
                                                                <input type="text" class="staffid-training d-none" value="`+ staffid + `" title="` + staffid + `" readonly="readonly"/>
                                                                <span title="">`+ staff_name + `</span>
                                                        </td>
                                                        <td data-name="reference" class="fitwidth">
                                                                <input type="text" class="box-shadow-none reference-training d-none" value="`+ "reference" + `" title="` + "reference" + `" readonly="readonly"/>
                                                                <input type="text" class="referenceid-training d-none" value="`+ referenceid + `" title="` + "reference" + `" readonly="readonly"/>
                                                                <span title="">`+reference_name+`</span>
                                                        </td>
                                                        <td data-name="del" class="fitwidth">
                                                            <a id="delCont" name="delTrainingColumn" class="fa-exp-font"><i class="fa fa-trash fa-3" aria-hidden="true"></i></a>
                                                        </td>
                                                        @*
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none discountRate-buying d-none" value=`+ discount.toString().replace(/\./g, ',') + ` title="` + discountrate.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ discountrate + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none discount-buying d-none" value=`+ calcedDis.toString().replace(/\./g, ',') + ` title="` + calcedDis.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ calcedDis.toFixed(2).toString().replace(/\./g, ',') + `</span>

                                                        </td>
                                                        *@
                                                    </tr>

`;
                $("#locationTbody").append(tbody_location_item);

                $('.seq-training-spn').each(function (i) {
                    $(this).html(Number(i + 1));
                });
                $('.date-training').each(function (i) {
                    $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].Date');
                });
                $('.trainerid-training').each(function (i) {
                    $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].TrainerId');
                });
                $('.staffid-training').each(function (i) {
                    $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].StaffId');
                });
                $('.referenceid-training').each(function (i) {
                    $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].ReferencesId');
                });

                setTimeout(function () {
                    //getSumVals();

                    //clearTrainingInputs();
                }, 500);
                clearTrainingInputs();
            }

        });

        $("#training-form").on('click', "#delCont", function (e) {
            //Enumerable_StaffTrainingIds for delete id
            //delsectionTbody

            var staffTrainigId = e.currentTarget.text;
            var tbody_location_delSection = `
                                                    <tr>
                                                        <td>
                                                                <input type="text" class="box-shadow-none seq-training" name="Enumerable_StaffTrainingIds[`+ Delseq + `]" value="` + staffTrainigId + `" title="` + staffTrainigId + `" readonly="readonly"/>
                                                        </td>
                                                    </tr>
`;
            $("#delsectionTbody").append(tbody_location_delSection);
            Delseq++;

            $('#addDetailRow').prop('disabled', true);
            $('#updatetraining').prop('disabled', true);

            console.log(staffTrainigId);

            //var totalamount_del = 0;
            //var total_del = 0;
            //var calcedVat_del = 0;
            /*
            let total_del = Number($(this).parent().parent().find('.outVat-buying').val().replace(/\,/g, '.'));
            let calcedVat_del = Number($(this).parent().parent().find('.calcedVat-buying').val().replace(/\,/g, '.'));
            let calcedDis_Del = Number($(this).parent().parent().find('.discount-buying').val().replace(/\,/g, '.'));


            let totalamount_del = Number(total_del + calcedVat_del).toFixed(2);*/
            /*
            console.clear();
            console.log("removing values: ");
            console.log("out of vat: " + total_del);
            console.log("Vat: " + calcedVat_del);
            console.log("Discount: " + calcedDis_Del);
            console.log("Total Amount: " + totalamount_del);*/

            $(this).parent().parent().remove();



            /*seq-buying-spn*/
            $('.seq-training-spn').each(function (i) {
                $(this).html(Number(i + 1));
            });
            $('.seq-buying').each(function (i) {
                /*$(this).attr('name', 'ContactEnumerable[' + i + '].FullName');*/
            });

            /*
            $('.categoryName-buying').each(function (i) {
                $(this).attr('name', 'BuyingInput[' + i + '].DepartmantId');
            });
            $('.subCategoryName-buying').each(function (i) {
                $(this).attr('name', 'BuyingInput[' + i + '].MobileNumber');
            });
            */

            $('.seq-training-spn').each(function (i) {
                $(this).html(Number(i + 1));
            });
            $('.id-training').each(function (i) {
                $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].Id');
            });
            $('.date-training').each(function (i) {
                $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].Date');
            });
            $('.trainerid-training').each(function (i) {
                $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].TrainerId');
            });
            $('.staffid-training').each(function (i) {
                $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].StaffId');
            });
            $('.referenceid-training').each(function (i) {
                $(this).attr('name', 'Enumerable_StaffTraining[' + i + '].ReferencesId');
            });
            setTimeout(function () {
                //getSumVals();
                $('#addDetailRow').prop('disabled', false);
                $('#updatetraining').prop('disabled', false);
            }, 500);

        });

        function clearTrainingInputs() {
            //getTrainerAjx();
            //getStaffAjx();
            $('#staffselect').val('0');
            $('#staffselect').select2().trigger('change');


            setTimeout(function () {
                //getSumVals();

                $('#addDetailRow').prop('disabled', false);
                $('#updatetraining').prop('disabled', false);
            }, 500);
        }
    </script>
}
