@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Opus.Models.DbModels.Products>
        <!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="box">

                <!-- /.box-header -->
                <div class="box-body">
                    <h4 class="box-title text-info mb-0">Products</h4>
                    <div class="text-end">
                        <div>
                            <input id="search-product" class="form-control" placeholder="Search" />
                        </div>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-primary">Add New</a>
                    </div>
                    <hr class="my-15">
                    <div class="row">
                        <div class="tab-content">
                            <div id="navpills-1" class="tab-pane active">
                                <!-- Categroy 1 -->
                                <div class=" tab-pane animation-fade active" id="category-1" role="tabpanel">
                                    <div class="panel-group panel-group-simple panel-group-continuous" id="accordion2" aria-multiselectable="true" role="tablist">
                                        <!-- Question 1 -->
                                        @foreach (var item in Model)
                                        {
                                            <div class="panel">
                                                <div class="panel-heading" id="question-@item.Id" role="tab">
                                                    <a class="panel-title collapsed" aria-controls="answer-@item.Id" aria-expanded="false" data-bs-toggle="collapse" href="#answer-@item.Id" data-parent="#accordion2">
                                                        @item.Name
                                                    </a>
                                                </div>
                                                <div class="panel-collapse collapse" id="answer-@item.Id" aria-labelledby="question-@item.Id" role="tabpanel" data-bs-parent="#category-@item.Id" style="">
                                                    <div class="panel-body">
                                                        @foreach (var sizeItem in item.ProductSize)
                                                        {
                                                            <ul class="todo-list ui-sortable">
                                                                <li class="p-10">
                                                                    <!-- todo text -->
                                                                    <span class="text-line">@sizeItem.Name</span>
                                                                    <!-- Emphasis label -->
                                                                    <small class="badge bg-@(sizeItem.Stock < 5 ? "danger" : "success" ) text-end"> @sizeItem.Stock</small>
                                                                    <!-- General tools such as edit or delete-->
                                                                    <div class="tools">
                                                                        <a onclick="ikBedenGüncelle(@sizeItem.Id)" href="#"><i class="fa fa-edit"></i></a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!-- End Categroy 1 -->
                            </div>
                        </div>



                    </div>


                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->
        </div>

        <div id="editsizemodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editsizemodal" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="editsizemodal">Update Size</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="~/Staff/IkSizeUpdate" method="post">
                            <input type="hidden" name="id" id="id" />
                            <input type="hidden" name="ikUrunlerId" class="form-control" id="ikUrunlerId">
                            <div class="form-group">

                                <label class="col-md-12 form-label">Beden Adı</label>
                                <div class="col-md-12">
                                    <input type="text" name="bedenAdi" class="form-control" placeholder="Beden Adı" id="bedenAdi">
                                </div>

                                <label class="col-md-12 form-label">Stok</label>
                                <div class="col-md-12">
                                    <input type="number" name="stok" class="form-control" placeholder="Stok" id="stok">
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-success float-end">Update</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Product</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="~/Staff/AddProduct" method="post" enctype="multipart/form-data">
                            <div class="form-group">

                                <label class="col-md-12 form-label">Ürün Adı</label>
                                <div class="col-md-12">
                                    <input type="text" name="urunAdi" class="form-control" placeholder="Ürün Adı" value="">
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-success float-end">Add</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="col-lg-8 col-12">
            <div class="box">

                <!-- /.box-header -->
                <form class="form-horizontal" action="~/Staff/AddProductSize" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        <h4 class="box-title text-info mb-0"> Add New Product Size</h4>
                        <hr class="my-15">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class="form-label">Product</label>
                                    <select name="ikUrunlerId" class="form-select required">
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Size</label>
                                    <input name="bedenAdi" type="text" class="form-control" placeholder="Product Size">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Stock</label>
                                    <input name="stok" type="number" class="form-control" placeholder="Stock">
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-end">

                        <button type="submit" class="btn btn-primary">
                            <i class="ti-save-alt"></i> Save
                        </button>
                    </div>
                </form>
            </div>


        </div>


    </div>

    <!-- /.row -->

</section>
<!-- /.content -->