
@model Opus.Models.ViewModels.Accounting.BuyingVM
@using System.Globalization
<style>
    input.box-shadow-none:active {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    input.box-shadow-none:hover {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    input.box-shadow-none:focus {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    input.box-shadow-none:focus-visible {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
        outline: none;
    }

    input.box-shadow-none:target {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    input.box-shadow-none {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        color: #212529;
        background: transparent !important;
        border: none !important;
        appearance: none;
    }

    td {
        max-width: 50px !important;
        width: auto !important;
        min-width: 10px !important;
    }

        td.fitwidth {
            width: 1px;
            white-space: nowrap;
        }


    .table > tbody > tr > td.fitwidth, .table > tbody > tr > th {
        padding: 10px 5px 10px 5px;
    }
    .table.invoice_det_table > tbody > tr > td.fitwidth, .table > tbody > tr > th {
        padding: 2px 5px 2px 5px;
    }
    .table.invoice_det_table td {
        font-size: .8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 1px;
    }
    .table.invoice_det_table th {
        font-size: 11px;
        white-space: pre-wrap;
    }
    .table{
        padding:0;
    }
    .alert {
        padding: 0.3rem 0.3rem !important;
    }
</style>
<div class="container-full">
    @*<div class="container-full" ondragstart="return false;" ondrop="return false;" draggable="false" onselectstart='return false;' style="white-space:nowrap">*@
    <!-- Content Header (Page header) -->
    <div class="content-header">

        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Accounting</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item"><a href="/accounting/curr">Currents</a></li>
                            <li class="breadcrumb-item" aria-current="page">@Model.Company.Name</li>
                            <li class="breadcrumb-item" aria-current="page">Purchase Invoice</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <div class="pb-10"></div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">

                    <div class="box-header with-border">
                        @*<h4 class="box-title"></h4>*@
                        <div class="row">
                            <div class="col-3">
                                <h4 class="box-title excDate">Today:</h4>
                            </div>
                            <div class="col-3 fa-1x" title="US DOLAR">
                                <i class="fa fa-usd opus-color" aria-hidden="true"></i><span class="usd_today" style="padding-left:5px;"></span>
                            </div>
                            <div class="col-3 fa-1x" title="EURO">
                                <i class="fa fa-eur opus-color" aria-hidden="true"></i><span class="eur_today" style="padding-left: 5px;"></span>
                            </div>
                            <div class="col-3 fa-1x" title="STERLIN">
                                <i class="fa fa-gbp opus-color" aria-hidden="true"></i><span class="gbp_today" style="padding-left: 5px;"></span>
                            </div>
                        </div>
                        <div class="text-center" style="position:absolute;">
                            <small style="font-size:10px;">This currency is pulled from the central bank of the republic of Turkey database.</small>
                        </div>
                    </div>


                    <div class="box-body">
                        <form method="post" action="/accounting/curr/buying-post" id="buying-form">
                            <hr class="my-15">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input class="d-none" type="text" asp-for="PurchaseInvoice.CompanyId" value="@Model.Company.Id" hidden />
                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Company</h5>
                                </div>
                                <div class="col-10">
                                    <img height="50" src="/assets/accounting/company/@Model.Company.Id/img/@Model.Company.ImageFile" />
                                    @*<img src="/assets/accounting/company/1215ce74-9adf-40ff-1301-08da4acb0647/img/" />*@
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Supplier</h5>
                                </div>
                                <div class="col-10">
                                    <select class="form-control box-shadow-focus select2 mb-20 me-10" data-style="btn-white" id="identification" asp-for="PurchaseInvoice.IdentificationId" tabindex="1" required>
                                        <option value="" selected disabled class="d-none" style="color:antiquewhite">Supplier</option>
                                        @foreach (var item in Model.Identification_Enuberable)
                                        {
                                            <option value="@item.Id">@item.CommercialTitle</option>
                                        }
                                    </select>
                                    @*
                                        <label class="form-label"></label>
                                        <select class="form-control select2" style="width: 100%;">
                                            <option selected="selected">Alabama</option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>*@
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-2">

                                </div>
                                <div class="col-10">
                                    <div class="submit_alert_id input-col">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Document Date</h5>
                                </div>
                                <div class="col-10">
                                    <input class="form-control box-shadow-focus input-col" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="PurchaseInvoice.DocDate" id="doc_date" tabindex="2" />
                                </div>
                                <span asp-validation-for="PurchaseInvoice.DocDate" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Document No</h5>
                                </div>
                                <div class="col-10">
                                    <input class="form-control input-col" type="text" placeholder="Document No" asp-for="PurchaseInvoice.DocNo" maxlength="20" onchange="checkDocNum()" tabindex="3" required />
                                </div>
                                <span asp-validation-for="PurchaseInvoice.DocNo" class="text-danger"></span>
                            </div>

                            <div class="row">
                                <div class="col-2">

                                </div>
                                <div class="col-10">
                                    <div class="submit_alert input-col">
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Payment Method</h5>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col my-10">
                                            <input asp-for="PaymentMethId" type="radio" id="cashrad" class="radio radio-col-info" value="1" tabindex="4" checked />
                                            <label for="cashrad">Cash</label>
                                        </div>
                                        <div class="col my-10">
                                            <input asp-for="PaymentMethId" type="radio" id="cardrad" class="radio-col-success" value="2" />
                                            <label for="cardrad">Credit Card</label>
                                        </div>
                                        <div class="col my-10">
                                            <input asp-for="PaymentMethId" type="radio" id="currentrad" class="radio-col-warning" value="3" />
                                            <label for="currentrad">Current</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row payment-term d-none">
                                <div class="col-2">
                                    <h5 class="my-10">Payment Terms: </h5>
                                </div>
                                <div class="col-6 my-10">
                                    <input type="checkbox" id="term15" class="filled-in chk-col-success" asp-for="Term15" />
                                    <label for="term15">15  &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                    <input type="checkbox" id="term30" class="filled-in chk-col-success" asp-for="Term30" />
                                    <label for="term30">30  &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                    <input type="checkbox" id="term45" class="filled-in chk-col-success" asp-for="Term45" />
                                    <label for="term45">45  &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                    <input type="checkbox" id="term60" class="filled-in chk-col-success" asp-for="Term60" />
                                    <label for="term60">60 &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                    <input type="checkbox" id="term90" class="filled-in chk-col-success" asp-for="Term90" />
                                    <label for="term90">90  &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                </div>
                                <div class="col-4">
                                    <input class="form-control input-col" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="paymentTermDate" asp-for="PurchaseInvoice.PaymentTerm" />
                                </div>
                            </div>

                            <div class="row d-none">
                                <div class="col-2">Default Payment Term</div>
                                <div class="col-10">
                                    <input class="form-control input-col" type="date" readonly="readonly" id="default-term" /><h6 id="default-day"></h6>
                                </div>
                            </div>


                            <hr class="my-15">
                            <div>

                                <div class="border-top border-bottom">
                                    <div class="row mt-4 mb-4">
                                        <div class="col-2">
                                            <h5 class="my-10">Expenses: </h5>
                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-xl-11 col-12">
                                                    <div class="row">
                                                        <div class="col-xl-4 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <select class="form-select select2 input-col" id="categoryId" tabindex="5">
                                                                    <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Category</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <select class="form-select select2 input-col" id="subCatId" tabindex="6">
                                                                    <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Sub Category</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <select class="form-select select2 input-col" id="tagId" tabindex="7">
                                                                    <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Tag</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <input type="number" id="piece" placeholder='Piece' class="form-control input-col" onchange="calculateInp()" tabindex="8" min="1" />
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <input type="number" id="unit_price" class="form-control input-col" placeholder="Unit Price" onchange="calculateInp()" tabindex="9" step="0.01" min="0.01">
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <!--<input type="email" id="total" placeholder='Vat' class="form-control input-col" />-->
                                                                <select class="selectpicker mb-20 me-10" data-style="btn-white" id="vat" tabindex="10">
                                                                    <option value="1" selected disabled class="d-none">Vat</option>
                                                                    <option value="1">%0</option>
                                                                    <option value="1.01">%1</option>
                                                                    <option value="1.08">%8</option>
                                                                    @*<option value="1.1">%10</option>*@
                                                                    <option value="1.18">%18</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <input type="number" id="discount" placeholder='Discount' class="form-control input-col" value="0" step="0.01" min="0" tabindex="11" />
                                                                @*
                                                                    <select class="selectpicker mb-20 me-10" data-style="btn-white" id="discount">
                                                                        <option value="0" selected disabled class="d-none">Discount</option>
                                                                        <option value="0">%0</option>
                                                                        <option value="1.08">%8</option>
                                                                        <option value="1.1">%10</option>
                                                                        <option value="1.18">%18</option>
                                                                    </select>*@
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <input type="text" id="total" placeholder='Total' class="form-control input-col" readonly="readonly" tabindex="-1" />
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <select class="selectpicker mb-20 me-10" data-style="btn-white" id="exc_rate" tabindex="12">
                                                                    <option value="1">TRY</option>
                                                                    <option value="2">USD</option>
                                                                    <option value="3">EUR</option>
                                                                </select>
                                                                <input class="d-none" type="number" asp-for="PurchaseInvoice.ExchangeRateId" id="exc_rate_hidden" value="1" hidden />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10"></div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10"></div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10"></div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10"></div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <input type="number" id="totalwithvat" placeholder='Total Amount' class="form-control input-col" tabindex="-1" onchange="calcBasis()" step="0.01" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10"></div>
                                                    </div>

                                                </div>
                                                <div class="col-xl-1 col-12">
                                                    <div class="row">
                                                        <div class="col">
                                                            <button id="add_buyingDetail_row" type="button" class="btn btn-primary mb-10"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table id="buying_table" class="table table-hover table-bordered table-striped invoice_det_table dataTables dataTable no-footer" style="width:100%;/*font-family:'Courier New',Courier,monospace; font-size:80%;*/">
                                            <thead>
                                                <tr>
                                                    <th width="5%">#</th>
                                                    <th width="20%">Category</th>
                                                    <th width="20%">Sub-Category</th>
                                                    <th width="20%">Tag</th>
                                                    <th width="5%">Piece</th>
                                                    <th width="5%">Price</th>
                                                    <th width="5%">Vat Rate</th>
                                                    <th width="5%">Vat</th>
                                                    @*<th width="5%">Discount Rate</th>*@
                                                    <th width="5%">Discount</th>
                                                    <th width="5%">Total</th>
                                                    <th width="30"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_buyingDetail">
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xl-8 col-md-6 col-12 pb-10"></div>
                                    <div class="col-xl-4 col-md-6 col-12 pb-10">
                                        <table class="table table-hover table-bordered table-striped dataTables dataTable no-footer">
                                            <tr>
                                                <td><h6 style="float:right">Out of Vat</h6></td>
                                                <td><h6 style="float:right"><span id="outofVat">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr>
                                                <td><h6 style="float:right">Vat</h6></td>
                                                <td><h6 style="float:right"><span id="total_vat">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr class="vat_1 d-none">
                                                <td><h6 style="float:right">Vat %1</h6></td>
                                                <td><h6 style="float:right"><span id="total_vat_1">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr class="vat_8 d-none">
                                                <td><h6 style="float:right">Vat %8</h6></td>
                                                <td><h6 style="float:right"><span id="total_vat_8">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr class="vat_18 d-none">
                                                <td><h6 style="float:right">Vat %18</h6></td>
                                                <td><h6 style="float:right"><span id="total_vat_18">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr class="discount_tr d-none">
                                                <td><h6 style="float:right">Discount</h6></td>
                                                <td><h6 style="float:right"><span id="totalDiscount">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr>
                                                <td><h6 style="float:right">Total Amount</h6></td>
                                                <td><h6 style="float:right"><span id="total_amount">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row my-10">
                                    <div class="col-xl-8 col-md-6 col-12 pb-10">
                                    </div>
                                    <div class="col-xl-4 col-md-6 col-12 pb-10">
                                        <div class="submit_alert" style="float:right;">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button id="buying-submit" class="btn btn-opus waves-effect waves-light" style="float:right" type="button" onclick="purchaseInvoice_Submit()" disabled>Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-12">
                                <div class="border-top my-10">

                                </div>
                            </div>
                            <div class="col-12">
                                <h6>Buying List:</h6>
                            </div>
                        </div>

                        <!--Buying List-->
                        <div class="row">
                            <div class="col">
                                <table id="buying_list" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Supplier</th>
                                            <th>Document Date</th>
                                            <th>Document No</th>
                                            <th>Payment Method</th>
                                            @*<th>Payment Terms</th>*@
                                            <th>Total</th>
                                            <th>Currency</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Enumerable_PurchaseInvoice.Count() > 0)
                                        {
                                            @foreach (var item in @Model.Enumerable_PurchaseInvoice)
                                            {
                                                <tr>
                                                    <th>@item.Identification.CommercialTitle</th>
                                                    <th>@item.DocDate.ToString("dd/MM/yyyy")</th>
                                                    <th>@item.DocNo</th>
                                                    <th>@item.PaymentMeth.Name</th>
                                                    @*<th>@item.PaymentTerm</th>*@
                                                    <th>@item.TotalAmount.ToString("C2", CultureInfo.CurrentCulture).Remove(0, 1)</th>
                                                    <th>@item.ExchangeRate.Name</th>
                                                    <th class="text-center" width="130">
                                                        <div class="d-flex justify-content-center align-content-center">
                                                            <a target="_blank" style="padding-right:10px;" href="/accounting/curr/buying/detail/@item.Id"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></a>
                                                            <a target="_blank" style="padding-right:10px;" href="/accounting/curr/buying/edit/@item.Id"><i class="fa fa-edit fa-2x" aria-hidden="true"></i></a>
                                                            <a style="padding-left:10px;" href="#accounting/curr/buying/del/@item.Id"><i class="fa fa-trash fa-2x"></i></a>
                                                        </div>
                                                    </th>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Buying List-->
                    </div>





                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var selectedDay = 0;
        var defaultDay = 0;
        /*
        var buyingObj = {
            categoryId : '00000000-0000-0000-0000-000000000000',
            subCategoryId : '00000000-0000-0000-0000-000000000000',
            tagId : '00000000-0000-0000-0000-000000000000',
            category={},
            subcategory={},
            tag={}
        }

        */
        var categoryId = '00000000-0000-0000-0000-000000000000';
        var subCategoryId = '00000000-0000-0000-0000-000000000000';
        var tagId = '00000000-0000-0000-0000-000000000000';

        var category_name = '';
        var subCategory_name = '';
        var tag_name = '';
        var exc_rateText = 'TRY';

        var exc_rate = 1;
        var piece = 0;
        var unit_price = 0;
        var vat = 1;
        var vatRate = 0;
        var vat_1 = 0;
        var vat_8 = 0;
        var vat_18 = 0;

        var discount = 0;
        var discountrate = 0;
        var outVat = 0;
        var total = 0;
        var calcedVat = 0;
        var calcedDis = 0;

        var totaloutVat = 0;
        var totalVat = 0;
        var totalDiscount = 0;
        var totalAmount = 0;

        var seq = 0;
        var tagTEST;
        function purchaseInvoice_Submit() {
            var docno = $('#PurchaseInvoice_DocNo').val();
            var idVal = $("#identification").val();
            checkDocNum();
            if (idVal != null && docno != null) {
                $.ajax({
                    url: '/api/accounting/check-docno/' + docno,
                    success: function (data) {

                        if (data) {
                            $('.submit_alert').html(``);
                            $('#buying-submit').prop('disabled', true);
                            $('#buying-form').submit();
                            $('.content').addClass("disabled");
                            $('#loader').css('opacity', '1');
                            $('#loader').css('display', 'block');
                            $('#loader').attr('style', 'z-index:0!important;');
                        }
                        else {
                            $('.submit_alert').html(`
                                            <div class="alert alert-danger my-10">
                                                <h6>This document number has been added before. Document Number:'`+ docno + `' </h6>
                                            </div>`);
                            $('#buying-submit').prop('disabled', false);
                        }

                    }
                });
            }



        }

        $(document).on("focus", ".select2", function (e) {
            if (e.originalEvent) {
                var s2element = $(this).siblings("select:enabled");
                s2element.select2("open");
                // Set focus back to select2 element on closing.
                s2element.on("select2:closing", function () {
                    if (s2element.val()) s2element.select2("focus");
                });
            }

        });
        $(document).on("focus", ".bootstrap-select > button.dropdown-toggle.bs-placeholder", function (e) {
            //console.log("bs-placeholder focusud");
            $(this).click();
        });
        $(function () {
            /*$('.selectpicker').selectpicker({

            });*/
            /*
            $('div.dropdown-menu.open li').on('keydown', function (e) {
                console.log("keypressing");
                if (e.keyCode == 38) { // Up
                    console.log("upping");
                    var previousEle = $(this).prev();
                    if (previousEle.length == 0) {
                        previousEle = $(this).nextAll().last();
                    }
                    var selVal = $('.selectpicker option').filter(function () {
                        return $(this).text() == previousEle.text();
                    }).val();
                    $('.selectpicker').selectpicker('val', selVal);

                    return;
                }
                if (e.keyCode == 40) { // Down
                    console.log("downing");
                    var nextEle = $(this).next();
                    if (nextEle.length == 0) {
                        nextEle = $(this).prevAll().last();
                    }
                    var selVal = $('.selectpicker option').filter(function () {
                        return $(this).text() == nextEle.text();
                    }).val();
                    $('.selectpicker').selectpicker('val', selVal);

                    return;
                }
            });*/
        });

        $(document).on('keydown', '.form-control,.select2', function (e) {

            if (e.which == 37) {
                var tabIndexKey = document.activeElement.tabIndex - 1;

                $('[tabindex=' + tabIndexKey + ']').focus();

            }
            if (e.which == 39) {
                var tabIndexKey = document.activeElement.tabIndex + 1;
                $('[tabindex=' + tabIndexKey + ']').focus();


            }
        });

        $(document).ready(function () {
            $(".span_number").keypress(function (e) {
                var x = event.charCode || event.keyCode;
                if (isNaN(String.fromCharCode(e.which)) && x != 46) e.preventDefault();
            });

            /*
            $(".select2-selection").on("focus", function () {
                $(this).parent().parent().prev().select2("open");
            });*/

            //focusTab();
            $("#identification").select2({ width: '100%' });
            $('#buying_list').DataTable({
                searching: true,
                paging: true,
                info: true,
                ordering: true,
                caseInsensitive: false,
                /*order: [[1, 'asc']],*/
            });


            foreignCurrency('@DateTime.Now.ToString("yyyy-MM-dd")')
            $(document.body).on("change", "#identification", function () {
                $.ajax({
                    url: '/api/accounting/getDef/'+this.value,

                    success: function (data) {
                        selectedDay = data.identification_Item.paymentTerm;
                        defaultDay = data.identification_Item.paymentTerm;
                        var docDate = $('#doc_date').val();
                        //foreignCurrency(this.value);
                        calcDate(selectedDay, docDate);
                        calcDefault(defaultDay, docDate);

                        checkId();

                    }
                });

            });
            $(document.body).on("change", "#doc_date", function () {
                foreignCurrency(this.value);
                calcDate(selectedDay,this.value);

            });

            $('input[type=radio][name=PaymentMethId]').change(function () {
                if (this.value == '3') {
                    $('.payment-term').removeClass('d-none');
                    $('#term30').attr('name', 'Term30');
                    $('#term60').attr('name', 'Term60');
                    $('#term90').attr('name', 'Term90');
                }
                else {
                    $('.payment-term').addClass('d-none');
                    $('#term30').removeAttr('name');
                    $('#term60').removeAttr('name');
                    $('#term90').removeAttr('name');
                }
            });

            $("input[name='delBuyingColumn']").on("click", function () {
                console.clear();
                console.log(e);
            });

            /////////////////////////////////////////////////////////////////

            $(document.body).on("change", "#categoryId", function (e) {
                subCategoryId = '00000000-0000-0000-0000-000000000000';
                tagId = '00000000-0000-0000-0000-000000000000';

                categoryId = this.value;
                category_name = $('#categoryId').find(':selected')[0].innerText;

                getSubCategory(categoryId);
                $('#add_buyingDetail_row').prop('disabled', false);

            });
            $(document.body).on("change", "#subCatId", function () {
                tagId = '00000000-0000-0000-0000-000000000000';

                subCategoryId = this.value;
                subCategory_name = $('#subCatId').find(':selected')[0].innerText;
                getTag(subCategoryId);
                $('#add_buyingDetail_row').prop('disabled', false);

            });
            $(document.body).on("change", "#tagId", function () {
                tagId = this.value;
                tag_name = $('#tagId').find(':selected')[0].innerText;
                $('#add_buyingDetail_row').prop('disabled', false);

            });




            //////////////////////////////////////////////////////////////////

            /*
            $(document).on('keyup', '.select2-search__field', function (e) {
                if (e.which === 13) {
                    alert("selected category");
                    subCategoryId = '00000000-0000-0000-0000-000000000000';
                    tagId = '00000000-0000-0000-0000-000000000000';

                    categoryId = this.value;
                    category_name = $('#categoryId').find(':selected')[0].innerText;

                    getSubCategory(categoryId);
                    $('#add_buyingDetail_row').prop('disabled', false);
                    checkDocNum();
                }
            });
            $(document).on('keyup', '.select2-search__field', function (e) {
                if (e.which === 13) {
                    alert("selected Sub-Category");
                    tagId = '00000000-0000-0000-0000-000000000000';

                    subCategoryId = this.value;
                    subCategory_name = $('#subCatId').find(':selected')[0].innerText;
                    getTag(subCategoryId);
                    $('#add_buyingDetail_row').prop('disabled', false);
                    checkDocNum();
                }
            });
            $(document).on('keyup', '.select2-search__field', function (e) {
                if (e.which === 13) {
                    alert("selected Tags");
                    tagId = this.value;
                    tag_name = $('#tagId').find(':selected')[0].innerText;
                    $('#add_buyingDetail_row').prop('disabled', false);
                    checkDocNum();
                }
            });
            */
            ///////////////////////////////////////////////////////////////////




            getCategory();

            $('#vat').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                vat = $(this).val();
                calculateInp();
                checkId();
            });/*
            $('#discount').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                discount = $(this).val();

                calculateInp();
            });*/
            $("#discount").change(function () {
                discount = $(this).val();
                calculateInp();
                console.clear();
                console.log(discount);
            });
            $(document.body).on("change", "#exc_rate", function () {
                exc_rate = this.value;
                exc_rateText = $(this).find(':selected')[0].innerText;
                $('.exc_rate_spn').html(exc_rateText);
                $('#exc_rate_hidden').val(exc_rate);
            });

            $("#buying-form").on('click', "#delCont", function () {
                $('#buying-submit').prop('disabled', true);
                console.log("removed: ");

                //var totalamount_del = 0;
                //var total_del = 0;
                //var calcedVat_del = 0;
                /*
                let total_del = Number($(this).parent().parent().find('.outVat-buying').val().replace(/\,/g, '.'));
                let calcedVat_del = Number($(this).parent().parent().find('.calcedVat-buying').val().replace(/\,/g, '.'));
                let calcedDis_Del = Number($(this).parent().parent().find('.discount-buying').val().replace(/\,/g, '.'));


                let totalamount_del = Number(total_del + calcedVat_del).toFixed(2);*/
                /*
                console.clear();
                console.log("removing values: ");
                console.log("out of vat: " + total_del);
                console.log("Vat: " + calcedVat_del);
                console.log("Discount: " + calcedDis_Del);
                console.log("Total Amount: " + totalamount_del);*/

                $(this).parent().parent().remove();



                /*seq-buying-spn*/
                $('.seq-buying-spn').each(function (i) {
                    $(this).html(Number(i + 1));
                });
                $('.seq-buying').each(function (i) {
                    /*$(this).attr('name', 'ContactEnumerable[' + i + '].FullName');*/
                });

                /*
                $('.categoryName-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput[' + i + '].DepartmantId');
                });
                $('.subCategoryName-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput[' + i + '].MobileNumber');
                });
                */

                $('.tagId-buying').each(function (i) {
                    $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].TagDefinitionsId');
                });
                $('.piece-buying').each(function (i) {
                    $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Piece');
                });
                $('.unitPrice-buying').each(function (i) {
                    $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Price');
                });
                $('.vatRate-buying').each(function (i) {
                    $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Vat_Rate');
                });
                $('.calcedVat-buying').each(function (i) {
                    $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Vat');
                });
                $('.discount-buying').each(function (i) {
                    $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Discount');
                });
                $('.discountRate-buying').each(function (i) {
                    $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Discount_Rate');
                });
                $('.outVat-buying').each(function (i) {
                    $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Total');
                });
                setTimeout(function () {
                    getSumVals();
                }, 500);

            });

            console.clear();
            console.log(new Intl.NumberFormat('tr-TR').format(1555.15));

            /*
            console.clear();
            console.log(new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(1555.15));*/
        });


        function getCategory() {
            $.ajax({
                url: '/api/accounting/getCat/' + '@Model.Company.Id',//get category

                success: function (data) {
                    console.log(data);
                    $.each(data, function (key, value) {
                        $("#categoryId").append("<option value='" + value.id + "'>" + value.name + "</option>");
                    });
                    $('#categoryId').val('00000000-0000-0000-0000-000000000000'); // Select the option with a value of '1'
                    $('#categoryId').trigger('change'); // Notify any JS components that the value changed
                }
            });
        }

        function getSubCategory(catId) {
            $.ajax({
                url: '/api/accounting/getsubcat/' + catId,
                success: function (data) {
                    console.log(data);
                    $("#subCatId").empty();
                    $("#subCatId").append("<option value='00000000-0000-0000-0000-000000000000' selected='selected' disabled class='d-none'>Sub Category</option>");
                    $('#subCatId').trigger('change'); // Notify any JS components that the value changed
                    $.each(data, function (key, value) {
                        $("#subCatId").append("<option value='" + value.id + "'>" + value.name + "</option>");
                    });
                    $('#subCatId').val('00000000-0000-0000-0000-000000000000'); // Select the option with a value of '1'
                    $('#subCatId').trigger('change'); // Notify any JS components that the value changed

                }
            });
        }

        function getTag(subCatId) {
            $.ajax({
                url: '/api/accounting/gettags/' + subCatId,
                success: function (data) {
                    tagTEST = data;
                    console.log(data);

                    $("#tagId").empty();
                    $("#tagId").append("<option value='00000000-0000-0000-0000-000000000000' selected='selected' disabled class='d-none'>Tag</option>");
                    $('#tagId').trigger('change'); // Notify any JS components that the value changed
                    $.each(data, function (key, value) {
                        $("#tagId").append("<option value='" + value.id + "'>" + value.name + "</option>");
                    });
                    $('#tagId').val('00000000-0000-0000-0000-000000000000'); // Select the option with a value of '1'
                    $('#tagId').trigger('change'); // Notify any JS components that the value changed


                }
            });
        }

        function calculateInp() {
            var withvatinp = $('#totalwithvat').val();
            piece = $('#piece').val();
            unit_price = $('#unit_price').val();

            total = (piece * unit_price) * vat;
            if (discount > 0) {
                var withDis = total / discount;
                calcedDis = total - withDis;
                console.log(calcedDis);
            }
            else {
                discount = 0;
                calcedDis = 0;
            }
                //calcedDis = 0;


            outVat = (piece * unit_price);
            calcedVat = total - outVat;
            var withVat = (piece * unit_price) + calcedVat;
            withVat -= discount;
            if (calcedVat < 0)
                calcedVat = 0;

            $('#total').val(outVat.toFixed(2).toString().replace(/\./g, ','));

            if (withVat>0)
                $('#totalwithvat').val(withVat.toFixed(2));

            console.clear();
            console.log(withVat);
        }
        /*
        function remBuyingTable(data) {
            console.clear();
            console.log("Remove Func:");
            console.log(data);
        }
        */

        $("#add_buyingDetail_row").on("click", function () {
            var idVal = $("#identification").val();
            var docNo = $("#PurchaseInvoice_DocNo").val();
            if (docNo == null || docNo=='') {
                checkDocNum();
            }
            if (idVal == null) {
                checkId();
            }
            else {

                $('#buying-submit').prop('disabled', true);
                $('#add_buyingDetail_row').prop('disabled', true);
                const selectedText = $("#departmantid option:selected").text();
                const selectedValue = $("#departmantid option:selected").val();

                if (selectedValue == -1) {
                    $.toast({
                        heading: 'Required family member selection',
                        text: 'Please select a family member.',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (piece == "" || piece == null || piece == 0) {
                    $.toast({
                        heading: 'Required Piece Field',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (unit_price == "" || unit_price == null || unit_price == 0) {
                    $.toast({
                        heading: 'Required unit price field',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (vat == "" || vat == null || vat < 1) {
                    $.toast({
                        heading: 'Required select vat field',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (categoryId == "00000000-0000-0000-0000-000000000000" || categoryId == null) {
                    $.toast({
                        heading: 'Required Category',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (subCategoryId == "00000000-0000-0000-0000-000000000000" || subCategoryId == null) {
                    $.toast({
                        heading: 'Required SubCategory',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else if (tagId == "00000000-0000-0000-0000-000000000000" || tagId == null) {
                    $.toast({
                        heading: 'Required Tag',
                        text: '',
                        icon: 'warning',
                        showHideTransition: 'slide',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600',  // To change the background
                        position: 'top-right',
                        hideAfter: 5000
                    });
                }
                else {
                    seq++;

                    if (vat == 1)
                        vatRate = "%0"
                    if (vat == 1.01)
                        vatRate = "%1";
                    if (vat == 1.08)
                        vatRate = "%8";
                    if (vat == 1.18)
                        vatRate = "%18";

                    /*console.log("%1: "+vat_1);
                    console.log("%8: " + vat_8);
                    console.log("%18: " + vat_18);*/

                    if (discount == 1)
                        discountrate = "%0";
                    if (discount == 1.08)
                        discountrate = "%8";
                    if (discount == 1.1)
                        discountrate = "%10";
                    if (discount == 1.18)
                        discountrate = "%18";


                    var selectedElementTxt = `<input type="text" class="form-control" value="` + selectedText + `" title="` + selectedText + `" readonly="readonly" />`;
                    var selectedElementVal = `<input type="text" class="form-control departmantid d-none" value="` + selectedValue + `" hidden/>`;

                    var tbody_buying_item = `
                                                    <tr data-id="`+ seq + `">
                                                        <td data-name="seq" class="fitwidth">
                                                                <input type="text" class="box-shadow-none seq-buying d-none" value="`+ seq + `" title="` + seq + `" readonly="readonly"/>
                                                                <span class="seq-buying-spn">`+ seq + `</span>

                                                        </td>
                                                        <td data-name="category" class="fitwidth">
                                                                <input type="text" class="box-shadow-none categoryName-buying d-none" value="`+ category_name + `" title="` + category_name + `" readonly="readonly"/>
                                                                <input type="text" class="categoryId-buying d-none" value="`+ categoryId + `" title="` + categoryId + `" readonly="readonly"/>
                                                                `+ category_name + `
                                                        </td>
                                                        <td data-name="subCategory" class="fitwidth">
                                                                <input type="text" class="box-shadow-none subCategoryName-buying d-none" value="`+ subCategory_name + `" title="` + subCategory_name + `" readonly="readonly"/>
                                                                <input type="text" class="subCategoryId-buying d-none" value="`+ subCategoryId + `" title="` + subCategoryId + `" readonly="readonly"/>
                                                                <span title="">`+ subCategory_name + `</span>
                                                        </td>
                                                        <td data-name="tag" class="fitwidth">
                                                                <input type="text" class="box-shadow-none tagName-buying d-none" value="`+ tag_name + `" title="` + tag_name + `" readonly="readonly"/>
                                                                <input type="text" class="tagId-buying d-none" value="`+ tagId + `" title="` + tagId + `" readonly="readonly"/>
                                                                <span title="">`+ tag_name + `</span>
                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="number" class="box-shadow-none piece-buying d-none" value=`+ piece + ` title="` + piece + `" readonly="readonly"/>
                                                                <span title="" contenteditable="false" class="span_number">`+ piece + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none unitPrice-buying d-none" value=`+ unit_price.toString().replace(/\./g, ',') + ` title="` + unit_price.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ unit_price + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none vatRate-buying d-none" value=`+ vat.toString().replace(/\./g, ',') + ` title="` + vat.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ vatRate + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none calcedVat-buying d-none" value=`+ calcedVat.toString().replace(/\./g, ',') + ` title="` + calcedVat.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ calcedVat.toFixed(2).toString().replace(/\./g, ',') + `</span>

                                                        </td>
                                                        @*
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none discountRate-buying d-none" value=`+ discount.toString().replace(/\./g, ',') + ` title="` + discountrate.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ discountrate + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none discount-buying d-none" value=`+ calcedDis.toString().replace(/\./g, ',') + ` title="` + calcedDis.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ calcedDis.toFixed(2).toString().replace(/\./g, ',') + `</span>

                                                        </td>
                                                        *@
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none discount-buying d-none" value=`+ discount + ` title="` + discount + `" readonly="readonly"/>
                                                                <span title="">`+ discount + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none outVat-buying d-none" value=`+ outVat.toString().replace(/\./g, ',') + ` title="` + outVat.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ outVat.toString().replace(/\./g, ',') + `</span>

                                                        </td>
                                                        <!--
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="date" class="box-shadow-none familyMembersDateOfBirth" value=`+ 'familyDateofBirth' + ` title="` + 'familyDate' + `" readonly="readonly"/>

                                                        </td>-->
                                                        <td data-name="del" class="fitwidth">
                                                            <!--<button id="delCont" name="delBuyingColumn" type="button" class="waves-effect waves-light btn btn-danger btn-circle row-remove" ><span class="icon-Trash1 fs-18"><span class="path1"></span></span></button>-->
                                                            <a id="delCont" name="delBuyingColumn" class="fa-exp-font"><i class="fa fa-trash fa-3" aria-hidden="true"></i></a>
                                                            <!--<input type="button" name="delBuyingColumn" class="btn waves-effect waves-light"><i class="fa fa-minus-square-o" aria-hidden="true"></i></input>-->
                                                            <!--<a class="fa-exp-font" style="pointer-events: none"><i class="fa fa-trash fa-3" aria-hidden="true"></i></a>-->
                                                        </td>
                                                    </tr>

`;
                    $("#tbody_buyingDetail").append(tbody_buying_item);

                    $('.seq-buying-spn').each(function (i) {
                        $(this).html(Number(i + 1));
                    });
                    $('.tagId-buying').each(function (i) {
                        $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].TagDefinitionsId');
                    });
                    $('.piece-buying').each(function (i) {
                        $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Piece');
                    });
                    $('.unitPrice-buying').each(function (i) {
                        $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Price');
                    });
                    $('.vatRate-buying').each(function (i) {
                        $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Vat_Rate');
                    });
                    $('.calcedVat-buying').each(function (i) {
                        $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Vat');
                    });
                    $('.discount-buying').each(function (i) {
                        $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Discount');
                    });
                    $('.discountRate-buying').each(function (i) {
                        $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Discount_Rate');
                    });
                    $('.outVat-buying').each(function (i) {
                        $(this).attr('name', 'Enumerable_PurchaseInvoiceDetails[' + i + '].Total');
                    });

                    setTimeout(function () {
                        getSumVals();
                        clearBuyingInputs();
                    }, 500);

                }
            }
        });

        function clearBuyingInputs() {
            $('#piece').val('');
            $('#unit_price').val('');
            $('#total').val('');
            $('#totalwithvat').val('');

            vat = 1;
            vatRate = 0;
            discount = 0;
            discountrate = 0;
            categoryId = '00000000-0000-0000-0000-000000000000';
            subCategoryId = '00000000-0000-0000-0000-000000000000';
            tagId = '00000000-0000-0000-0000-000000000000';

            $('#vat').selectpicker('val',vat);
            $('#discount').selectpicker('val', discount);


            $('#tagId').val(tagId);
            $('#subCatId').val(subCategoryId);
            $('#categoryId').val(categoryId);

            $('#tagId').trigger('change');
            $('#subCatId').trigger('change');
            $('#categoryId').trigger('change');



        }

        function getSumVals() {
            var sumVat = 0;
            var sumDiscount = 0;
            var sumoutofVat = 0;
            piece = 0;
            unit_price = 0;
            total = 0;

            $('.calcedVat-buying').each(function () {
                sumVat += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });
            $('.discount-buying').each(function () {
                sumDiscount += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });
            $('.outVat-buying').each(function () {
                sumoutofVat += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });
            $('.piece-buying').each(function () {
                piece += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });
            $('.unitPrice-buying').each(function () {
                unit_price += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });



            total = sumoutofVat;
            total += sumVat;
            total -= sumDiscount;


            console.clear();
            console.log("Vat: "+sumVat);
            console.log("Discount: " + sumDiscount);
            console.log("Out of vat: " + sumoutofVat);
            console.log("Total amount: " + total);

            vat_1 = 0;
            vat_8 = 0;
            vat_18 = 0;

            $('#tbody_buyingDetail tr').each(function () {
                var rateVal = $(this).find(".vatRate-buying").val();
                var vatVal = $(this).find(".calcedVat-buying").val();

                if (rateVal == "1,01" || rateVal == "1.01" || rateVal == 1.01) {
                    vat_1 += Number(vatVal.replace(/\,/g, '.'));
                }
                if (rateVal == "1,08" || rateVal == "1.08" || rateVal == 1.08) {
                    vat_8 += Number(vatVal.replace(/\,/g, '.'));
                }
                if (rateVal == "1,18" || rateVal == "1.18" || rateVal == 1.18) {
                    vat_18 += Number(vatVal.replace(/\,/g, '.'));
                }

            });
            console.log("");
            console.log("%1: "+vat_1);
            console.log("%8: " + vat_8);
            console.log("%18: " + vat_18);

            const totalAmount_STR = new Intl.NumberFormat('tr-TR').format(total.toFixed(2)).toString();
            const totalDiscount_STR = new Intl.NumberFormat('tr-TR').format(sumDiscount.toFixed(2)).toString();
            const totalVat_STR = new Intl.NumberFormat('tr-TR').format(sumVat.toFixed(2)).toString();
            const totaloutVat_STR = new Intl.NumberFormat('tr-TR').format(sumoutofVat.toFixed(2)).toString();
            const totalVat_1_STR = new Intl.NumberFormat('tr-TR').format(vat_1.toFixed(2)).toString();
            const totalVat_8_STR = new Intl.NumberFormat('tr-TR').format(vat_8.toFixed(2)).toString();
            const totalVat_18_STR = new Intl.NumberFormat('tr-TR').format(vat_18.toFixed(2)).toString();

            if (total > 0) {
                $('#buying-submit').prop('disabled', false);

                $('#exc_rate').prop('disabled', true);
                console.log("Exchange Rate: " + true);
            }
            else {
                $('#buying-submit').prop('disabled', true);

                $('#exc_rate').prop('disabled', false);
                console.log("Exchange Rate: " + false);
            }
            $('#add_buyingDetail_row').prop('disabled', false);


            if (sumDiscount > 0)
                $('.discount_tr').removeClass('d-none');
            else
                $('.discount_tr').addClass('d-none');
            if (vat_1 > 0)
                $('.vat_1').removeClass('d-none');
            else
                $('.vat_1').addClass('d-none');
            if (vat_8 > 0)
                $('.vat_8').removeClass('d-none');
            else
                $('.vat_8').addClass('d-none');
            if (vat_18 > 0)
                $('.vat_18').removeClass('d-none');
            else
                $('.vat_18').addClass('d-none');

            piece = 0;
            unit_price = 0;
            total = 0;

            $('#total_vat_1').html(totalVat_1_STR);
            $('#total_vat_8').html(totalVat_8_STR);
            $('#total_vat_18').html(totalVat_18_STR);

            $('#outofVat').html(totaloutVat_STR);
            $('#total_vat').html(totalVat_STR);
            $('#total_amount').html(totalAmount_STR);
            $('#totalDiscount').html('-' + totalDiscount_STR);
            /*$('#total_amount').html(total + ' TRY');*/

        }

        function checkDocNum() {
            var docno = $('#PurchaseInvoice_DocNo').val();
            if (docno == null || docno == '') {
                $('.submit_alert').html(`
                                            <div class="alert alert-danger">
                                                <p>You cannot leave the Document number blank.</p>
                                            </div>`);
                $('#buying-submit').prop('disabled', true);
            }
            else {
                $('#buying-submit').prop('disabled', false);
                $.ajax({
                    url: '/api/accounting/check-docno/' + docno,
                    success: function (data) {

                        if (data) {
                            /*alert("kayıt yapılabilir");*/
                            $('.submit_alert').html(``);
                            $('#buying-submit').prop('disabled', false);
                            $('#add_buyingDetail_row').prop('disabled', false);
                        }
                        else {
                            $('.submit_alert').html(`
                                            <div class="alert alert-danger">
                                                <p>This document number has been added before. Document Number:'`+ docno + `' </p>
                                            </div>`);
                            $('#buying-submit').prop('disabled', true);
                            $('#add_buyingDetail_row').prop('disabled', true);
                        }
                        //alert("This number has been added before. Document Number: " + docno);

                    }
                });
            }

        }

        function checkId() {
            var idVal = $("#identification").val();
            if (idVal == null) {
                $('.submit_alert_id').html(`
                                            <div class="alert alert-danger">
                                                <p>You must choose a supplier.</p>
                                            </div>`);
                $('#buying-submit').prop('disabled', true);
            }
            else {
                $('.submit_alert_id').html("");
                $('#buying-submit').prop('disabled', false);
            }
        }

        function focusTab() {
            jQuery(".select2").select2().on("select2:close", function (e) {
                var nextId = getNextFocusableFieldId(jQuery(this).attr('id'));
                // set focus to the next field
                jQuery('#' + nextId).focus().select();
            });


            // steal focus during close - only capture once and stop propogation
            /*
            $('select.select2').on('select2:closing', function (e) {
                $(e.target).data("select2").$selection.one('focus focusin', function (e) {
                    e.stopPropagation();
                });
            });*/
        }

        function getNextFocusableFieldId(idIn) {
            var focusables = jQuery("input, select, textarea");
            var reachedId = false;
            var id = '';
            var nextId = '';
            jQuery.each(focusables, function (index, value) {
                id = jQuery(this).attr('id');
                // if we reached the id last time set the nextId and exit each
                if (reachedId) {
                    nextId = id;
                    return false;
                }
                // if the ids match set the flag for the next iteration
                if (id == idIn) {
                    reachedId = true;
                }
            });
            return nextId;
        }

        function calcBasis() {
            console.clear();
            var totalAmo = $('#totalwithvat').val();
            console.log(totalAmo);

            var piece = $('#piece').val();
            var unitPrice = $('#unit_price').val();


            if (piece == '') {
                piece = 1;
                $('#piece').val(1);
            }


            console.log("Piece: "+piece);
            console.log("Unit Price: "+unitPrice);
            console.log("vat: " + vat);
            //calculateInp();

            var calced = (totalAmo / piece) / vat;

            $('#unit_price').val(calced.toFixed(2).toString());
            console.log(calced);

            /*
            $('#vat').selectpicker('val', vat);*/
            //calculateInp();


            var withvatinp = $('#totalwithvat').val();
            piece = $('#piece').val();
            unit_price = $('#unit_price').val();

            total = (piece * unit_price) * vat;
            if (discount > 0) {
                var withDis = total / discount;
                calcedDis = total - withDis;
                console.log(calcedDis);
            }
            else {
                discount = 0;
                calcedDis = 0;
            }
            //calcedDis = 0;


            outVat = (piece * unit_price);
            calcedVat = total - outVat;
            if (calcedVat < 0)
                calcedVat = 0;

            $('#total').val(outVat.toFixed(2).toString().replace(/\./g, ','));

        }

    </script>
}