
@model Opus.Models.ViewModels.Accounting.BuyingVM
<style>
    input.box-shadow-none:active {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    input.box-shadow-none:hover {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    input.box-shadow-none:focus {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    input.box-shadow-none:focus-visible {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
        outline: none;
    }

    input.box-shadow-none:target {
        border: none !important;
        border-style: hidden !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    input.box-shadow-none {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        color: #212529;
        background: transparent !important;
        border: none !important;
        appearance: none;
    }

    td {
        max-width: 50px !important;
        width: auto !important;
        min-width: 10px !important;
    }

        td.fitwidth {
            width: 1px;
            white-space: nowrap;
        }

    .table > tbody > tr > td.fitwidth, .table > tbody > tr > th {
        padding: 7px 10px 7px 10px;
    }

    .table td {
        font-size: .8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 1px;
    }

    .table th {
        font-size: 11px;
        white-space: pre-wrap;
    }
</style>
<div class="container-full">
    @*<div class="container-full" ondragstart="return false;" ondrop="return false;" draggable="false" onselectstart='return false;' style="white-space:nowrap">*@
    <!-- Content Header (Page header) -->
    <div class="content-header">

        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Accounting</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item"><a href="/accounting/curr">Currents</a></li>
                            <li class="breadcrumb-item" aria-current="page">@Model.Company.Name</li>
                            <li class="breadcrumb-item" aria-current="page">Buying</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <div class="pb-10"></div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">

                    <div class="box-header with-border">
                        @*<h4 class="box-title"></h4>*@
                        <div class="row">
                            <div class="col-3">
                                <h4 class="box-title excDate">Today:</h4>
                            </div>
                            <div class="col-3 fa-1x" title="US DOLAR">
                                <i class="fa fa-usd opus-color" aria-hidden="true"></i><span class="usd_today" style="padding-left:5px;"></span>
                            </div>
                            <div class="col-3 fa-1x" title="EURO">
                                <i class="fa fa-eur opus-color" aria-hidden="true"></i><span class="eur_today" style="padding-left: 5px;"></span>
                            </div>
                            <div class="col-3 fa-1x" title="STERLIN">
                                <i class="fa fa-gbp opus-color" aria-hidden="true"></i><span class="gbp_today" style="padding-left: 5px;"></span>
                            </div>
                        </div>
                        <div class="text-center" style="position:absolute;">
                            <small style="font-size:10px;">This currency is pulled from the central bank of the republic of Turkey database.</small>
                        </div>
                    </div>


                    <div class="box-body">
                        <form method="post" action="/accounting/curr/buying-post" id="buying-form">
                            <hr class="my-15">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Company</h5>
                                </div>
                                <div class="col-10">
                                    <img height="50" src="/assets/accounting/company/@Model.Company.Id/img/@Model.Company.ImageFile" />
                                    @*<img src="/assets/accounting/company/1215ce74-9adf-40ff-1301-08da4acb0647/img/" />*@
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Supplier</h5>
                                </div>
                                <div class="col-10">
                                    <select class="form-control box-shadow-focus select2 mb-20 me-10" data-style="btn-white" id="identification" asp-for="BuyingInput.IdentificationId" required>
                                        <option value="" selected disabled class="d-none" style="color:antiquewhite">Supplier</option>
                                        @foreach (var item in Model.Identification_Enuberable)
                                        {
                                            <option value="@item.Id">@item.CommercialTitle</option>
                                        }
                                    </select>
                                    @*
                    <label class="form-label"></label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Alabama</option>
                        <option>Alaska</option>
                        <option>California</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                    </select>*@
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Document Date</h5>
                                </div>
                                <div class="col-10">
                                    <input class="form-control box-shadow-focus input-col" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="BuyingInput.DocDate" />
                                </div>
                                <span asp-validation-for="BuyingInput.DocDate" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Document No</h5>
                                </div>
                                <div class="col-10">
                                    <input class="form-control input-col" type="text" placeholder="Document No" asp-for="BuyingInput.DocNo" />
                                </div>
                                <span asp-validation-for="BuyingInput.DocNo" class="text-danger"></span>
                            </div>




                            <div class="row">
                                <div class="col-2">
                                    <h5 class="my-10">Payment Method</h5>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col my-10">
                                            <input asp-for="PaymentMethId" type="radio" id="cashrad" class="radio-col-info" value="1" checked />
                                            <label for="cashrad">Cash</label>
                                        </div>
                                        <div class="col my-10">
                                            <input asp-for="PaymentMethId" type="radio" id="cardrad" class="radio-col-success" value="2" />
                                            <label for="cardrad">Credit Card</label>
                                        </div>
                                        <div class="col my-10">
                                            <input asp-for="PaymentMethId" type="radio" id="currentrad" class="radio-col-warning" value="3" />
                                            <label for="currentrad">Current</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row payment-term d-none">
                                <div class="col-2">
                                    <h5 class="my-10">Payment Terms: </h5>
                                </div>
                                <div class="col-6 my-10">
                                    <input type="checkbox" id="term15" class="filled-in chk-col-success" asp-for="Term15" />
                                    <label for="term15">15  &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                    <input type="checkbox" id="term30" class="filled-in chk-col-success" asp-for="Term30" />
                                    <label for="term30">30  &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                    <input type="checkbox" id="term45" class="filled-in chk-col-success" asp-for="Term45" />
                                    <label for="term45">45  &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                    <input type="checkbox" id="term60" class="filled-in chk-col-success" asp-for="Term60" />
                                    <label for="term60">60 &nbsp; &nbsp; &nbsp; &nbsp;</label>

                                    <input type="checkbox" id="term90" class="filled-in chk-col-success" asp-for="Term90" />
                                    <label for="term90">90  &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                </div>
                                <div class="col-4">
                                    <input class="form-control input-col" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="paymentTermDate" asp-for="BuyingInput.PaymentTerm" />
                                </div>
                            </div>

                            <div class="row d-none">
                                <div class="col-2">Default Payment Term</div>
                                <div class="col-10">
                                    <input class="form-control input-col" type="date" readonly="readonly" id="default-term" /><h6 id="default-day"></h6>
                                </div>
                            </div>


                            <hr class="my-15">
                            <div>

                                <div class="border-top border-bottom">
                                    <div class="row mt-4 mb-4">
                                        <div class="col-2">
                                            <h5 class="my-10">Expenses: </h5>
                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-xl-11 col-12">
                                                    <div class="row">
                                                        <div class="col-xl-4 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <select class="form-select select2 input-col" id="categoryId">
                                                                    <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Category</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <select class="form-select select2 input-col" id="subCatId">
                                                                    <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Sub Category</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <select class="form-select select2 input-col" id="tagId">
                                                                    <option value="00000000-0000-0000-0000-000000000000" selected="selected" disabled class="d-none">Tag</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <input type="number" id="piece" placeholder='Piece' class="form-control input-col" onchange="calculateInp()" />
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <input type="number" id="unit_price" class="form-control input-col" placeholder="Unit Price" onchange="calculateInp()">
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <!--<input type="email" id="total" placeholder='Vat' class="form-control input-col" />-->
                                                                <select class="selectpicker mb-20 me-10" data-style="btn-white" id="vat">
                                                                    <option value="0" selected disabled class="d-none">Vat</option>
                                                                    <option value="1.01">%1</option>
                                                                    <option value="1.08">%8</option>
                                                                    <option value="1.1">%10</option>
                                                                    <option value="1.18">%18</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <!--<input type="email" id="total" placeholder='Vat' class="form-control input-col" />-->
                                                                <select class="selectpicker mb-20 me-10" data-style="btn-white" id="discount">
                                                                    <option value="0" selected disabled class="d-none">Discount</option>
                                                                    <option value="0">%0</option>
                                                                    <option value="1.08">%8</option>
                                                                    <option value="1.1">%10</option>
                                                                    <option value="1.18">%18</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <input type="text" id="total" placeholder='Total' class="form-control input-col" readonly="readonly" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-2 col-md-6 col-12 pb-10">
                                                            <div class="rounded text-center">
                                                                <select class="selectpicker mb-20 me-10" data-style="btn-white" id="exc_rate">
                                                                    <option value="1">TRY</option>
                                                                    <option value="2">USD</option>
                                                                    <option value="3">EUR</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-xl-1 col-12">
                                                    <div class="row">
                                                        <div class="col">
                                                            <button id="add_buyingDetail_row" type="button" class="btn btn-primary mb-10"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table id="buying_table" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;/*font-family:'Courier New',Courier,monospace; font-size:80%;*/">
                                            <thead>
                                                <tr>
                                                    <th width="5%">#</th>
                                                    <th width="20%">Category</th>
                                                    <th width="20%">Sub-Category</th>
                                                    <th width="20%">Tag</th>
                                                    <th width="5%">Piece</th>
                                                    <th width="5%">Price</th>
                                                    <th width="5%">Vat Rate</th>
                                                    <th width="5%">Vat</th>
                                                    <th width="5%">Discount Rate</th>
                                                    <th width="5%">Discount</th>
                                                    <th width="5%">Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_buyingDetail">
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xl-8 col-md-6 col-12 pb-10"></div>
                                    <div class="col-xl-4 col-md-6 col-12 pb-10">
                                        <table class="table table-hover table-bordered table-striped dataTables dataTable no-footer">
                                            <tr>
                                                <td><h6 style="float:right">Out of Vat</h6></td>
                                                <td><h6 style="float:right"><span id="outofVat">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr>
                                                <td><h6 style="float:right">Vat</h6></td>
                                                <td><h6 style="float:right"><span id="total_vat">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr class="discount_tr d-none">
                                                <td><h6 style="float:right">Discount</h6></td>
                                                <td><h6 style="float:right"><span id="totalDiscount">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                            <tr>
                                                <td><h6 style="float:right">Total Amount</h6></td>
                                                <td><h6 style="float:right"><span id="total_amount">0</span> <span class="exc_rate_spn">TRY</span></h6></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button id="buying-submit" class="btn btn-opus" style="float:right" type="submit" disabled>Submit</button>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <div class="row">
                            <div class="col-12">
                                <div class="border-top my-10">

                                </div>
                            </div>
                            <div class="col-12">
                                <h6>Buying List:</h6>
                            </div>
                        </div>

                        <!--Buying List-->
                        <div class="row">
                            <div class="col">
                                <table id="buying_list" class="table table-hover table-bordered table-striped dataTables dataTable no-footer" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Supplier</th>
                                            <th>Document Date</th>
                                            <th>Document No</th>
                                            <th>Payment Method</th>
                                            <th>Payment Terms</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*
                                        <tr>
                                            <td>January</td>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <td>February</td>
                                            <td>$80</td>
                                        </tr>
                                        *@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Buying List-->
                    </div>






                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var selectedDay = 0;
        var defaultDay = 0;
        /*
        var buyingObj = {
            categoryId : '00000000-0000-0000-0000-000000000000',
            subCategoryId : '00000000-0000-0000-0000-000000000000',
            tagId : '00000000-0000-0000-0000-000000000000',
            category={},
            subcategory={},
            tag={}
        }

        */
        var categoryId = '00000000-0000-0000-0000-000000000000';
        var subCategoryId = '00000000-0000-0000-0000-000000000000';
        var tagId = '00000000-0000-0000-0000-000000000000';

        var category_name = '';
        var subCategory_name = '';
        var tag_name = '';
        var exc_rateText = 'TRY';

        var exc_rate = 1;
        var piece = 0;
        var unit_price = 0;
        var vat = 0;
        var vatRate = 0;
        var discount = 0;
        var discountrate = 0;
        var outVat = 0;
        var total = 0;
        var calcedVat = 0;
        var calcedDis = 0;

        var totaloutVat = 0;
        var totalVat = 0;
        var totalDiscount = 0;
        var totalAmount = 0;

        var seq = 0;
        var tagTEST;

        $(document).ready(function () {
            $("#identification").select2({ width: '100%' });

            $('#buying_list').DataTable({
                searching: true,
                paging: true,
                info: true,
                ordering: true,
                caseInsensitive: false,
                /*order: [[1, 'asc']],*/
            });


            foreignCurrency('@DateTime.Now.ToString("yyyy-MM-dd")')
            $(document.body).on("change", "#identification", function () {
                $.ajax({
                    url: '/api/accounting/getDef/'+this.value,

                    success: function (data) {
                        selectedDay = data.identification_Item.paymentTerm;
                        defaultDay = data.identification_Item.paymentTerm;
                        var docDate = $('#BuyingInput_DocDate').val();
                        //foreignCurrency(this.value);
                        calcDate(selectedDay, docDate);
                        calcDefault(defaultDay, docDate);

                    }
                });
            });
            $(document.body).on("change", "#BuyingInput_DocDate", function () {
                foreignCurrency(this.value);
                calcDate(selectedDay,this.value);

            });

            $('input[type=radio][name=PaymentMethId]').change(function () {
                if (this.value == '3') {
                    $('.payment-term').removeClass('d-none');
                    $('#term30').attr('name', 'Term30');
                    $('#term60').attr('name', 'Term60');
                    $('#term90').attr('name', 'Term90');
                }
                else {
                    $('.payment-term').addClass('d-none');
                    $('#term30').removeAttr('name');
                    $('#term60').removeAttr('name');
                    $('#term90').removeAttr('name');
                }
            });

            $("input[name='delBuyingColumn']").on("click", function () {
                console.clear();
                console.log(e);
            });

            $(document.body).on("change", "#categoryId", function (e) {
                subCategoryId = '00000000-0000-0000-0000-000000000000';
                tagId = '00000000-0000-0000-0000-000000000000';

                categoryId = this.value;
                category_name = $('#categoryId').find(':selected')[0].innerText;

                getSubCategory(categoryId);
            });
            $(document.body).on("change", "#subCatId", function () {
                tagId = '00000000-0000-0000-0000-000000000000';

                subCategoryId = this.value;
                subCategory_name = $('#subCatId').find(':selected')[0].innerText;
                getTag(subCategoryId);
            });
            $(document.body).on("change", "#tagId", function () {
                tagId = this.value;
                tag_name = $('#tagId').find(':selected')[0].innerText;
            });


            getCategory();

            $('#vat').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                vat = $(this).val();
                calculateInp();
            });
            $('#discount').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                discount = $(this).val();
                calculateInp();
            });
            $(document.body).on("change", "#exc_rate", function () {
                exc_rate = this.value;
                exc_rateText = $(this).find(':selected')[0].innerText;
                $('.exc_rate_spn').html(exc_rateText);
            });

            $("#buying-form").on('click', "#delCont", function () {
                $('#buying-submit').prop('disabled', true);
                console.log("removed: ");

                //var totalamount_del = 0;
                //var total_del = 0;
                //var calcedVat_del = 0;
                /*
                let total_del = Number($(this).parent().parent().find('.outVat-buying').val().replace(/\,/g, '.'));
                let calcedVat_del = Number($(this).parent().parent().find('.calcedVat-buying').val().replace(/\,/g, '.'));
                let calcedDis_Del = Number($(this).parent().parent().find('.discount-buying').val().replace(/\,/g, '.'));


                let totalamount_del = Number(total_del + calcedVat_del).toFixed(2);*/
                /*
                console.clear();
                console.log("removing values: ");
                console.log("out of vat: " + total_del);
                console.log("Vat: " + calcedVat_del);
                console.log("Discount: " + calcedDis_Del);
                console.log("Total Amount: " + totalamount_del);*/

                $(this).parent().parent().remove();



                /*seq-buying-spn*/
                $('.seq-buying-spn').each(function (i) {
                    $(this).html(Number(i + 1));
                });
                $('.seq-buying').each(function (i) {
                    /*$(this).attr('name', 'ContactEnumerable[' + i + '].FullName');*/
                });

                /*
                $('.categoryName-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput[' + i + '].DepartmantId');
                });
                $('.subCategoryName-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput[' + i + '].MobileNumber');
                });
                */

                $('.tagId-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].TagDefinitionsId');
                });
                $('.piece-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Piece');
                });
                $('.unitPrice-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Price');
                });
                $('.vatRate-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Vat_Rate');
                });
                $('.calcedVat-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Vat');
                });
                $('.discount-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Discount');
                });
                $('.discountRate-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Discount_Rate');
                });
                $('.outVat-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Total');
                });
                setTimeout(function () {
                    getSumVals();
                }, 500);

            });

            console.clear();
            console.log(new Intl.NumberFormat('tr-TR').format(1555.15));

            /*
            console.clear();
            console.log(new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(1555.15));*/
        });


        function getCategory() {
            $.ajax({
                url: '/api/accounting/getCat/' + '@Model.Company.Id',//get category

                success: function (data) {
                    console.log(data);
                    $.each(data, function (key, value) {
                        $("#categoryId").append("<option value='" + value.id + "'>" + value.name + "</option>");
                    });
                    $('#categoryId').val('00000000-0000-0000-0000-000000000000'); // Select the option with a value of '1'
                    $('#categoryId').trigger('change'); // Notify any JS components that the value changed
                }
            });
        }

        function getSubCategory(catId) {
            $.ajax({
                url: '/api/accounting/getsubcat/' + catId,
                success: function (data) {
                    console.log(data);
                    $("#subCatId").empty();
                    $("#subCatId").append("<option value='00000000-0000-0000-0000-000000000000' selected='selected' disabled class='d-none'>Sub Category</option>");
                    $('#subCatId').trigger('change'); // Notify any JS components that the value changed
                    $.each(data, function (key, value) {
                        $("#subCatId").append("<option value='" + value.id + "'>" + value.name + "</option>");
                    });
                    $('#subCatId').val('00000000-0000-0000-0000-000000000000'); // Select the option with a value of '1'
                    $('#subCatId').trigger('change'); // Notify any JS components that the value changed

                }
            });
        }

        function getTag(subCatId) {
            $.ajax({
                url: '/api/accounting/gettags/' + subCatId,
                success: function (data) {
                    tagTEST = data;
                    console.log(data);

                    $("#tagId").empty();
                    $("#tagId").append("<option value='00000000-0000-0000-0000-000000000000' selected='selected' disabled class='d-none'>Tag</option>");
                    $('#tagId').trigger('change'); // Notify any JS components that the value changed
                    $.each(data, function (key, value) {
                        $("#tagId").append("<option value='" + value.id + "'>" + value.name + "</option>");
                    });
                    $('#tagId').val('00000000-0000-0000-0000-000000000000'); // Select the option with a value of '1'
                    $('#tagId').trigger('change'); // Notify any JS components that the value changed


                }
            });
        }

        function calculateInp() {
            piece = $('#piece').val();
            unit_price = $('#unit_price').val();

            total = (piece * unit_price) * vat;
            if (discount > 0) {
                var withDis = total / discount;
                calcedDis = total - withDis;
                console.log(calcedDis);
            }
            else {
                discount = 0;
                calcedDis = 0;
            }
                //calcedDis = 0;


            outVat = (piece * unit_price);
            calcedVat = total - outVat;
            if (calcedVat < 0)
                calcedVat = 0;

            $('#total').val(outVat.toFixed(2).toString().replace(/\./g, ','));



        }
        /*
        function remBuyingTable(data) {
            console.clear();
            console.log("Remove Func:");
            console.log(data);
        }
        */

        $("#add_buyingDetail_row").on("click", function () {
            $('#buying-submit').prop('disabled', true);
            const selectedText = $("#departmantid option:selected").text();
            const selectedValue = $("#departmantid option:selected").val();

            if (selectedValue == -1) {
                $.toast({
                    heading: 'Required family member selection',
                    text: 'Please select a family member.',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
            }
            else if (piece == "" || piece == null || piece == 0) {
                $.toast({
                    heading: 'Required Piece Field',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
            }
            else if (unit_price == "" || unit_price == null || unit_price == 0) {
                $.toast({
                    heading: 'Required unit price field',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
            }
            else if (vat == "" || vat == null || vat < 1) {
                $.toast({
                    heading: 'Required select vat field',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
            }
            else if (categoryId == "00000000-0000-0000-0000-000000000000" || categoryId == null) {
                $.toast({
                    heading: 'Required Category',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
            }
            else if (subCategoryId == "00000000-0000-0000-0000-000000000000" || subCategoryId == null) {
                $.toast({
                    heading: 'Required SubCategory',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
            }
            else if (tagId == "00000000-0000-0000-0000-000000000000" || tagId == null) {
                $.toast({
                    heading: 'Required Tag',
                    text: '',
                    icon: 'warning',
                    showHideTransition: 'slide',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600',  // To change the background
                    position: 'top-right',
                    hideAfter: 5000
                });
            }
            else {
                seq++;


                if (vat == 1.01)
                    vatRate = "%1";
                if (vat == 1.08)
                    vatRate = "%8";
                if (vat == 1.1)
                    vatRate = "%10";
                if (vat == 1.18)
                    vatRate = "%18";

                if (discount == 1)
                    discountrate = "%0";
                if (discount == 1.08)
                    discountrate = "%8";
                if (discount == 1.1)
                    discountrate = "%10";
                if (discount == 1.18)
                    discountrate = "%18";


                var selectedElementTxt = `<input type="text" class="form-control" value="` + selectedText + `" title="` + selectedText + `" readonly="readonly" />`;
                var selectedElementVal = `<input type="text" class="form-control departmantid d-none" value="` + selectedValue + `" hidden/>`;

                var tbody_buying_item = `
                                                    <tr data-id="`+ seq + `">
                                                        <td data-name="seq" class="fitwidth">
                                                                <input type="text" class="box-shadow-none seq-buying d-none" value="`+ seq + `" title="` + seq + `" readonly="readonly"/>
                                                                <span class="seq-buying-spn">`+ seq + `</span>

                                                        </td>
                                                        <td data-name="category" class="fitwidth">
                                                                <input type="text" class="box-shadow-none categoryName-buying d-none" value="`+ category_name + `" title="` + category_name + `" readonly="readonly"/>
                                                                <input type="text" class="categoryId-buying d-none" value="`+ categoryId + `" title="` + categoryId + `" readonly="readonly"/>
                                                                `+ category_name + `
                                                        </td>
                                                        <td data-name="subCategory" class="fitwidth">
                                                                <input type="text" class="box-shadow-none subCategoryName-buying d-none" value="`+ subCategory_name + `" title="` + subCategory_name + `" readonly="readonly"/>
                                                                <input type="text" class="subCategoryId-buying d-none" value="`+ subCategoryId + `" title="` + subCategoryId + `" readonly="readonly"/>
                                                                <span title="">`+ subCategory_name + `</span>
                                                        </td>
                                                        <td data-name="tag" class="fitwidth">
                                                                <input type="text" class="box-shadow-none tagName-buying d-none" value="`+ tag_name + `" title="` + tag_name + `" readonly="readonly"/>
                                                                <input type="text" class="tagId-buying d-none" value="`+ tagId + `" title="` + tagId + `" readonly="readonly"/>
                                                                <span title="">`+ tag_name + `</span>
                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="number" class="box-shadow-none piece-buying d-none" value=`+ piece + ` title="` + piece + `" readonly="readonly"/>
                                                                <span title="">`+ piece + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none unitPrice-buying d-none" value=`+ unit_price.toString().replace(/\./g, ',') + ` title="` + unit_price.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ unit_price + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none vatRate-buying d-none" value=`+ vat.toString().replace(/\./g, ',') + ` title="` + vat.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ vatRate + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none calcedVat-buying d-none" value=`+ calcedVat.toString().replace(/\./g, ',') + ` title="` + calcedVat.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ calcedVat.toFixed(2).toString().replace(/\./g, ',') + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none discountRate-buying d-none" value=`+ discount.toString().replace(/\./g, ',') + ` title="` + discountrate.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ discountrate + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none discount-buying d-none" value=`+ calcedDis.toString().replace(/\./g, ',') + ` title="` + calcedDis.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ calcedDis.toFixed(2).toString().replace(/\./g, ',') + `</span>

                                                        </td>
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="text" class="box-shadow-none outVat-buying d-none" value=`+ outVat.toString().replace(/\./g, ',') + ` title="` + outVat.toString().replace(/\./g, ',') + `" readonly="readonly"/>
                                                                <span title="">`+ outVat.toString().replace(/\./g, ',') + `</span>

                                                        </td>
                                                        <!--
                                                        <td data-name="deliveryDate" class="fitwidth">

                                                                <input type="date" class="box-shadow-none familyMembersDateOfBirth" value=`+ 'familyDateofBirth' + ` title="` + 'familyDate' + `" readonly="readonly"/>

                                                        </td>-->
                                                        <td data-name="del" class="fitwidth">
                                                            <!--<button id="delCont" name="delBuyingColumn" type="button" class="waves-effect waves-light btn btn-danger btn-circle row-remove" ><span class="icon-Trash1 fs-18"><span class="path1"></span></span></button>-->
                                                            <a id="delCont" name="delBuyingColumn" class="fa-exp-font"><i class="fa fa-trash fa-3" aria-hidden="true"></i></a>
                                                            <!--<input type="button" name="delBuyingColumn" class="btn waves-effect waves-light"><i class="fa fa-minus-square-o" aria-hidden="true"></i></input>-->
                                                            <!--<a class="fa-exp-font" style="pointer-events: none"><i class="fa fa-trash fa-3" aria-hidden="true"></i></a>-->
                                                        </td>
                                                    </tr>

`;
                $("#tbody_buyingDetail").append(tbody_buying_item);

                $('.seq-buying-spn').each(function (i) {
                    $(this).html(Number(i + 1));
                });
                $('.tagId-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].TagDefinitionsId');
                });
                $('.piece-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Piece');
                });
                $('.unitPrice-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Price');
                });
                $('.vatRate-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Vat_Rate');
                });
                $('.calcedVat-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Vat');
                });
                $('.discount-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Discount');
                });
                $('.discountRate-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Discount_Rate');
                });
                $('.outVat-buying').each(function (i) {
                    $(this).attr('name', 'BuyingInput.Enumerable_BuyingDetails[' + i + '].Total');
                });

                setTimeout(function () {
                    getSumVals();
                    clearBuyingInputs();
                }, 500);
                
            }

        });

        function clearBuyingInputs() {
            $('#piece').val('');
            $('#unit_price').val('');
            $('#total').val('');

            vat = 0;
            vatRate = 0;
            discount = 0;
            discountrate = 0;
            categoryId = '00000000-0000-0000-0000-000000000000';
            subCategoryId = '00000000-0000-0000-0000-000000000000';
            tagId = '00000000-0000-0000-0000-000000000000';

            $('#vat').selectpicker('val',vat);
            $('#discount').selectpicker('val', discount);


            $('#tagId').val(tagId);
            $('#subCatId').val(subCategoryId);
            $('#categoryId').val(categoryId);

            $('#tagId').trigger('change');
            $('#subCatId').trigger('change');
            $('#categoryId').trigger('change');



        }

        function getSumVals() {
            var sumVat = 0;
            var sumDiscount = 0;
            var sumoutofVat = 0;
            piece = 0;
            unit_price = 0;
            total = 0;
            $('.calcedVat-buying').each(function () {
                sumVat += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });
            $('.discount-buying').each(function () {
                sumDiscount += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });
            $('.outVat-buying').each(function () {
                sumoutofVat += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });
            $('.piece-buying').each(function () {
                piece += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });
            $('.unitPrice-buying').each(function () {
                unit_price += Number($(this).val().replace(/\,/g, '.'));  // Or this.innerHTML, this.innerText
            });


            total = sumoutofVat;
            total += sumVat;
            total -= sumDiscount;


            console.clear();
            console.log("Vat: "+sumVat);
            console.log("Discount: " + sumDiscount);
            console.log("Out of vat: " + sumoutofVat);
            console.log("Total amount: " + total);


            const totalAmount_STR = new Intl.NumberFormat('tr-TR').format(total.toFixed(2)).toString();
            const totalDiscount_STR = new Intl.NumberFormat('tr-TR').format(sumDiscount.toFixed(2)).toString();
            const totalVat_STR = new Intl.NumberFormat('tr-TR').format(sumVat.toFixed(2)).toString();
            const totaloutVat_STR = new Intl.NumberFormat('tr-TR').format(sumoutofVat.toFixed(2)).toString();

            if (total > 0) {
                $('#buying-submit').prop('disabled', false);

                $('#exc_rate').prop('disabled', true);
                console.log("Exchange Rate: " + true);
            }
            else {
                $('#buying-submit').prop('disabled', true);

                $('#exc_rate').prop('disabled', false);
                console.log("Exchange Rate: " + false);

            }


            if (sumDiscount > 0)
                $('.discount_tr').removeClass('d-none');
            else
                $('.discount_tr').addClass('d-none');
            piece = 0;
            unit_price = 0;
            total = 0;

            $('#outofVat').html(totaloutVat_STR);
            $('#total_vat').html(totalVat_STR);
            $('#total_amount').html(totalAmount_STR);
            $('#totalDiscount').html('-' + totalDiscount_STR);
            /*$('#total_amount').html(total + ' TRY');*/
        }
    </script>
}