
@{
    ViewData["Title"] = "Index";
    int s = 0;
}
@model IEnumerable<Opus.Models.DbModels.Accounting.Company>
@using static Opus.Utility.ProjectConstant.Path
@using static Opus.Utility.ProjectConstant

<style>
    @@keyframes bounceInDown {
        0% {
            opacity: 0;
            transform: translateY(-2000px);
        }

        60% {
            opacity: 1;
            transform: translateY(30px);
        }

        80% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @@keyframes bounceOutUp {
        0% {
            transform: translateY(0);
        }

        20% {
            opacity: 1;
            transform: translateY(20px);
        }

        100% {
            opacity: 0;
            transform: translateY(-2000px);
        }
    }

    div.dropdown-menu.dropdown-grid {
        transition: 0.5s;
        animation-name: bounceOutUp
    }

        div.dropdown-menu.dropdown-grid.show {
            transition: 0.5s;
            animation-name: bounceInDown
        }

    .dropdown-toggle::after {
        border-top: 0 !important;
    }

    .dropdown-submenu {
        position: absolute;
    }
    a.dropdown-item {
        transition: 1s !important;
    }
        a.dropdown-item:hover {
            transition: 1s !important;
            background: #e8e8e8 !important;
            box-shadow: 0 1px 5px 0 rgb(0 0 0 / 21%) !important;
        }
</style>
<div class="container-full" ondragstart="return false;" ondrop="return false;" draggable="false" onmousedown='return false;' onselectstart='return false;' style="white-space:nowrap">
    <!-- Content Header (Page header) -->
    <div class="content-header">

        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h3 class="page-title">Accounting</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Currents</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <div class="pb-10"></div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    @if (User.IsInRole(UserRoles.Admin))
                    {
                        <div class="box-header with-border">
                            <h4 class="box-title">Add Company</h4>
                            <a asp-area="Accounting" asp-controller="Company" asp-action="Add" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                            <ul class="box-controls pull-right">
                                <li class="dropdown">
                                    <a class="waves-effect waves-dark" data-bs-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90 text-dark" style="font-size:large"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" asp-action="Identifications" asp-controller="Identification" asp-area="Accounting"><i class="ti-cart"></i> Identifications</a>
                                        @*
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>*@
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            s++;
                            string DropdownStr = "dropdown" + s.ToString();
                            var _logo = AccountingPath.Company.Root + item.Id.ToString() + AccountingPath.Company.ProfileIMG + item.ImageFile;
                            <div class="col-3">
                                <div class="box-body">
                                    <div class="dropdown" style="height:100%;">
                                        <div class="box box-inverse box-comp box-outline-success">
                                            <a class="dropdown-toggle waves-effect waves-dark" id="@DropdownStr" style="color: white; height: 100%;z-index:999;" data-bs-toggle="dropdown">
                                                <div class="box-body d-flex justify-content-center align-items-center" style="height:100%;">
                                                    @*<span>@item.Name</span>*@
                                                    <img src="@_logo" style='height: 100%; width: 100%; object-fit: contain' />
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-grid" style="margin: 20px; width:400px;" aria-labelledby="@DropdownStr">
                                                <a class="dropdown-item waves-effect waves-dark" href="/accounting/ids/@item.Id">
                                                    <span class="icon fa fa-id-card"></span> Identification
                                                </a>
                                                <a class="dropdown-item waves-effect waves-dark" href="/accounting/curr/account-balance/@item.Id">
                                                    <span class="icon fa fa-google-wallet"></span> 	Current Account<br />Balance
                                                </a>
                                                <a class="dropdown-item waves-effect waves-dark" href="#@item.Id-payments-report">
                                                    <span class="icon fa fa-table"></span> Weekly Payments
                                                </a>
                                                <a class="dropdown-item waves-effect waves-dark" href="#@item.Id-settings">
                                                    <span class="icon fa fa-info"></span> Information
                                                </a>
                                                <div class="dropdown-item" id="submenu">
                                                    <span class="icon fa fa-plus"></span> <label>New Invoice</label>
                                                    <div class="dropdown-menu dropdown-submenu" style="margin-top: -100px; width:100px;" aria-labelledby="@DropdownStr">
                                                        <a class="dropdown-item" href="curr/buying/@item.Id">
                                                            <span class="icon fa fa-plus"></span> Purchase Invoice
                                                        </a>
                                                        <a class="dropdown-item" href="#@item.Id-sales">
                                                            <span class="icon fa fa-plus"></span> Sale Invoice
                                                        </a>
                                                        <a class="dropdown-item" href="#@item.Id-payment">
                                                            <span class="icon fa fa-plus"></span> Payments
                                                        </a>
                                                    </div>
                                                </div>
                                                @*
        <a class="dropdown-item" href="#">
            <span class="icon fa fa-music"></span>
        </a>
        <a class="dropdown-item" href="#">
            <span class="icon fa fa-newspaper-o"></span>
        </a>
        <a class="dropdown-item" href="#">
            <span class="icon fa fa-book"></span>
        </a>
        <a class="dropdown-item" href="#">
            <span class="icon fa fa-download"></span>
        </a>
        <a class="dropdown-item" href="#">
            <span class="icon fa fa-gear"></span>
        </a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $(".dropdown-toggle").click(function () {
                $('#div#submenu').show("slide", { direction: "right" }, 1000);
            });
            
            $("div#submenu").hover(function (e) {
                e.stopPropagation();
                /*$(this).fadeOut(100);
                $(this).fadeIn(500);*/
                console.log("hovered");
                $(this).parent().find(".dropdown-menu").toggle();

            });

        });
    </script>
}
