@{
    int MR = 0, AL = 0, NW = 0, UL = 0, S = 0;
    double calcrange = 0;
}

@model Opus.Models.ViewModels.PersonMotionMain
@foreach (var item in Model.PersonMotionVMs)
{

    @if (item.Today == "MR")
        MR++;
    if (item.Today == "AL")
        AL++;
    if (item.Today == "NW")
        NW++;
    if (item.Today == "UL")
        UL++;

}
<style>
    .progress {
        background-color: #ffffff !important;
    }

    a.locations:hover {
        color: white !important;
    }

    a.locations:focus {
        color: white !important;
    }

    .locations {
        color: white !important;
    }

    .box-inverse {
        height: 135px;
    }

    h5 {
        color: white !important;
    }

    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .ellipsis-1 {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .modal-backdrop.show {
        opacity: 0 !important;
        /*backdrop-filter: blur(2px)!important;*/
        /*filter: blur(4px)!important;*/
    }

    .modal-dialog {
        max-height: 100% !important;
    }

    .modal.fade.show {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
    }
    /*
    td.fitwidth {
        width: 1px !important;
        white-space: nowrap !important;
    }

    .table.plist > tbody > tr > td.fitwidth, .table > tbody > tr > th {
        padding: 0px 0px 0px 0px !important;
    }*/
    /*
    .table-responsive {
        min-height: 340px !important;
        height: 500px;
        max-height: 900px !important;
    }
    */
    #locdetresponsive {
        max-height: 100% !important;
        height: 600px;
        min-height: 200px;
    }

    @@media only screen and (max-width: 499px) {
        .modal-dialog {
            max-height: 100% !important;
        }
    }
    /*
    .modal-open .modal {
        overflow-y: hidden!important;
    }*/
    .modal-open .modal {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    /*
    body > .modal-open .modal {
        overflow-y: hidden !important;
    }
    */
    body.modal-open .supreme-container {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    .btn-close {
        filter: brightness(0) invert(1);
    }
    /*
    @@media only screen and (max-width: 800px) {
        .modal {
            overflow: hidden !important;
        }
    }*/
    /*
        .modal {
            display: table !important;
        }

        .modal-opus {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            display: table;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            border: 1px solid;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .body {
            display: table-cell !important;
            vertical-align: middle !important;
            text-align: center !important;
        }*/
    #personlist_filter {
        position: sticky !important;
        /*top:210px!important;
        display:flex!important;
        z-index:99!important;
        left:40px!important;*/
        top: 0px;
        z-index: 999 !important;
        display: none;
    }

    .dataTables_info {
        display: none !important;
    }

    thead {
        position: sticky !important;
        top: -1px;
        background-color: white !important;
        z-index: 99 !important;
    }

    .table-striped > tbody > tr:nth-of-type(even) {
        --bs-table-accent-bg: rgb(0 0 0 / 1%);
        color: var(--bs-table-striped-color);
    }

    .table-striped tbody > tr:hover {
        --bs-table-accent-bg: rgb(64 95 153 / 35%);
        color: var(--bs-table-striped-color);
    }
</style>

<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Person Motion</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Person Motion</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="box-header">
                                <h4 class="text-success">Person List</h4>
                            </div>
                            <div class="box-body">
                                <div>
                                    <div class="row">
                                        <div class="col-6"><h6>MR:@MR</h6></div>
                                        <div class="col-6"><h6>AL:@AL</h6></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><h6>NW:@NW</h6></div>
                                        <div class="col-6"><h6>UL:@UL</h6></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <button class="btn btn-opus waves-effect waves-light" style="width:100%;" onclick="getlocationsforstart()">Move</button>
                                        </div>
                                        <div class="col-4">
                                            <button class="btn btn-danger-opus waves-effect waves-light" style="width:100%;">NW</button>
                                        </div>
                                        <div class="col-4">
                                            <button class="btn btn-warning-opus waves-effect waves-light" style="width:100%;">UL</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-50">
                                    <div class="col-12">
                                        <input type="search" name="personlistsrch" placeholder="Search" value="" class="form-control" />
                                    </div>

                                </div>
                                <div class="row pt-10">
                                    <div class="col-12">
                                        <div class="personlistrowcount">Showing 83 entries</div>
                                    </div>
                                </div>
                                <div style="max-height: 650px!important;">
                                    <div class="table-responsive" style="max-height: 650px!important;position:relative;">
                                        <!--style="max-height:750px;"-->
                                        <table id="personlist" class="table plist table-bordered table-hover table-striped dataTables mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col" style="max-width:35px;">Selection</th>
                                                    <th scope="col" width="255">Name</th>
                                                    <th scope="col">Time</th>
                                                    <th scope="col">Work Status</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Info</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.PersonMotionVMs)
                                                {
                                                    S++;
                                                    <tr class="fitwidth">
                                                        <td scope="row">@S.ToString()</td>
                                                        <td style="max-width:50px!important;"><input type="checkbox" name="locinoutsmotion[]" id="permot_@item.StaffStamp.StaffId" class="chk-col-success" value="@item.StaffStamp.StaffId"><label for="permot_@item.StaffStamp.StaffId"></label></td>
                                                        <td>@item.StaffStamp.Staff.FirstName @item.StaffStamp.Staff.LastName - @item.StaffStamp.Stamp.StampNumber</td>
                                                        @if (item.Today == null)
                                                        {
                                                            <td>0</td>
                                                        }
                                                        else
                                                        {
                                                            if (item.Today != "MR" && item.Today != "AL" && item.Today != "NW" && item.Today != "UL")
                                                            {
                                                                calcrange = (100 / 7.5) * double.Parse(item.Today);
                                                                if (calcrange > 100)
                                                                    calcrange = 100;

                                                                <td>@item.Today@* - @Math.Round(calcrange, 0)*@</td>
                                                            }
                                                            else
                                                            {
                                                                calcrange = 0;
                                                                <td>@item.Today</td>
                                                            }

                                                        }

                                                        <td>
                                                            <div class="progress shadow-1-strong">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Math.Round(calcrange, 0)" aria-valuemin="0" aria-valuemax="100" style="width: @Math.Round(calcrange, 0)%">
                                                                    <span class="sr-only">0% Complete (success)</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">

                                                            @if (item.Today == "MR")
                                                            {
                                                                <span class="badge badge-warning shadow-2-strong">Medical Report</span>
                                                            }
                                                            else if (item.Today == "AL")
                                                            {
                                                                <span class="badge badge-warning shadow-2-strong">Annual Leave</span>
                                                            }
                                                            else if (item.Today == "NW")
                                                            {
                                                                <span class="badge badge-danger shadow-2-strong">Medical Report</span>
                                                            }
                                                            else if (item.Today == "UL")
                                                            {
                                                                <span class="badge badge-warning shadow-2-strong">Unpaid Leave</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-success shadow-2-strong">Active</span>
                                                            }


                                                        </td>
                                                        <td class="text-center"><a href="#" style="font-size:large;color:black" data-bs-toggle="modal" data-bs-target="#person-info" onclick="getpersoninfo(@item.StaffStamp.StaffId)"><i class="fa fa-info-circle"></i></a></td>
                                                    </tr>
                                                }


                                                @*
                                                    <tr>
                                                        <td scope="row">1</td>
                                                        <td>ABDULLAH AKTEPE - EX-48</td>
                                                        <td>3</td>
                                                        <td>
                                                            <div class="progress shadow-1-strong">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                                    <span class="sr-only">0% Complete (success)</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="badge badge-success shadow-2-strong">Active</span>
                                                        </td>
                                                        <td class="text-center"><a href="#" style="font-size:large;color:black"><i class="fa fa-info-circle"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">2</td>
                                                        <td>ALEYNA TANRIVERDİ - EX-94</td>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="progress shadow-1-strong">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                                                                    <span class="sr-only">0% Complete (success)</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="badge badge-success shadow-2-strong">Active</span>
                                                        </td>
                                                        <td class="text-center"><a href="#" style="font-size:large;color:black"><i class="fa fa-info-circle"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">3</td>
                                                        <td>ASLI TUFAN - EX-266</td>
                                                        <td>UL</td>
                                                        <td>
                                                            <div class="progress shadow-1-strong">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                                    <span class="sr-only">0% Complete (success)</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="badge badge-success shadow-2-strong">Active</span>
                                                        </td>
                                                        <td class="text-center"><a href="#" style="font-size:large;color:black"><i class="fa fa-info-circle"></i></a></td>
                                                    </tr>
                                                *@
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="personlistrowcount">

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="box-header">
                                <h4 class="text-success">Active Location List</h4>
                            </div>
                            <div class="box-body" style="height:750px;">

                                <div style="height:53.59px;">
                                    <div class="row">
                                        <div class="col-12"><h6>Staff at the location:&nbsp;&nbsp;@Model.ExistStaff.Count()</h6></div>
                                        <div class="col-12"><h6>Active locations:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.PersonMotionLocations.Count()</h6></div>
                                    </div>
                                </div>

                                <div class="inner-content-div border-3 p-10">
                                    <div class="row">
                                        @if (Model.PersonMotionLocations.Count() > 0)
                                        {

                                            @foreach (var item in Model.PersonMotionLocations)
                                            {
                                                <div class="col-12 col-xl-4">
                                                    <div class="box box-inverse shadow-selected waves-effect waves-light" style="background-color:@item.Location.ColorHex">
                                                        <a class="locations" href="#@item.Location.Name" data-bs-toggle="modal" data-bs-target="#location-details" onclick="getlocationDetails(@item.Location.Id)">
                                                            <div class="box-body">
                                                                <div class="text-center my-2">
                                                                    <span style="font-size:x-large">@item.Location.Name</span>
                                                                </div>
                                                                <div class="text-center pt-lg-10">
                                                                    <h5 style="color:white!important;">@item.Counted</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <div class="box box-inverse box-warning shadow-selected waves-effect waves-light">
                                                    <a class="locations">
                                                        <div class="box-body">
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">No location has been added yet!</span>
                                                            </div>
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;"></h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        }


                                        @*
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-success shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-warning shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-info shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-dangers shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-danger shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modalsection">
        <!-- Modal -->
        <div class="modal center-modal fade" id="person-info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-opus">
                        <h5 class="modal-title person-info-title">Person Info</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body person-info-body">
                        <p></p>
                    </div>
                    <div class="modal-footer modal-footer-uniform">
                        @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary float-end">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
        <!-- Modal -->
        <div class="modal center-modal fade" id="location-details">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header location-details-header bg-opus">
                        <h5 class="modal-title location-details-title">Location Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body location-details-body">
                        <p></p>
                    </div>
                    <div class="modal-footer modal-footer-uniform">
                        @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary float-end">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
        <!-- Modal -->
        <div class="modal center-modal fade" id="endofshift">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header endofshift-header bg-warning">
                        <h5 class="modal-title endofshift-title">End of time</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body endofshift-body">
                        <div class="row">

                            <div class="col-5">
                                <div class="form-group row">
                                    <label class="pb-1">Time: </label>
                                    <input class="form-control" type="time" name="shifttime" value="@DateTime.Now.ToString("HH:mm")" />
                                </div>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-5">
                                <div class="form-group row">
                                    <label class="pb-1">Meal Time: </label>
                                    <select class="form-control" name="mealtime">
                                        <option value="00:00">00:00</option>
                                        <option value="00:30">00:30</option>
                                        <option value="00:45">00:45</option>
                                        <option value="01:00">01:00</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-group-lg btn-primary waves-effect waves-light btn-eoshift" onclick="postEOshift()">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-uniform">
                        @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary float-end">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
        <!-- Modal -->
        <div class="modal center-modal fade" id="startofshiftlocation">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header bg-opus">
                        <h5 class="modal-title startofshift-title">Start of time</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body startofshift-body">
                        <div class="row pt-10">
                            <div class="col-12">
                                <select class="form-control select2" id="shiftlocations">
                                </select>
                            </div>
                            <div class="col-12 pt-10">
                                <input class="form-control" type="date" name="startshiftdate" min="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                            </div>
                            <div class="col-12 pt-10">
                                <input class="form-control" type="time" name="startshifttime">
                            </div>
                            <div class="row pt-10">
                                <div class="col-4 text-center"><button class="waves-effect waves-light btn btn-info-light" onclick="shiftmarka()">08:00</button></div>
                                <div class="col-4 text-center"><button class="waves-effect waves-light btn btn-success-light" onclick="shiftmarkb()">16:00</button></div>
                                <div class="col-4 text-center"><button class="waves-effect waves-light btn btn-warning-light mb-5" onclick="shiftmarkc()">21:00</button></div>
                            </div>
                        </div>
                        <div class="row pt-10">
                            <div class="col-12">
                                <button class="btn btn-opus waves-effect waves-light btn-soshift" onclick="this.disabled=true; postSOshift();" style="width:100%;">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-uniform">
                        @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary float-end">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>
</section>





@section Scripts{
    <script src="~/lib/vendor_components/dropzone/dropzone.js"></script>
    <script type="text/javascript">
        var windowtheight = 0;
        var responsiveheight = 0;
        var poststatus = false;
        var selectedLocationId = 0;
        var endofshiftHTML = `
<div>
                                                                    <input class="form-control" type="time" name="shifttime"/>
</div>`;

        $(window).resize(function () {
            changeSize();
        })

        $(document).ready(function () {



            $('#personlist').DataTable({
                "bPaginate": false,
                "bProcessing": true
            });
            $('.slimScrollDiv').css("height", "600px");
            $('.inner-content-div').css("height", "600px");

            $('a').on('click', '.pinfo', function (e) {
            });
            $('#personlist_length').addClass('d-none');

            changeSize();

            var totalcount = $('#personlist').DataTable().rows().count();
            $('.personlistrowcount').html(`Showing ` + totalcount + ` entries`);
        })

        $("input[name='personlistsrch']").on('keyup', function () {
            console.log("Searching..");

            $('#personlist').DataTable().search(this.value).draw();
            var totalcount = $('#personlist').DataTable().rows().count();
            var searchedcount = $('#personlist tr').length - 1;
            if ($('#personlist tr td.dataTables_empty').length < 1)
                $('.personlistrowcount').html(`Showing ` + searchedcount + ` entries (filtered from ` + totalcount + ` total entries)`);
            else
                $('.personlistrowcount').html(`Showing 0 entries (filtered from ` + totalcount + ` total entries)`);
            if (totalcount == searchedcount)
                $('.personlistrowcount').html(`Showing ` + totalcount + ` entries`);

        });

        function getpersoninfo(id) {
            $.ajax({
                url: "/person-motion/api/person-info/" + id,
                contentType: "application/json; charset=utf-8",
                type: "GET",
                /*cache: false,*/
                beforeSend: function () {
                    $('.person-info-body').html(`<h3 class="d-flex justify-content-center align-content-center">Loading..</h3>`);
                },
                success: function (data, textStatus, jqXHR) {
                    $('.person-info-title').html(`Person Info - ` + data.fullName);
                    $('.person-info-body').html(`<table id="personlistd" class="table table-bordered table-hover table-striped dataTables mb-0 dataTable no-footer" style="width:auto;"></table>`);
                    $('#personlistd').DataTable({
                        paging: false,
                        searching: false,
                        ordering: false,
                        autoWidth: false,
                        "data": data.locationInOut,
                        "columns": [
                            { "data": "location", "title": "Locations", "width": "160px", "className": "ellipsis-1" },
                            {
                                "data": "inOutType",
                                "title": "In/Out Type",
                                "render": function (data, type, row, meta) {
                                    if (data == 1)
                                        return 'In';
                                    else
                                        return 'Out';
                                },
                                "width": "20px",
                                "className": "text-center"
                            },
                            { "data": "dateStr", "title": "Date", "width": "70px" },
                            { "data": "hour", "title": "Time" },
                            { "data": "break", "title": "Off" },
                        ]
                    });
                }
            });
        }
        function getlocationsforstart() {

            $('#personlist').DataTable().search("").draw();
            var values = [];
            $("input[name='locinoutsmotion[]']:checked").each(function () {
                values.push($(this).val());
            });

            if (values.length > 0)
                $('#startofshiftlocation').modal('show');//must in success
            else
                alert('Please select some staff');

            $('#shiftlocations').empty().trigger("change");
            var locationSelect = $('#shiftlocations');

            var option = new Option('Select Location', '0', true, true);
            option.setAttribute('disabled', 'disabled');
            locationSelect.append(option).trigger('change');

            console.log("starting shift");
            console.log(status);

            $.ajax({
                url: "/person-motion/api/get-locations/",
                contentType: "application/json; charset=utf-8",
                type: "GET",
                //cache: false,
                beforeSend: function () {
                    /*$('.location-details-body').html(`<h3 class="d-flex justify-content-center align-content-center">Loading..</h3>`);*/
                },
                success: function (data, textStatus, jqXHR) {
                    $("input[name='personlistsrch']").val("");

                    var totalcount = $('#personlist').DataTable().rows().count();
                    $('.personlistrowcount').html(`Showing ` + totalcount + ` entries`);

                    $("#shiftlocations").select2({ width: '100%' });
                    console.log(data);

                    $.each(data, function (key, value) {
                        var option = new Option(value.name, value.id, false, false);
                        locationSelect.append(option).trigger('change');

                        // manually trigger the `select2:select` event
                        locationSelect.trigger({
                            type: 'select2:select',
                            params: {
                                data: value
                            }
                        });
                    });

                    getWatch();
                }
            });


        }

        function getlocationDetails(locationid) {
            $.ajax({
                url: "/person-motion/api/location-details/" + locationid,
                contentType: "application/json; charset=utf-8",
                type: "GET",
                /*cache: false,*/
                beforeSend: function () {
                    $('.location-details-body').html(`<h3 class="d-flex justify-content-center align-content-center">Loading..</h3>`);
                },
                success: function (data, textStatus, jqXHR) {
                    selectedLocationId = locationid;
                    var bgColor = 'background-color:' + data.locationColor + '!important';
                    $('.endofshift-header').attr('style', bgColor);
                    $('.location-details-header').attr('style', bgColor);
                    $('.location-details-title').html(`Location - ` + data.location);

                    $('.location-details-body').html(`
<div class="row">
<div class="col-6"><button class="btn btn-warning waves-effect waves-light" onclick="endcheckboxquery()">End of shift</button></div>
<div class="col-6"><button class="btn btn-danger waves-effect waves-light" onclick="cancelcheckboxquery()">Cancel</button></div>
</div>
<div class="table-responsive" id="locdetresponsive" style="position:relative;">
<table id="locationdetailsd" class="table table-bordered table-hover table-striped dataTables mb-0 dataTable no-footer" style="width:auto;"></table></div>`);

                    $('#locationdetailsd').DataTable({
                        paging: false,
                        searching: false,
                        ordering: false,
                        autoWidth: false,
                        "data": data.locationDetailItems,
                        "columns": [
                            {
                                "data": "locationInOutId",
                                "title": "#",
                                "width": "50px",
                                "render": function (data, type, row, meta) {
                                    return `<input type="checkbox" name="locinoutstatus[]" id="perinfo` + data + `" class="chk-col-success" value="` + data + `"><label for="perinfo` + data + `"></label>`;
                                }
                            },
                            { "data": "fullName", "title": "Name", "width": "160px", "className": "ellipsis-1" },
                            { "data": "dateStr", "title": "Date", "width": "100px" },
                            { "data": "hour", "title": "InTime" },
                            {
                                "data": "hour",
                                "title": "Status",
                                "render": function (data, type, row, meta) {
                                    return `<span class="badge badge-success shadow-2-strong">Active</span>`;
                                },
                            },
                        ]
                    });

                    changeSize();
                }
            });
        }
        function startcheckboxquery() {

            var values = [];

            $("input[name='locinoutsmotion[]']:checked").each(function () {
                values.push($(this).val());
            });
            if (values.length > 0)
                $('#endofshift').modal('show');
            else
                alert("Please select some staff");


        }
        function endcheckboxquery() {

            var values = [];

            $("input[name='locinoutstatus[]']:checked").each(function () {
                values.push($(this).val());
            });
            if (values.length > 0)
                $('#endofshift').modal('show');
            else
                alert("Please select some staff");


        }

        //DEVELOPING

        function postSOshift() {//start of shift
            $('.btn-soshift').attr('disabled', 'disabled');
            var values = [];
            $("input[name='locinoutsmotion[]']:checked").each(function () {
                values.push($(this).val());
            });


            var status = {
                ids: values,
                locId: $('#shiftlocations :selected').val(),
                hour: $("input[name='startshifttime']").val(),
                date: $("input[name='startshiftdate']").val()
            };
            console.log(status);


            $.ajax({
                url: "/person-motion/api/startofshift/",
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(status),
                //cache: false,
                beforeSend: function () {
                    // $('.btn-eoshift').prop('disabled', true);
                },
                success: function (data, textStatus, jqXHR) {
                    console.clear();
                    console.log("Start Of Shift: ");
                    console.log(data);
                    /*
                    Swal.fire(
                        'Success',
                        'Shifts has been successfully ended',
                        'success'
                    )*/
                    Swal.fire({
                        title: 'Success!',
                        text: 'Shift has been successfully added',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) { }
                        setTimeout(function () {
                            $('#loader').attr('style', 'opacity: 1');
                            $('#loader').attr('style', 'display: block');
                            $('#loader').attr('style', 'backdrop-filter: blur(5px)');
                            $("#startofshiftlocation").modal('hide');
                            location.reload();
                        }, 500);

                    })
                }
            });

        }//start of shift



        function postEOshift() {//end of shift

            var test = $("input[name='locinoutstatus']").val();

            var values = [];
            var endoftime = $("input[name='shifttime']").val();
            var mealtime = $("select[name='mealtime']").val();

            $("input[name='locinoutstatus[]']:checked").each(function () {
                values.push($(this).val());
            });
            if (values.length > 0) {
                console.log(status);




                var status = {
                    ids: values,
                    endoftime: $("input[name='shifttime']").val(),
                    mealtime: $("select[name='mealtime']").val()
                };

                //status.ids = values;
                //status.endoftime = $("input[name='time']").val();
                //status.mealtime = $("input[name='mealtime']").val();

                $.ajax({
                    url: "/person-motion/api/endofshift/",
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(status),
                    //cache: false,
                    beforeSend: function () {
                        $('.btn-eoshift').prop('disabled', true);
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.clear();
                        console.log("End Of Shift: ");
                        console.log(data);
                        $('#endofshift').modal("hide");
                        $('.btn-eoshift').prop('disabled', false);

                        Swal.fire(
                            'Success',
                            'Shifts has been successfully ended',
                            'success'
                        )
                        getlocationDetails(selectedLocationId);
                    }
                });

            }
            else {
                alert("Please select some staff");
            }
        }//end of shift

        function changeSize() {
            windowtheight = $(window).height();
            responsiveheight = windowtheight - 140;
            if (windowtheight < 800) {
                $("#locdetresponsive").height(responsiveheight);
                $("#locdetresponsive").addClass("shadow");
                //$("body").css("overflow-y", "hidden");
                //$("body").css("overflow-y", "hidden");
            }
            else {
                $("#locdetresponsive").removeClass("shadow");
                //$("body").css("overflow-y", "auto");
            }
        }

        function shiftmarka() {
            $("input[name='startshifttime']").val('08:00');
        }
        function shiftmarkb() {
            $("input[name='startshifttime']").val('16:00');
        }
        function shiftmarkc() {
            $("input[name='startshifttime']").val('21:00');
        }
        function getWatch() {
            $.ajax({
                url: "/person-motion/api/get-watch/",
                contentType: "application/json; charset=utf-8",
                type: "GET",
                //cache: false,
                beforeSend: function () {
                    /*$('.location-details-body').html(`<h3 class="d-flex justify-content-center align-content-center">Loading..</h3>`);*/
                },
                success: function (data, textStatus, jqXHR) {
                    $("input[name='startshifttime']").val(data);
                }
            });
        }
        /*
        $(document).on('show.bs.modal', '#endofshift', function (e) {
            console.log('endof shift açıldı!');
        });
        */


        $('#endofshift').on('shown.bs.modal', function (e) {
            console.log('endof shift açıldı!');
            console.log(e);

            //filter: blur(4px);
            //$(".content-wrapper").css("backdrop-filter", "blur(2px)");
        });
        $('#endofshift').on('hidden.bs.modal', function (e) {
            console.log('endof shift kapandı!');
            console.log(e);
            //$(".content-wrapper").css("filter", "blur(0px)");

        });




        $('#location-details').on('shown.bs.modal', function (e) {
            console.log('endof shift açıldı!');
            console.log(e);
            $('body').attr('style', 'overflow-y:none!important');

        });
        $('#location-details').on('hidden.bs.modal', function (e) {
            $('body').attr('style', 'height:auto;min-height:100%;');
            //$('body').attr('style', 'min-height:100%');
            console.log('endof shift kapandı!');
            console.log(e);

        });
    </script>
}
