@{
    int MR = 0, AL = 0, NW = 0, UL = 0, S = 0;
    double calcrange = 0;
}

@model Opus.Models.ViewModels.PersonMotionMain
@foreach (var item in Model.PersonMotionVMs)
{

    @if (item.Today == "MR")
        MR++;
    if (item.Today == "AL")
        AL++;
    if (item.Today == "NW")
        NW++;
    if (item.Today == "UL")
        UL++;

}
<style>
    .progress {
        background-color: #ffffff !important;
    }

    a.locations:hover {
        color: white !important;
    }

    a.locations:focus {
        color: white !important;
    }

    .locations {
        color: white !important;
    }

    .box-inverse {
        height: 135px;
    }

    h5 {
        color: white !important;
    }

    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .ellipsis-1 {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .modal-backdrop.show {
        opacity: 0 !important;
        /*backdrop-filter: blur(2px)!important;*/
        filter: blur(4px)!important;
    }
    .modal-dialog {
        max-height: 100% !important;
    }
    /*
    .table-responsive {
        min-height: 340px !important;
        height: 500px;
        max-height: 900px !important;
    }
    */
    @@media only screen and (max-width: 499px) {
        .modal-dialog {
            max-height: 100% !important;
        }
    }
    /*
    @@media only screen and (max-width: 800px) {
        .modal {
            overflow: hidden !important;
        }
    }*/

    /*
        .modal {
            display: table !important;
        }

        .modal-opus {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            display: table;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            border: 1px solid;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .body {
            display: table-cell !important;
            vertical-align: middle !important;
            text-align: center !important;
        }*/
</style>
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Person Motion</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Person Motion</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="box-header">
                                <h4 class="text-success">Person List</h4>
                            </div>
                            <div class="box-body">
                                <div>
                                    <div class="row">
                                        <div class="col-6"><h6>MR:@MR</h6></div>
                                        <div class="col-6"><h6>AL:@AL</h6></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><h6>NW:@NW</h6></div>
                                        <div class="col-6"><h6>UL:@UL</h6></div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="personlist" class="table table-bordered table-hover table-striped dataTables mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Work Status</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Info</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.PersonMotionVMs)
                                            {
                                                S++;
                                                <tr>
                                                    <td scope="row">@S.ToString()</td>
                                                    <td>@item.StaffStamp.Staff.FirstName @item.StaffStamp.Staff.LastName - @item.StaffStamp.Stamp.StampNumber</td>
                                                    @if (item.Today == null)
                                                    {
                                                        <td>0</td>
                                                    }
                                                    else
                                                    {
                                                        if (item.Today != "MR" && item.Today != "AL" && item.Today != "NW" && item.Today != "UL")
                                                        {
                                                            calcrange = (100 / 7.5) * double.Parse(item.Today);
                                                            if (calcrange > 100)
                                                                calcrange = 100;

                                                            <td>@item.Today - @int.Parse(calcrange.ToString())</td>
                                                        }
                                                        else
                                                        {
                                                            calcrange = 0;
                                                            <td>@item.Today</td>
                                                        }

                                                    }

                                                    <td>
                                                        <div class="progress shadow-1-strong">
                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                                <span class="sr-only">0% Complete (success)</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">

                                                        @if (item.Today == "MR")
                                                        {
                                                            <span class="badge badge-warning shadow-2-strong">Medical Report</span>
                                                        }
                                                        else if (item.Today == "AL")
                                                        {
                                                            <span class="badge badge-warning shadow-2-strong">Annual Leave</span>
                                                        }
                                                        else if (item.Today == "NW")
                                                        {
                                                            <span class="badge badge-danger shadow-2-strong">Medical Report</span>
                                                        }
                                                        else if (item.Today == "UL")
                                                        {
                                                            <span class="badge badge-warning shadow-2-strong">Unpaid Leave</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-success shadow-2-strong">Active</span>
                                                        }


                                                    </td>
                                                    <td class="text-center"><a href="#" style="font-size:large;color:black" data-bs-toggle="modal" data-bs-target="#person-info" onclick="getpersoninfo(@item.StaffStamp.StaffId)"><i class="fa fa-info-circle"></i></a></td>
                                                </tr>
                                            }


                                            @*
                                                <tr>
                                                    <td scope="row">1</td>
                                                    <td>ABDULLAH AKTEPE - EX-48</td>
                                                    <td>3</td>
                                                    <td>
                                                        <div class="progress shadow-1-strong">
                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                                <span class="sr-only">0% Complete (success)</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span class="badge badge-success shadow-2-strong">Active</span>
                                                    </td>
                                                    <td class="text-center"><a href="#" style="font-size:large;color:black"><i class="fa fa-info-circle"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">2</td>
                                                    <td>ALEYNA TANRIVERDİ - EX-94</td>
                                                    <td>1</td>
                                                    <td>
                                                        <div class="progress shadow-1-strong">
                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                                                                <span class="sr-only">0% Complete (success)</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span class="badge badge-success shadow-2-strong">Active</span>
                                                    </td>
                                                    <td class="text-center"><a href="#" style="font-size:large;color:black"><i class="fa fa-info-circle"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">3</td>
                                                    <td>ASLI TUFAN - EX-266</td>
                                                    <td>UL</td>
                                                    <td>
                                                        <div class="progress shadow-1-strong">
                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                                <span class="sr-only">0% Complete (success)</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span class="badge badge-success shadow-2-strong">Active</span>
                                                    </td>
                                                    <td class="text-center"><a href="#" style="font-size:large;color:black"><i class="fa fa-info-circle"></i></a></td>
                                                </tr>
                                            *@
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="box-header">
                                <h4 class="text-success">Active Location List</h4>
                            </div>
                            <div class="box-body" style="height:750px;">

                                <div style="height:53.59px;">
                                    <div class="row">
                                        <div class="col-12"><h6>Staff at the location:&nbsp;&nbsp;@Model.ExistStaff.Count()</h6></div>
                                        <div class="col-12"><h6>Active locations:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.PersonMotionLocations.Count()</h6></div>
                                    </div>
                                </div>

                                <div class="inner-content-div border-3 p-10">
                                    <div class="row">
                                        @if (Model.PersonMotionLocations.Count() > 0)
                                        {

                                            @foreach (var item in Model.PersonMotionLocations)
                                            {
                                                <div class="col-12 col-xl-4">
                                                    <div class="box box-inverse shadow-selected waves-effect waves-light" style="background-color:@item.Location.ColorHex">
                                                        <a class="locations" href="#@item.Location.Name" data-bs-toggle="modal" data-bs-target="#location-details" onclick="getlocationDetails(@item.Location.Id)">
                                                            <div class="box-body">
                                                                <div class="text-center my-2">
                                                                    <span style="font-size:x-large">@item.Location.Name</span>
                                                                </div>
                                                                <div class="text-center pt-lg-10">
                                                                    <h5 style="color:white!important;">@item.Counted</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <div class="box box-inverse box-warning shadow-selected waves-effect waves-light">
                                                    <a class="locations">
                                                        <div class="box-body">
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">No location has been added yet!</span>
                                                            </div>
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;"></h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        }


                                        @*
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-success shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-warning shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-info shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-dangers shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xl-4">
                                                <div class="box box-inverse box-danger shadow-selected waves-effect waves-light">
                                                    <a class="locations" href="#COSKUNOZ">
                                                        <div class="box-body">
                                                            <div class="text-center pt-lg-10">
                                                                <h5 style="color:white!important;">COSKUNOZ</h5>
                                                            </div>
                                                            <div class="text-center my-2">
                                                                <span style="font-size:x-large">5</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal center-modal fade" id="person-info" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-opus">
                <h5 class="modal-title person-info-title">Person Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body person-info-body">
                <p></p>
            </div>
            <div class="modal-footer modal-footer-uniform">
                @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary float-end">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal center-modal fade" id="location-details" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-opus">
                <h5 class="modal-title location-details-title">Location Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body location-details-body">
                <p></p>
            </div>
            <div class="modal-footer modal-footer-uniform">
                @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary float-end">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal center-modal fade" id="endofshift" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-warning">
                <h5 class="modal-title endofshift-title">End of time</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body endofshift-body">
                <div class="row">

                    <div class="col-5">
                        <div class="form-group row">
                            <label class="pb-1">Time: </label>
                            <input class="form-control" type="time" name="shifttime" value="@DateTime.Now.ToString("HH:mm")" />
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <div class="form-group row">
                            <label class="pb-1">Meal Time: </label>
                            <select class="form-control" name="mealtime">
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="00:45">00:45</option>
                                <option value="01:00">01:00</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-group-lg btn-primary waves-effect waves-light btn-eoshift" onclick="postEOshift()">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-uniform">
                @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary float-end">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->



@section Scripts{
    <script type="text/javascript">
        var windowtheight = 0;
        var responsiveheight = 0;
        var poststatus = false;
        var selectedLocationId = 0;
        var endofshiftHTML = `
<div>
                        <input class="form-control" type="time" name="shifttime"/>
</div>`;

        $(window).resize(function () {
            changeSize();
        })

        $(document).ready(function () {



            $('#personlist').DataTable({});
            $('.slimScrollDiv').css("height", "600px");
            $('.inner-content-div').css("height", "600px");

            $('a').on('click', '.pinfo', function (e) {
            });
            $('#personlist_length').addClass('d-none');

            changeSize();
        })


        function getpersoninfo(id) {
            $.ajax({
                url: "/person-motion/api/person-info/" + id,
                contentType: "application/json; charset=utf-8",
                type: "GET",
                /*cache: false,*/
                beforeSend: function () {
                    $('.person-info-body').html(`<h3 class="d-flex justify-content-center align-content-center">Loading..</h3>`);
                },
                success: function (data, textStatus, jqXHR) {
                    $('.person-info-title').html(`Person Info - ` + data.fullName);
                    $('.person-info-body').html(`<table id="personlistd" class="table table-bordered table-hover table-striped dataTables mb-0 dataTable no-footer" style="width:auto;"></table>`);
                    $('#personlistd').DataTable({
                        paging: false,
                        searching: false,
                        ordering: false,
                        autoWidth: false,
                        "data": data.locationInOut,
                        "columns": [
                            { "data": "location", "title": "Locations", "width": "160px", "className": "ellipsis-1" },
                            {
                                "data": "inOutType",
                                "title": "In/Out Type",
                                "render": function (data, type, row, meta) {
                                    if (data == 1)
                                        return 'In';
                                    else
                                        return 'Out';
                                },
                                "width": "20px",
                                "className": "text-center"
                            },
                            { "data": "dateStr", "title": "Date", "width": "70px" },
                            { "data": "hour", "title": "Time" },
                            { "data": "break", "title": "Off" },
                        ]
                    });
                }
            });


        }

        function getlocationDetails(locationid) {
            $.ajax({
                url: "/person-motion/api/location-details/" + locationid,
                contentType: "application/json; charset=utf-8",
                type: "GET",
                /*cache: false,*/
                beforeSend: function () {
                    $('.location-details-body').html(`<h3 class="d-flex justify-content-center align-content-center">Loading..</h3>`);
                },
                success: function (data, textStatus, jqXHR) {
                    selectedLocationId = locationid;
                    $('.location-details-title').html(`Location - ` + data.location);

                    $('.location-details-body').html(`
<div class="row">
<div class="col-6"><button class="btn btn-warning waves-effect waves-light" onclick="endcheckboxquery()">End of shift</button></div>
<div class="col-6"><button class="btn btn-danger waves-effect waves-light" onclick="cancelcheckboxquery()">Cancel</button></div>
</div>
<div class="table-responsive" id="locdetresponsive">
<table id="locationdetailsd" class="table table-bordered table-hover table-striped dataTables mb-0 dataTable no-footer" style="width:auto;"></table></div>`);

                    $('#locationdetailsd').DataTable({
                        paging: false,
                        searching: false,
                        ordering: false,
                        autoWidth: false,
                        "data": data.locationDetailItems,
                        "columns": [
                            {
                                "data": "locationInOutId",
                                "title": "#",
                                "width": "50px",
                                "render": function (data, type, row, meta) {
                                    return `<input type="checkbox" name="locinoutstatus[]" id="perinfo` + data + `" class="chk-col-success" value="` + data + `"><label for="perinfo` + data + `"></label>`;
                                }
                            },
                            { "data": "fullName", "title": "Name", "width": "160px", "className": "ellipsis-1" },
                            { "data": "dateStr", "title": "Date", "width": "100px" },
                            { "data": "hour", "title": "InTime" },
                            {
                                "data": "hour",
                                "title": "Status",
                                "render": function (data, type, row, meta) {
                                    return `<span class="badge badge-success shadow-2-strong">Active</span>`;
                                },
                            },
                        ]
                    });

                    changeSize();
                }
            });
        }
        function endcheckboxquery() {

            var values = [];

            $("input[name='locinoutstatus[]']:checked").each(function () {
                values.push($(this).val());
            });
            if (values.length > 0)
                $('#endofshift').modal('show');
            else
                alert("Please select some staff");


        }

        function postEOshift() {

            var test = $("input[name='locinoutstatus']").val();

            var values = [];
            var endoftime = $("input[name='shifttime']").val();
            var mealtime = $("select[name='mealtime']").val();

            $("input[name='locinoutstatus[]']:checked").each(function () {
                values.push($(this).val());
            });
            if (values.length > 0) {
                console.log(status);




                var status = {
                    ids: values,
                    endoftime: $("input[name='shifttime']").val(),
                    mealtime: $("select[name='mealtime']").val()
                };

                //status.ids = values;
                //status.endoftime = $("input[name='time']").val();
                //status.mealtime = $("input[name='mealtime']").val();

                $.ajax({
                    url: "/person-motion/api/endofshift/",
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(status),
                    //cache: false,
                    beforeSend: function () {
                        $('.btn-eoshift').prop('disabled', true);
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.clear();
                        console.log("End Of Shift: ");
                        console.log(data);
                        $('#endofshift').modal("hide");
                        $('.btn-eoshift').prop('disabled', false);

                        Swal.fire(
                            'Success',
                            'Shifts has been successfully ended',
                            'success'
                        )
                        getlocationDetails(selectedLocationId);
                    }
                });

            }
            else {
                alert("Please select some staff");
            }
        }

        function changeSize() {
            windowtheight = $(window).height();
            responsiveheight = windowtheight - 140;
            if (windowtheight < 800) {
                $("#locdetresponsive").height(responsiveheight);
                $("#locdetresponsive").addClass("shadow");
                //$("body").css("overflow-y", "hidden");
                //$("body").css("overflow-y", "hidden");
            }
            else {
                $("#locdetresponsive").removeClass("shadow");
                //$("body").css("overflow-y", "auto");
            }
        }
        /*
        $(document).on('show.bs.modal', '#endofshift', function (e) {
            console.log('endof shift açıldı!');
        });
        */
        $('#endofshift').on('shown.bs.modal', function (e) {
            console.log('endof shift açıldı!');
            console.log(e);

            //filter: blur(4px);
            //$(".content-wrapper").css("backdrop-filter", "blur(2px)");
        });
        $('#endofshift').on('hidden.bs.modal', function (e) {
            console.log('endof shift kapandı!');
            console.log(e);
            //$(".content-wrapper").css("filter", "blur(0px)");

        });

    </script>
}
